<div class="title-box">
  <div class="description-title-box" *ngIf="!loading">
    <div class="description-title-wrapper">
      <h2 class="description-title">Poems</h2>
    </div>
    <b class="b-element"></b>
    <div class="flair-wrapper">
      <img class="flair-img" src="http://www.barbariankeep.com/LSWORD.GIF" alt="">
    </div>
  </div>
</div>

<div class="poem-list">
  <ul class="poem-items">
    <ng-container *ngFor="let poem of poems">
      <li [routerLink]="['/poems', poem.id]" class="poem-item">
        <span class="sword-icon">🗡️</span>
        <span class="poem-title">{{ poem.title }}</span>
      </li>
    </ng-container>
  </ul>
</div>
