.body-wrapper {
  display: flex;
  padding-top: 30px;
}

.story-list-wrapper {
  padding: 0 15px;
  min-height: 52vh;
  padding-bottom: 10vh;
  width: 50%;
}

.story-list {
  text-align: center;
  background-color: var(--red_black);
  margin-top: 25px;
  font-family: 'Lora', Helvetica, Arial, sans-serif !important;
  border-radius: 28px;
  padding: 10px 10px;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

/* Title styling */
.title-text {
  font-size: 36px;
  font-weight: 700;
  color: #9e0101;
  /* text-shadow: 1px 1px 1px #333; */
  font-family: 'Lora', Helvetica, Arial, sans-serif !important;
}

.story-title {
  display:flex;
  justify-content: flex-start;
  text-align: left;
  font-family: var(--inter);
}

.buttons-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* gap: 10px; */
  padding: 10px 0;
  flex-wrap: wrap;
  background-color: var(--red_black);
  border-radius: 28px 28px 0 0;
  /* box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em, rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em, rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset; */
}

.buttons {
  display:flex;
  justify-content: space-between;
  width:100%;
  background-color: var(--red_black);
}

.buttons button {
  background-color: var(--red_black);
  font-family: var(--inter);
  font-weight: 500;
}

.mat-button {
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 14px;
  transition: background-color 0.3s;
}

.mat-button:hover {
  background-color: #0056b3;
}

::ng-deep .mat-mdc-button .mdc-button__label, .mat-mdc-unelevated-button .mdc-button__label, .mat-mdc-raised-button .mdc-button__label, .mat-mdc-outlined-button .mdc-button__label {
  /* color: #fff; */
}

.checkbox-text {
  color: var(--white_color);
  font-family: var(--contentFontFamily);
}

.search-input-wrapper {
  flex-grow: 1;
}

mat-form-field {
  width: 100%;
  margin-right: 10px;
}

::ng-deep .mat-mdc-form-field-subscript-wrapper {
  display: none;
}

/* Story list styling */
.story-items {
  list-style: none;
  padding: 0;
}

.story-box {
  display:flex;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
  margin-top: 15px;
  transition: box-shadow 0.2s ease-in-out;
  height: 76px;
}

.story-box:hover {
  /* box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px; */
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

.story-box:first-child {
  border-radius: 28px 28px 0 0;
}

.story-box:last-child {
  border-radius: 0 0 28px 28px;
}

.story-item {
  font-size: 20px;
  margin: 10px 0;
  padding: 10px;
  /* background-color: rgba(255, 255, 255, 0.8); */
  /* border-radius: 6px; */
  /* border: 1px solid #e0e0e0; */
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 10px;
  width:100%;
}

.story-box:hover {
  background-color: var(--milk_white);
}

.list-box {
  padding: 0 15px;
  overflow-y: scroll;
  height: 60vh;
  background-color: var(--white_milk);
  border-radius: 4px 4px 28px 28px;
  box-shadow: inset 0 4px 8px 3px rgba(0,0,0,.15), inset 0 1px 3px rgba(0,0,0,.3);
}

/* Custom sword icon */
.sword-icon {
  font-size: 24px;
  line-height: 1;
}

.story-title:hover {
  color: var(--red_color);
  cursor: pointer;
}

.spinner-wrapper {
  width: 100%;
  height: 88vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.spinner-box {
  width: 50px;
  height: 50px;
}

.mat-mdc-progress-spinner {
  --mdc-circular-progress-active-indicator-color: var(--body_color);
}

.description-title {
  font-family: var(--contentFontFamily);
  font-weight: var(--superBold);
  color: #9e0000;
  text-align: center;
  border: 4px double #9e0000;
  width: fit-content;
  padding: 0.3em 0.8em;
  margin:0;
}

.description-title-box {
  display: flex;
  align-items: center;
  /* margin-bottom: 50px; */
}

.b-element {
  background-color: #9e0000;
  display: block;
  flex: 1;
  height: 2px;
  opacity: 0.5;
}

.title-box {
  padding-top: 50px;
  padding-bottom: 15px;
  padding-left: 50px;
  padding-right: 50px;
}

.flair-img {
  width: 150px;
  height: auto;
  margin-left: -1px;
}

.active-button {
  background-color: #9e0101;
  color: #FFF;
  box-shadow:rgba(158, 1, 1, 1);
}

.header-wrapper {
  width:50%;
}

.header {
  text-align: center;
    padding: 30px;
    /* background-color: #9e0101; */
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.header-description {
  font-family: var(--contentFontFamily);
  text-align: justify;
  text-indent: 3rem;
  font-size: 1.1rem;
  line-height: 1.5;
  color: var(--black_white);
}

.main-title {
  font-size: 36px;
  font-family: var(--headerFontFamily);
  color: var(--red_milk);
  margin: 0;
  font-weight: bold;
}

.subheader {
  font-size: 20px;
  font-family: var(--contentFontFamily);
  color: var(--black_white);
  margin: 0;
  line-height: 1.2;
}

.list-header {
  text-align: center;
  font-family:var(--headerFontFamily);
  color: var(--black_white);
  padding-top: 16px;
}

/* Styles for the search container */
.search-container {
  display: flex;
  align-items: center;
  box-shadow: rgb(204, 219, 232) 3px 3px 6px 0px inset, rgba(255, 255, 255, 0.5) -3px -3px 6px 1px inset;
  border-radius: 4px 4px;
  width:100%;
}

/* Styles for the search input field */
.search-input-field {
  flex-grow: 1;
  padding: 10px;
  border: 2px solid #e0e0e0;
  border-radius: 4px 0px 0px 4px;
  height: 40px;
  outline: none;
  background-color: #f5f5f5;
  color: #333;
  transition: background-color 0.3s ease;
  font-family: var(--inter);
  font-size: var(--contentFontSize);
}

/* Darken the input field background on hover */
.search-input-field:hover {
  background-color: #e0e0e0; /* Adjust the desired hover background color */
}

/* Styles for the search button */
.search-button {
  background-color: var(--black_red); /* Change this to your desired button color */
  color: #fff;
  border: none;
  border-radius: 0px 4px 4px 0px;
  height: 40px;
  padding: 8px;
  cursor: pointer;
  transition: box-shadow 0.2s ease-in-out;
}

/* Add box shadow to the search button on hover */
.search-button:hover {
  /* background-color: #0056b3; */
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.2); /* Adjust the box shadow as needed */
}

.cascade-animation {
  animation: fadeIn 0.5s ease forwards;
  opacity: 0;
}

.tail-image-wrapper {
  display:flex;
  justify-content: center;
  width:100%;
  padding: 10px;
}

.tail-image {
  width:30%;
  height:auto;
}

.standout-text {
  color: var(--red_milk);
}
.standout-text:hover {
  color: var(--red_black);
  text-decoration:underline;
  cursor: pointer;
}

/* breadcrumb navigation */
.breadcrumbnav {
  list-style: none;
  padding: 0;
}

.breadcrumbnav li {
  display: inline-block;
}

.breadcrumbnav li:last-child {
  color: var(--black_white);
}

.breadcrumbnav li:last-child a {
  color: var(--red_white);
  font-weight: bold;
}

.breadcrumbnav li::after {
  content: "\00a0  > \00a0";
  color: var(--red_white);
}

.breadcrumbnav li:last-child::after {
  content: "";
}

.breadcrumbnav a {
  font-weight: normal;
  text-decoration: none;
  color: var(--red_white);
}

.breadcrumbnav a:hover {
  text-decoration: underline;
}

@keyframes fadeIn {
  from {
    transform: translateY(-10px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@media screen and (max-width:1087px) {
  .body-wrapper {
    flex-direction: column;
    padding-top:0;
  }
  .header-wrapper {
    width:100%;
  }
  .story-list-wrapper {
    width: 100%;
  }
  .header-description {
    text-indent:0;
  }
  .list-box {
    padding: 0 15px;
  }
}

@media screen and (max-width: 765px) {
  .buttons {
    display: flex;
    width:100%;
    justify-content: space-between;
  }
  .search-container {
    width: 100%;
  }
  .story-list-wrapper {
    padding: 0;
  }
  .header-wrapper {
    padding-left: 0;
    padding-right: 0;
  }
  .header {
    padding:0;
  }
}

@media screen and (max-width: 624px) {

  .flair-img {
    width: 130px;
  }

  .story-list {
    padding:0;
  }

  .story-title {
    font-size: 14px;
  }

  .sort-button {
    font-size: 12px;
  }

  .title-box {
    padding-left: 5px;
    padding-right: 5px;
  }

  .description-title {
    font-size: 14px;
  }

  .main-title {
    font-size:24px;
  }

  .subheader {
    font-size:16px;
  }
}

