<!-- <div class="title-box">
  <div class="description-title-box" *ngIf="!loading">
    <div class="description-title-wrapper">
      <h2 class="description-title">Poems</h2>
    </div>
    <b class="b-element"></b>
    <div class="flair-wrapper">
      <img class="flair-img" src="http://www.barbariankeep.com/LSWORD.GIF" alt="">
    </div>
  </div>
</div> -->

<div class="header-wrapper">
  <div class="header">
    <h1 class="main-title">Poems</h1>
    <p class="subheader">
      A potent blend of heroic and fantastical themes
    </p>
  </div>
</div>

<!-- <div class="poem-list">
  <ul class="poem-items">
    <ng-container *ngFor="let poem of poems">
      <li [routerLink]="['/poems', poem.id]" class="poem-item">
        <span class="sword-icon">🗡️</span>
        <span class="poem-title">{{ poem.title }}</span>
      </li>
    </ng-container>
  </ul>
</div> -->

<div class="poem-list">
  <div class="buttons-container">
    <button mat-button class="checkbox-text" [ngClass]="{'active-button': sortTitleActive}" (click)="sortPoemsByTitle()">Title</button>
    <button mat-button class="checkbox-text" (click)="clearFilters()">Clear</button>
    <div class="search-input-wrapper">
      <mat-form-field>
        <input matInput type="text" [(ngModel)]="searchQuery" placeholder="Search poems..." (input)="filterPoems()">
      </mat-form-field>
    </div>
  </div>
  <ul class="poem-items">
    <ng-container *ngFor="let poem of filteredPoems">
      <div style="display:flex; border-bottom: 1px solid;">
        <li class="poem-item">
          <div style="display: flex; justify-content: space-between; width: 100%; align-items: center;">
            <div style="display:flex; gap:15px;">
              <span class="sword-icon">🗡️</span>
              <span [routerLink]="['/poems', poem.id]" class="poem-title">{{ poem.title }}</span>
            </div>
            <div style="display:flex; justify-content:flex-end;">
              <span class="add-button">
                <button mat-button (click)="openUserListDialog(poem)">
                  <mat-icon>more_vert</mat-icon>
                </button>
              </span>
            </div>
          </div>
        </li>
      </div>
    </ng-container>
  </ul>
</div>
