<div class="title-box">
  <div class="description-title-box" *ngIf="!loading">
    <h2 class="description-title">Characters</h2>
    <b class="b-element"></b>
    <div class="flair-wrapper">
      <img class="flair-img" src="http://www.barbariankeep.com/LSWORD.GIF" alt="">
    </div>
  </div>
</div>

<div *ngIf="isLoaded">
  <div class="contents-wrapper">
    <ul class="contents-list">
      <ng-container *ngFor="let person of persons">
        <li class="contents-list-items" [routerLink]="['/characters', person.id]">{{ person.name }}</li>
      </ng-container>
    </ul>
  </div>
</div>

<div class="spinner-wrapper" *ngIf="!isLoaded">
  <div class="spinner-box">
    <mat-spinner></mat-spinner>
  </div>
</div>

