.main {
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.content-title {
  max-width: 1010px;
  background-color: rgba(0, 0, 0, 0.32);
  width: 100%;
  display: flex;
  justify-content: center;
  min-height: 60px;
  padding: 20px 0;
}

.content-title-text {
  font-size: 2rem;
  color: #fff;
  font-weight: 500;
  font-family: var(--inter);
}

.content-wrapper {
  display: flex;
  max-width: 1010px;
}

.magazine-wrapper {
  display:flex;
  flex-direction: column;
}

.magazine-image-wrapper {

}

.magazine-image {
  width: 350px;
  height: 500px;
}

.magazine-title-wrapper {

}

.magazine-title {
  font-size: 0.9rem;
  font-weight: 500;
  color: var(--black_white);
  font-family: var(--inter);
  letter-spacing: 0.05em;
  text-rendering: optimizeSpeed;
  margin-bottom: 0;
  text-transform:uppercase;
}

.magazine-thumbnail {
  width: 365px;
  height: 400px;
}

.magazine-meta {

}

.description-text {
  color: var(--black_white);
}
