.main {
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 50px;
}

.content-title {
  max-width: 1010px;
  background-color: #262626;
  width: 100%;
  display: flex;
  justify-content: center;
  min-height: 60px;
  padding: 20px 0;
  border: 3px solid transparent;
  border-image: url(https://wa-cdn.nyc3.cdn.digitaloceanspaces.com/assets/themes/steampunk/images/border.png) 20;
}

.content-title-text {
  font-size: 2rem;
  color: #fff;
  font-weight: 500;
  font-family: var(--contentFontFamily);
}

.content-wrapper {
  display: flex;
  max-width: 1010px;
  margin-top: 30px;
  justify-content: space-between;
  padding: 0;
}

.magazine-wrapper {
  display:flex;
  flex-direction: column;
}

.magazine-thumbnail-wrapper {
  display: flex;
    justify-content: center;
}

.magazine-image-wrapper {
  margin-right: 40px;
}

.description-wrapper {
  text-align: left;
  font-size: var(--body_font);
  font-family: var(--headerFontFamily);
  color: var(--title_color);
  padding-left: 25px;
  margin: 0;
  line-height: 1.1;
  padding: 15px;
  background-color: #262626;
  border: 3px solid transparent;
  border-image: url(https://wa-cdn.nyc3.cdn.digitaloceanspaces.com/assets/themes/steampunk/images/border.png) 20;
}

.magazine-image {
  width: 350px;
  height: 500px;
  border: 6px solid transparent;
  border-image: url(https://wa-cdn.nyc3.cdn.digitaloceanspaces.com/assets/themes/steampunk/images/border.png) 20;
}

.magazine-title-wrapper {

}

.magazine-title {
  font-size: 0.9rem;
  font-weight: 500;
  color: var(--black_white);
  font-family: var(--inter);
  letter-spacing: 0.05em;
  text-rendering: optimizeSpeed;
  margin-bottom: 0;
  text-transform:uppercase;
}

.magazine-thumbnail {
  width: 325px;
  height: 355px;
  filter: drop-shadow(5px 5px 5px black);
}

.magazine-meta {

}

.description-text {
  color: var(--white_color);
  margin: 0;
  font-family: var(--contentFontFamily);
  font-size: 20px;
  text-align: center;
}

@media screen and (max-width: 920px) {
  .content-wrapper {
    flex-direction: column-reverse;
  }
  .magazine-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .description-wrapper {
    margin-bottom: 50px;
  }
  .magazine-image-wrapper {
    margin-right: 0;
  }
}
