<!-- <div class="main">
  <div class="content-title">
    <p class="content-title-text">{{ weirdTales.title }}</p>
  </div>
  <div class="content-wrapper">
    <div class="magazine-wrapper">
      <div class="magazine-thumbnail-wrapper">
        <img class="magazine-thumbnail" src="{{ weirdTales.thumbnailUrl }}" alt="">
      </div>
      <div class="magazine-image-wrapper">
        <img class="magazine-image" src="{{ weirdTales.imageUrl }}" alt="">
      </div>
      <div class="magazine-title-wrapper">
        <h6 class="magazine-title">{{ weirdTales.title }}</h6>
      </div>
    </div>
    <div class="magazine-meta">
      <p class="description-text">{{ weirdTales.description }}</p>
    </div>
  </div>
</div> -->

<div class="main">
  <div class="content-title">
    <p class="content-title-text">{{ weirdTales.title }}</p>
  </div>
  <div class="content-wrapper">
    <div class="magazine-wrapper">
      <div class="magazine-image-wrapper">
        <img class="magazine-image" src="{{ weirdTales.imageUrl }}" alt="">
      </div>
      <div class="magazine-title-wrapper">
        <h6 class="magazine-title">{{ weirdTales.title }}</h6>
      </div>
    </div>
    <div class="magazine-meta">
      <div class="magazine-thumbnail-wrapper">
        <img class="magazine-thumbnail" src="{{ weirdTales.thumbnailUrl }}" alt="">
      </div>
      <div class="description-wrapper">
        <p class="description-text">{{ weirdTales.description }}</p>
      </div>
    </div>
  </div>
</div>
