@keyframes slideIn {
  0% {
    transform: translateX(-100px);
    opacity: 0;
  }
  75% {
    transform: translateX(20px);
    opacity: 0.7;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

.buttons-wrapper {
  display: flex;
  justify-content: space-between;
  padding-bottom: 5px;
}

.toggle-container {
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 5px;
}

.toggle-label {
  transition: color 0.2s ease-in-out;
  color: var(--red_white);
  font-size:1rem;
}

.toggle-label:hover {
  cursor: pointer;
  color: var(--red_white_hover);
}

.custom-button {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.with-icon {
  flex-direction: row-reverse;
}

.checkmark-icon {
  text-align: center;
  margin-right: 0;
  color: var(--black_white);
}

.posts-header {
  text-align: left;
  padding: 10px;
  width: 100%;
  margin-bottom: 30px;
  background-color: var(--red_black);
  color: var(--white_color);
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
  border: 3px solid transparent;
  border-image: url(https://wa-cdn.nyc3.cdn.digitaloceanspaces.com/assets/themes/steampunk/images/border.png) 30;
}

.posts-header h2 {
  margin: 0;
  font-family: var(--contentFontFamily);
}

.collection {
  /* opacity: 0; */
  /* transform: translateX(-100px); */
  /* transition: opacity 0.5s ease-out; */
  height: 320px;
  width: fit-content;
  height: fit-content;
}

.collection.visible {
  animation: slideIn 0.6s ease-out forwards;
}

.collection-card:hover {
  box-shadow: rgba(8, 8, 32, 0.8) 0px 0px 6px 2px;
  transition: box-shadow 0.1s ease 0s;
  cursor:pointer;
}

.thumbnail-img {
  border: 1px solid black;
  max-width: 182px;
}

.collection-title {
  text-align:center;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: var(--headerFontFamily);
  transition: padding-top .2s ease, margin-bottom .2s ease;
}

.collection-title a {
  text-decoration: none;
  color: #9e0000;
  font-family: var(--headerFontFamily);
}

.collection-title:hover a {
  text-decoration: underline;
}

::ng-deep .mat-typography h4 {
  font-size:var(--headerFontSize);
  font-weight: var(--superBold);
  font-family: var(--headerFontFamily);
}

.main {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 10px;
}

.collection-thumbnail {
  text-align: center;
}


 .main {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 20px;
}

.collection-list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.collection-item {
  margin: 5px;
}

.collection-card {
  background-color: #fff;
  border: 1px solid rgb(44, 44, 44);
  border-radius: 4px;
  box-shadow: 1px 1px 2px 0px;
  max-height: 377.76px;
  height: 377.76px;
  display: flex;
  flex-direction: column;
  /* justify-content: space-between; */
  max-width: 260px;
  width: 260px;
  padding: 10px;
  transition: box-shadow 0.2s ease-in-out;
  box-sizing: border-box;
}

.collection-card:hover {
  box-shadow: rgba(8, 8, 32, 0.8) 0px 0px 6px 2px;
  cursor: pointer;
}

.thumbnail-img {
  border: 1px solid black;
  max-width: 182px;
  height: auto;
  margin: 0 auto;
}

.collection-title {
  text-align: center;
  margin-top: 10px;
  margin-bottom: 30px;
}

.collection-title a {
  text-decoration: none;
  color: var(--red_white);
  transition: color 0.2s ease-in-out;
}

.collection-title a:hover {
  text-decoration: underline;
  color: var(--red_color);
}

h4 {
  margin: 0;
}

.main-title {
  display: flex;
  justify-content: center;
  padding: 25px;
  padding-bottom: 0;
}

.title-container {
  display: flex;
  justify-content: center;
}

.title-text {
  font-size: 30px;
  font-family: Libre Baskerville,Helvetica,Arial,sans-serif;
  font-weight: 700;
  color: #9e0000;
}

/* Add styles for the book container */
.frame {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
}

/* Add styles for the collection container */
.collection-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-content: space-between;
  width: fit-content;
  padding-top: 10px;
}

.header-wrapper {
  width:100%;
}

.header {
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding-bottom: 20px;
}

.header-description {
  font-family: var(--contentFontFamily);
  text-align: center;
  font-size: 1.1rem;
  line-height: 1.5;
  color: var(--black_white);
}

.main-title {
  font-size: 36px;
    font-weight: bold;
    font-family: var(--headerFontFamily);
    color: var(--red_milk);
    margin: 0;
}

.subheader {
  font-size: 20px;
  font-family: var(--contentFontFamily);
  margin: 0;
  line-height: 1.2;
  color: var(--black_white);
}

/* Book */
.book {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: auto;
  margin: 25px;
  margin-bottom: 10px;
  padding: 0;
  transform: translate3d(0, 0, 0);
  perspective: 800px;
  width: 250px;
}

.loading-book {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: auto;
  margin: 25px;
  margin-bottom: 10px;
  /* margin-bottom: 100px; */
  padding: 0;
  transform: translate3d(0, 0, 0);
  perspective: 800px;
  width: 250px;
}

.book:hover {
  cursor: pointer;
}

.book:hover .collection-title h4 {
  color: var(--active_color);
  text-decoration: underline;
}

.book:hover .collection-title {
  padding-top: 30px;
  margin-bottom:0;
}

.book ul {
  display: block;
  position: relative;
  width: 200px;
  height: 300px;
  margin: 0;
  padding: 0;
  list-style: none;
  perspective-origin: 0 50% 0;
  perspective: 800px;
  -webkit-transform: translate3d(0, 0, 0);
}

.book ul > li {
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 200px;
  height: 300px;
  padding: 0;
  margin: 0;
  background-color: #ffffff;
  transform-origin: 0 50% 0;
  transform-style: preserve-3d;
  transition: all 0.5s cubic-bezier(0.25, 1, 0.25, 1);
  backface-visibility: hidden;
  border: 1px solid black;
}

.book ul > img {
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 200px;
  height: 300px;
  padding: 0;
  margin: 0;
  background-color: #ffffff;
  transform-origin: 0 50% 0;
  transform-style: preserve-3d;
  transition: all 0.5s cubic-bezier(0.25, 1, 0.25, 1);
  backface-visibility: hidden;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

/* Book Cover and Pages */
.cover {
  z-index: 2 !important;
  display: block;
  width: 200px;
  height: 300px;
  /* background: #333 !important; */
  background: #3f371f url(//www.blogblog.com/1kt/awesomeinc/body_background_dark.png) repeat scroll top left !important;
  transform: rotateY(0deg) translateZ(0px);
}

.page1 {
  display: none;
  transform: rotateY(20deg) translateZ(-1px);
}

.page2 {
  display: none;
  transform: rotateY(30deg) translateZ(-2px);
}

.page3 {
  display: none;
  transform: rotateY(40deg) translateZ(-3px);
}

/* Book Hover Effects */
.book:hover .page1 {
  display: block;
  transform: rotateY(-34deg);
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.book:hover .page2 {
  display: block;
  transform: rotateY(-27deg);
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.book:hover .page3 {
  display: block;
  transform: rotateY(-15deg);
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.book:hover .cover {
  transform: rotateY(-40deg);
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  filter: brightness(1.1);
}

.image-glow {
  transition: filter 0.6s;
}

.image-glow:hover {
  filter: brightness(1.1);
}

.spinner-wrapper {
  width: 100%;
  height: 88vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.spinner-box {
  width: 50px;
  height: 50px;
}

.mat-mdc-progress-spinner {
  --mdc-circular-progress-active-indicator-color: var(--body_color);
}

.description-title {
  font-family: var(--contentFontFamily);
  font-weight: var(--superBold);
  color: #9e0000;
  text-align: center;
  border: 4px double #9e0000;
  width: fit-content;
  padding: 0.3em 0.8em;
  margin:0;
}

.description-title-box {
  display: flex;
  align-items: center;
  /* margin-bottom: 50px; */
}

.b-element {
  background-color: #9e0000;
  display: block;
  flex: 1;
  height: 2px;
  opacity: 0.5;
}

.title-box {
  padding-top: 50px;
  padding-bottom: 15px;
  padding-left: 50px;
  padding-right: 50px;
}

.flair-img {
  width: 150px;
  height: auto;
  margin-left: -1px;
}

.tail-image-wrapper {
  display:flex;
  justify-content: center;
  width:100%;
  margin-bottom:30px;
  margin-top:50px;
}

.tail-image {
  width:30%;
  height:auto;
}

/* breadcrumb navigation */
.breadcrumbnav {
  list-style: none;
  padding: 0;
}

.breadcrumbnav li {
  display: inline-block;
}

.breadcrumbnav li:last-child {
  color: var(--black_white);
}

.breadcrumbnav li:last-child a {
  color: var(--red_white);
  font-weight: bold;
}

.breadcrumbnav li::after {
  content: "\00a0  > \00a0";
  color: var(--red_white);
}

.breadcrumbnav li:last-child::after {
  content: "";
}

.breadcrumbnav a {
  font-weight: normal;
  text-decoration: none;
  color: var(--red_white);
}

.breadcrumbnav a:hover {
  text-decoration: underline;
}

@media screen and (max-width: 624px) {
  .collection-container {
    justify-content: space-evenly;
  }

  .collection-title-text {
    font-size: 12px;
  }

  .book {
    width: 150px;
    margin-left: 5px;
    margin-right: 5px;
    margin:5px;
  }

  .loading-book {
    width: 150px;
    margin-left: 5px;
    margin-right: 5px;
    margin:5px;
  }

  .book ul {
    width: 120px;
    height: 180px;
  }

  .book ul > li {
    width: 120px;
    height: 180px;
  }

  .book ul > img {
    width: 120px;
    height: 180px;
  }

  .cover {
    width: 120px;
    height: 180px;
  }

  .book:hover .page1 {
    display: block;
    transform: rotateY(-34deg);
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  }

  .book:hover .page2 {
    display: block;
    transform: rotateY(-27deg);
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  }

  .book:hover .page3 {
    display: block;
    transform: rotateY(-15deg);
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  }

  .book:hover .cover {
    transform: rotateY(-40deg);
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  }

  .flair-img {
    width: 130px;
  }

  .title-box {
    padding-left: 5px;
    padding-right: 5px;
  }

  .description-title {
    font-size: 14px;
  }
}

@media screen and (max-width: 393px) {

  /* .flair-img {
    display:none;
  }

  .b-element {
    display:none;
  }

  .collection-container {
    width:unset;
  }

  .description-title-box {
    justify-content: center;
  }

  .title-box {
    padding:0;
    padding-left: 5px;
    padding-right: 5px;
  } */

}
