<div  *ngIf="loading" class="spinner-wrapper">
  <div class="spinner-box">
    <mat-spinner></mat-spinner>
  </div>
</div>

<div class="header-wrapper">
  <div class="header">
    <h1 class="main-title">Collections</h1>
    <p class="subheader">Robert E. Howard's writings in Del Rey published collections.</p>
  </div>
</div>

<div class="collection-container">
  <ng-container *ngFor="let collection of collections; let i = index">
    <div class="book" [routerLink]="['/collections', collection.id]" *ngIf="!collection.isLoadingImage && i <= 10">
      <a>
        <ul>
          <li class="page page3"></li>
          <li class="page page2"></li>
          <li class="page page1"></li>
          <img class="cover" src="{{ collection.collectionImages[0].imageUrl }}" alt="Book Cover" loading="lazy">
        </ul>
      </a>
      <div class="collection-title">
        <a [routerLink]="['/collections', collection.id]">
          <h4 class="collection-title-text">{{ collection.title }}</h4>
        </a>
      </div>
    </div>
  </ng-container>
</div>
<app-svg-element></app-svg-element>



