<div class="main">
  <div class="main-title">
    <div class="title-container">
      <h1 class="title-text">Collections</h1>
    </div>
  </div>
  <ul class="collection-list">
    <ng-container *ngFor="let collection of collections">
      <li class="collection-item">
        <div class="collection-card">
          <a [routerLink]="['/collections', collection.id]" class="collection-thumbnail">
            <img class="thumbnail-img" src="{{ collection.collectionImages[0].imageUrl }}" alt="" loading="lazy">
          </a>
          <div class="collection-title">
            <a [routerLink]="['/collections', collection.id]">
              <h4>{{ collection.title }}</h4>
            </a>
          </div>
        </div>
      </li>
    </ng-container>
  </ul>
</div>
