<div *ngIf="!sending && !error && !countdownStarted">
  <h2>Reset Password</h2>
  <form (submit)="onSubmit($event)">
    <label for="email">Email:</label>
    <input type="email" [(ngModel)]="email" name="email" required />
    <button type="submit">Send Reset Link</button>
  </form>
</div>

<div *ngIf="!sending && !error && countdownStarted" class="alert alert-info">
  {{ statusMessage }}
  <div>
    Redirecting in {{ countdown }} seconds...
  </div>
</div>
<div *ngIf="sending" class="alert alert-info">
  Sending email...
</div>
<div *ngIf="error" class="alert alert-danger">
  {{ statusMessage }}
</div>

<div *ngIf="sending" class="overlay">
  <p id="name">Please wait...</p>
  <div class="centre">
    <div class="loader"></div>
  </div>
</div>
