.main {
  padding-top: 25px;
  padding-bottom: 50px;
  margin-bottom: 100px;
}

.main .wrapper {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 50px;
}

@keyframes slideIn {
  0% {
    transform: translateX(-100px);
    opacity: 0;
  }
  75% {
    transform: translateX(20px);
    opacity: 0.7;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

.magazine {
  text-align: center;
  opacity: 0;
  transform: translateX(-100px);
  transition: opacity 0.5s ease-out;
  height: 320px;
}

.magazine:hover .title-text {
  color: var(--red_milk);
}

.magazine.visible {
  animation: slideIn 0.6s ease-out forwards;
}

.magazine-thumbnail {
  max-width: 370px;
  max-height: 340px;
  overflow: hidden;
}

.thumbnail-element {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.title-text {
  font-size: 0.9rem;
  font-weight: 500;
  color: var(--black_white);
  font-family: var(--inter);
  letter-spacing: 0.05em;
  text-rendering: optimizeSpeed;
  margin-bottom: 0;
  text-transform:uppercase;
  padding-left: 15px;
  border-left: 3px solid var(--red_black);
}

.magazine img {
  transition: filter .6s,opacity .6s,transform .6s,box-shadow .3s;
}

.magazine:hover img {
  filter: grayscale(100) drop-shadow(1px 2px 3px #262626);
}

.magazine:hover {
  cursor: pointer;
}

.magazine:not(.visible) {
  visibility: hidden;
}

@media screen and (max-width: 850px) {
  .main .wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
  }
  .magazine {
    height: 320px;
  }
}

@media screen and (max-width: 550px) {
  .main .wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
  }
  .magazine {
    height: 280px;
  }
}

@media screen and (max-width: 400px) {
  .title-text {
    text-align: end;
    font-size: 0.8rem;
  }
  .magazine {
    height: 210px;
  }
}
