::ng-deep .mat-mdc-menu-content {
  margin: 0;
  padding: 0 !important;
  min-width: 240px;
  max-width: 320px;
  border-radius: 6px;
  min-height:fit-content;
  box-shadow: 0 6px 10px 0 rgba(0,0,0,.14), 0 1px 18px 0 rgba(0,0,0,.12), 0 3px 5px 0 rgba(0,0,0,.2);
}

::ng-deep .mat-mdc-menu-content > .mat-mdc-menu-item {
  padding: 0 !important;
  padding-left: 10px !important;
  padding-right: 10px !important;
  font-family: var(--inter);
  font-size: var(--header_font);
  font-weight: 300;
  color: var(--black_white);
}

::ng-deep .mat-mdc-menu-item .mdc-list-item__primary-text {
  font-family: var(--inter) !important;
  font-size: var(--body_font) !important;
  font-weight: var(--superBold) !important;
  color: var(--black_white);
}

::ng-deep .mat-mdc-menu-content .mat-mdc-menu-item:hover {
  background-color: var(--red_color);
}

::ng-deep .mat-mdc-menu-item:hover .mdc-list-item__primary-text {
  color:var(--white_color) !important;
}

::ng-deep .mat-mdc-menu-panel.mat-mdc-menu-panel {
  background-color: var(--white_black);
}

.menu {
  background-color: var(--white_black);
  max-height: 100%;
  overflow: hidden;
  opacity: 0;
  transition: max-height 0.3s, opacity 0.3s;
}

.navbar-btn-group {
  font-family: var(--inter);
  font-size: var(--body_font);
  color: var(--black_white);
  margin-left: 10px;
  padding: 0;
  padding-right: 8px;
  padding-left: 8px;
  height: 40px;
  line-height: 28px;
  border: 1px solid #e0e0e0;
  flex: 1;
  border-radius: 28px;
}

.auth-menu-row .navbar-btn-group span {
  color:var(--black_white);
}

.auth-menu-row .profile-button {
  color: var(--black_color);
  height: 40px;
  padding: 5px;
  border-radius: 28px;
}

.profile-text {
  font-family: var(--inter);
  font-size: 1rem;
}

.logo-img {
  border: 1px solid var(--black_red);
}

.menu-row {
  padding: 10px;
  border-bottom: 1px solid #ccc;
  text-align: center;
  font-family: var(--inter) !important;
  text-transform: capitalize;
  font-size: var(--body_font);
  color: var(--black_white);
}

.navbar {
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  position: relative;
  padding: 0;
  color: #fff;
  background-color: var(--red_black);
}

.menu-row:hover {
  cursor: pointer;
  background-color: var(--red_color);
  color: var(--white_color);
}

.menu-row:hover .navbar-btn-group {
  cursor: pointer;
  background-color: var(--red_color);
  color: var(--white_color);
}

.profile-button {
  padding: 0;
  padding-right: 8px;
  padding-left: 8px;
  height: 40px;
  line-height: 28px;
  border: 1px solid #e0e0e0;
  flex:1;
}

.logout-button {
  margin-left: 10px;
  padding: 0;
  padding-right: 8px;
  padding-left: 8px;
  height: 40px;
  line-height: 28px;
  border: 1px solid var(--border_color);
  flex:1;
  background-color: var(--bkg_color);
  color: #fff;
  width:100%;
}

.flex-menu-row {
  padding: 10px;
  border-bottom: 1px solid #ccc;
  text-align: center;
  font-family: var(--body_font);
  text-transform: uppercase;
}

.flex-menu-row:hover {
  cursor: pointer;
  /* background-color: #9e0000; */
  /* color: #fff; */
}

.app-logo {
  margin:0;
  font-size: 20px;
  font-family: var(--contentFontFamily);
  padding-left: 15px;
  align-self: center;
}

.mat-toolbar-row {
  justify-content: space-between;
}

.logo-box {
  display: flex;
  align-items: center;
}

.logo-box:hover {
  cursor: pointer;
}

/* Styles for the search container */
.search-container {
  display: flex;
  align-items: center;
}

/* Styles for the search input field */
.search-input-field {
  flex-grow: 1;
  padding: 10px;
  border: 1px solid #e0e0e0;
  border-radius: 28px 0 0 28px;
  height: 40px;
  outline: none;
  background-color: #f5f5f5;
  color: #333;
  transition: background-color 0.3s ease;
  font-family: var(--inter);
  font-size: var(--contentFontSize);
  box-shadow: inset 0 4px 8px 3px rgba(0,0,0,.15), inset 0 1px 3px rgba(0,0,0,.3);
}

/* Darken the input field background on hover */
.search-input-field:hover {
  background-color: #e0e0e0;
}

/* Styles for the search button */
.search-button {
  background-color: var(--black_red) !important;
  color: #fff !important;
  border: none;
  border-radius: 0px 28px 28px 0px;
  height: 40px;
  padding: 8px;
  cursor: pointer;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
}

/* Add box shadow to the search button on hover */
.search-button:hover {
  /* box-shadow: 0 0 8px rgba(0, 0, 0, 0.2); */
}

.auth-container {
  display: flex;
  padding-right: 10px;
}

.auth-container .navbar-btn-group {
  background-color: var(--red_black);
  color: var(--title_color);
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
  min-width: 107px;
  border-radius: 28px;
  font-size: 1rem;
}

.auth-menu-row {
  display:none;
}

.small-app-logo {
  display:none;
}

@media screen and (max-width: 700px) {

  .logo-box {
    position:unset;
    left:unset;
    transform:none;
    display: flex;
    align-items: center;
    width: 100%;
  }

}

@media screen and (max-width: 575px) {

  .app-logo {
    display:none;
  }

  .small-app-logo {
    display: flex;
    margin: 0;
    font-size: 20px;
    font-family: var(--contentFontFamily);
    align-self: center;
  }

  .logo-box {
    position:unset;
    left:unset;
    transform:none;
    display: flex;
    align-items: center;
    width: 100%;
  }
}

@media screen and (max-width: 1088px) {
  .auth-row {
    display: none;
  }

  .flex-menu {
    display: none;
  }

  #nav-menu-btn {
    display: none;
  }

  #mat-toolbar-menu-row {
    padding-left:5px;
  }

  .flex-menu-row {
    border-bottom: none;
    display: none;
  }

  .logo-menu-wrapper {
    display:flex;
    align-items: center;
  }

  .search-auth-wrapper {
    display:flex;
    align-items: center;
  }

  .menu-btn-wrapper {
    display: flex;
  }
}

@media screen and (min-width: 1088px) {

  .mat-toolbar-row {
    display:flex;
    justify-content:space-between;
  }

  .logo-box {
    display:contents;
    justify-content: flex-start;
    position: unset;
    left: unset;
    transform: unset;
  }

  .flex-menu {
    display: inline-flex;
    font-size: 12px;
    align-items: center;
  }

  .flex-menu-row {
    display: flex;
    border-bottom: none;
  }

  .menu-button {
    display: none;
  }

  .auth-row {
    display: flex;
    justify-content: flex-end;
    background-color: #efe9c5;
    height: 30px;
    padding-top: 10px;
  }

  .auth-wrapper {
    display: flex;
    justify-content: flex-end;
  }

  .navbar {
    border-bottom: none;
    padding: 0;
  }

  .logo-menu-wrapper {
    display:flex;
    align-items: center;
  }

  .search-auth-wrapper {
    display:flex;
    align-items: center;
  }

  #nav-menu-btn {
    margin-left: 15px;
    padding: 0;
    padding-right: 8px;
    padding-left: 8px;
    height: 40px;
    line-height: 28px;
    border: 1px solid var(--white_color);
    font-family: var(--inter);
    background-color:var(--red_black);
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
    min-width: 107px;
    border-radius: 28px;
    font-size: 1rem;
  }

}

@media screen and (max-width: 680px) {
  .auth-menu-row {
    display:flex;
    justify-content: space-between;
    padding: 10px;
    border-bottom: 1px solid #ccc;
    text-align: center;
    font-family: var(--inter);
    text-transform: uppercase;
  }

  .navbar-btn-group {
    flex:1;
  }

  .auth-container {
    display:none;
  }
}

@media screen and (max-width: 560px) {
  .auth-menu-row {
    flex-direction: column;
    gap:5px;
  }
}
