<mat-toolbar class="navbar">
  <mat-toolbar-row id="mat-toolbar-menu-row">
    <div class="menu-btn-wrapper">
      <button class="menu-button" style="margin-right: 5px;" mat-icon-button (click)="toggleMenu()">
        <mat-icon *ngIf="!this.isMenuOpen">menu</mat-icon>
        <mat-icon *ngIf="this.isMenuOpen">close</mat-icon>
      </button>

      <div class="logo-menu-wrapper">
        <!-- Centered Flex Container -->
        <div class="logo-box" [routerLink]="['/home']" (click)="menuState === 'expanded' ? toggleMenu() : null">
          <div style="display:flex;">
            <h1 class="app-logo">The Robert E. Howard Treasury</h1>
            <h1 class="small-app-logo">Howard Treasury</h1>
          </div>
        </div>

        <!-- Button to trigger the menu -->
        <button id="nav-menu-btn" mat-button [matMenuTriggerFor]="menu">Menu<span>
          <mat-icon style="vertical-align: top; padding-top: 3px;">
            arrow_drop_down
            </mat-icon>
          </span>
        </button>
      </div>
    </div>

  <div class="search-auth-wrapper">
    <!-- Auth Buttons Container -->
    <div class="auth-container">
      <button mat-raised-button class="navbar-btn-group" mat-button *ngIf="!loggedIn()" (click)="openLoginDialog()">
        <span class="login-text">Login</span>
      </button>
      <button mat-raised-button class="navbar-btn-group" mat-button *ngIf="!loggedIn()" (click)="openSignupDialog()">
        <span class="register-text">Register</span>
      </button>

      <button mat-raised-button class="navbar-btn-group" mat-button *ngIf="loggedIn()" [routerLink]="['/profile']">
        <!-- I BELIEVE THE USERNAME BUG IS HERE -->
        <span class="profile-text">
          {{ loggedInUser.username }}
        </span>
      </button>
      <div *ngIf="loggedIn()" style="margin-left: 10px;">
        <app-logout></app-logout>
      </div>
    </div>

    <div class="flex-menu-row">
      <div class="search-container">
        <input class="search-input-field" [(ngModel)]="searchQuery" (keyup.enter)="performSearchNoMenu()" placeholder="Search ...">
        <button mat-icon-button class="search-button" (click)="performSearchNoMenu()">
          <mat-icon class="search-icon">search</mat-icon>
        </button>
      </div>
    </div>

  </div>

  </mat-toolbar-row>
</mat-toolbar>

<div class="menu" [@expandMenu]="menuState">
  <div class="auth-menu-row" (click)="toggleMenu()">
      <button mat-raised-button class="navbar-btn-group" mat-button *ngIf="!loggedIn()" (click)="openLoginDialog()">
        <span class="login-text">Log in</span>
      </button>
      <button mat-raised-button class="navbar-btn-group" mat-button *ngIf="!loggedIn()" (click)="openSignupDialog()">
        <span class="register-text">Register</span>
      </button>

      <button mat-raised-button class="profile-button" mat-button *ngIf="loggedIn()" [routerLink]="['/profile']"><span class="profile-text">{{ loggedInUser.username }}</span></button>
      <div *ngIf="loggedIn()" style="flex:1;">
        <app-logout></app-logout>
      </div>
  </div>
  <div class="menu-row" (click)="toggleMenu()" [routerLink]="['/about']">About</div>
  <div class="menu-row" (click)="toggleMenu()" [routerLink]="['/collections']">Collections</div>
  <div class="menu-row" (click)="toggleMenu()" [routerLink]="['/stories']">Stories</div>
  <div class="menu-row" (click)="toggleMenu()" [routerLink]="['/poems']">Poems</div>
  <div class="menu-row" (click)="toggleMenu()" [routerLink]="['/miscellanea']">Miscellanea</div>
  <div class="menu-row new-item" (click)="toggleMenu()" [routerLink]="['/story-vote']" *ngIf="loggedIn()">Vote</div>
  <div class="menu-row" (click)="toggleMenu()" [routerLink]="['/characters']">Characters</div>
  <div class="menu-row" (click)="toggleMenu()" [routerLink]="['/illustrators']">Illustrators</div>
  <div class="menu-row" (click)="toggleMenu()" [routerLink]="['/weird-tales']">Weird Tales</div>
  <div class="menu-row" (click)="toggleMenu()" [routerLink]="['/posts']">Blog</div>
  <div class="menu-row new-item" (click)="toggleMenu()" [routerLink]="['/chat']" *ngIf="loggedIn()">Chat</div>
  <div class="menu-row new-item" (click)="toggleMenu()" [routerLink]="['/adventure']" *ngIf="loggedIn()">Adventure</div>
  <div class="menu-row">
    <div class="search-container">
      <input class="search-input-field" [(ngModel)]="searchQuery" (keyup.enter)="performSearch()" placeholder="Search ...">
      <button mat-raised-button class="search-button" (click)="performSearch()"><mat-icon class="search-icon">search</mat-icon></button>
    </div>
  </div>
</div>

<mat-menu #menu="matMenu" class="menu-dropdown-btn">
  <button mat-menu-item [routerLink]="['/about']">About</button>
  <button mat-menu-item [routerLink]="['/collections']">Collections</button>
  <button mat-menu-item [routerLink]="['/stories']">Stories</button>
  <button mat-menu-item [routerLink]="['/poems']">Poems</button>
  <button mat-menu-item [routerLink]="['/miscellanea']">Miscellanea</button>
  <button class="new-item" mat-menu-item [routerLink]="['/story-vote']" *ngIf="loggedIn()">Vote</button>
  <button mat-menu-item [routerLink]="['/characters']">Characters</button>
  <button mat-menu-item [routerLink]="['/illustrators']">Illustrators</button>
  <button mat-menu-item [routerLink]="['/weird-tales']">Weird Tales</button>
  <button mat-menu-item [routerLink]="['/posts']">Blog</button>
  <button class="new-item" mat-menu-item [routerLink]="['/chat']" *ngIf="loggedIn()">Chat</button>
  <button class="new-item" mat-menu-item [routerLink]="['/adventure']" *ngIf="loggedIn()">Adventure</button>
</mat-menu>

