.menu {
  background-color: #ffffff;
  max-height: 100%;
  overflow: hidden;
  opacity: 0;
  transition: max-height 0.3s, opacity 0.3s;
}

.menu-row {
  padding: 10px;
  border-bottom: 1px solid #ccc;
  text-align: center;
  font-family: Hind,Helvetica,Arial,sans-serif;
  text-transform: uppercase;
}

.menu-row:hover {
  cursor: pointer;
  background-color: #9e0000;
  color: #fff;
}

.mat-toolbar-row {
  justify-content: space-between;
}

.logo-box {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  align-items: center;
}

.logo-box:hover {
  cursor: pointer;
}

.search-container {
  display: flex;
  justify-content: center;
}

.search-button {
  border-radius: 0px 3px 3px 0px;
  background: linear-gradient(#607d8b, #455a64);
  color: #fff;
  border: 1px solid #455A64;
}

.search-icon {
  padding-top: 2px;
}

.search-input-field {

}
