<ol class="breadcrumbnav">
  <li><a [routerLink]="['/home']">Home</a></li>
</ol>

<div class="header-wrapper">
  <div class="header">
    <h1 class="main-title">Illustrators</h1>
    <p class="subheader">
      Meet the wonderful artists behind the illustrations
    </p>
  </div>
</div>
<div class="card-wrapper">
  <div class="illustrator-cards">
    <app-illustrator-card
      *ngFor="let illustrator of illustrators"
      [illustrator]="illustrator"
      [routerLink]="['/illustrators', illustrator.id]"
    ></app-illustrator-card>
  </div>
</div>

