<ol class="breadcrumbnav">
  <li><a [routerLink]="['/home']">Home</a></li>
</ol>

<div class="header-wrapper">
  <div class="header">
    <!-- <h1 class="main-title">Illustrators</h1> -->
    <app-header [title]="'Illustrators'"></app-header>
    <app-subheader [text]="'Meet the wonderful artists behind the illustrations'"></app-subheader>
  </div>
</div>
<div class="card-wrapper" *ngIf="showAll" @customEasingAnimation>
  <div class="illustrator-cards">
    <app-illustrator-card
      *ngFor="let illustrator of illustrators"
      [illustrator]="illustrator"
      [routerLink]="['/illustrators', illustrator.id]"
    ></app-illustrator-card>
  </div>
</div>

