<div class="register-dialog">
  <div class="title-box">
    <h1 class="register-dialog-title">Update</h1>
    <div class="cancel-box">
      <button mat-icon-button (click)="dismissDialog()">
        <mat-icon>close</mat-icon>
      </button>
    </div>
  </div>
  <form class="register-form">
    <div class="form-group">
      <label class="label-email" for="email">
        <span class="required">Email</span>
        <input type="email" class="text" name="email" [(ngModel)]="tempUser.email" placeholder="Email" tabindex="1" required />
      </label>
    </div>

    <div class="form-group">
      <label class="label-image">
        <span class="required">Profile Image</span>
        <input type="text" class="text" name="imageUrl" [(ngModel)]="tempUser.imageUrl" placeholder="Profile Image Url" tabindex="1" required />
      </label>
    </div>

    <div class="form-group">
      <label class="label-image">
        <span class="required">About Me</span>
        <input type="text" class="text" name="profileDescription" [(ngModel)]="tempUser.profileDescription" placeholder="Profile Description" tabindex="1" required />
      </label>
      <div *ngIf="profileDescriptionError" class="error">
        Description must be no more than 300 characters.
      </div>
    </div>
    <button id="registerFormBtn" type="button" (click)="update()">Update</button>
  </form>
</div>
