/* You can add global styles to this file, and also import other style files */

@import "~bootstrap/dist/css/bootstrap.min.css";
@import url('https://fonts.googleapis.com/css2?family=Crimson+Text:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&family=Fondamento:ital@0;1&family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&family=Lora:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&family=Metamorphous&display=swap');

:root {
  --centerOffset: 0px;

  --mainHeaderFontSize: 24px;

  --headerFontFamily: 'Libre Baskerville', Helvetica, Arial, sans-serif;
  --headerFontSize: 18px;

  --contentFontFamily: 'Lora', serif;
  --contentFontSize: 15.6px;

  --crimsonText: "Crimson Text", Georgia, serif;

  --metamorphoseText: Metamorphous, "Comic Sans MS", cursive, sans-serif;

  --superBold: bolder;
}

html, body { height: 100%; }
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-color: #efe9c5;
}

