.quote-card {
  background-color: var(--white_color);
  background-image: url(https://m2stg.com/en/battle-garegga/ps4/manual/assets/img/bg_paper.jpg);
  border-left: 5px solid var(--red_black);
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin: 20px 0;
  padding: 20px;
  max-width: 600px;
  box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 1px, rgba(0, 0, 0, 0.07) 0px 2px 2px, rgba(0, 0, 0, 0.07) 0px 4px 4px, rgba(0, 0, 0, 0.07) 0px 8px 8px, rgba(0, 0, 0, 0.07) 0px 16px 16px;
  animation: 0.75s fadeFromLeft forwards;
}

.quote-content {
  color: var(--black_color);
  font-size: 1.1em;
  font-style: italic;
  font-weight: 500;
  line-height: 1.6;
  margin: 0 0 10px 0;
  font-family: Inter, serif;
}

.quote-footer {
  color: var(--red_color);
  font-size: 0.9em;
  text-align: right;
}

.quote-source {
  font-style: normal;
  font-weight: 600;
  font-size: 1rem;
  font-family: amarante, serif;
}

.quote-source::before {
  content: "— ";
}

.no-quote {
  color: var(--black_color);
  font-style: italic;
  text-align: center;
  padding: 20px;
}

@keyframes fadeFromLeft {
  0% {
    opacity: 0;
    transform: translateX(-15px);
  }
  100% {
    opacity: 1;
    transform: translateX(15px);
  }
}
