<div class="main">
  <div class="contents-box">
    <h2>Stories</h2>
    <div>
      <ul>
        <ng-container >
          <li></li>
        </ng-container>
      </ul>
    </div>
    <h2>Poems</h2>
    <div>
      <ul>
        <ng-container >
          <li></li>
        </ng-container>
      </ul>
    </div>
    <h2>Miscellanea</h2>
    <div>
      <ul>
        <ng-container >
          <li></li>
        </ng-container>
      </ul>
    </div>
  </div>
  <div class="collection-image">
    <img src="" alt="">
  </div>
</div>
