.main {
  display: flex;
  justify-content: space-evenly;
  padding: 75px;
  padding-top: 0;
}

.contents-box {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.collection-image {
  width: 300px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border-radius: 20px;
  transition: border-radius 0.3s ease-in-out;
}

.collection-image:hover {
  cursor: pointer;
  border-radius: 0;
}

.contents-lists {
  list-style: upper-roman;
}

.no-contents-lists {
  list-style: none;
}


.contents-title {
  padding-left: 10px;
  font-family: Libre Baskerville,Helvetica,Arial,sans-serif;
  font-weight: 700;
  color: #9e0000;
  margin:0;
}

.collection-title {
  font-size: 30px;
  font-family: Libre Baskerville,Helvetica,Arial,sans-serif;
  font-weight: 700;
  color: #9e0000;
}

.title-container {
  padding: 25px;
  display:flex;
  justify-content: center;
  margin-top: 40px;
}

.description-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.description-title {
  font-family: Libre Baskerville, Helvetica, Arial, sans-serif;
  font-weight: 700;
  color: #9e0000;
  text-align: center;
}

.description-box {
  text-align: justify;
  padding-left: 10%;
  padding-right: 10%;
  line-height: 2;
  margin-bottom: 70px;
}

.description-text {

}

::ng-deep .first-letter {
  font-size: 50px; /* Adjust the font size for the initial letter */
  font-family: Libre Baskerville, Helvetica, Arial, sans-serif;
  font-weight: 700;
  color: #9e0000;
  line-height: 1; /* Adjust the line height for the initial letter */
  float: left; /* Float the initial letter to the left */
  margin-right: 10px; /* Add spacing between the initial letter and the text */
}



