<div class="title-container">
  <h1 class="collection-title">{{ collection.title }}</h1>
</div>
<div class="main">
  <div class="contents-box">
    <h2 class="contents-title">Stories</h2>
    <div class="story-contents">
      <ul class="contents-lists">
        <ng-container *ngFor="let story of collection.stories">
          <li>{{ story.title }}</li>
        </ng-container>
      </ul>
    </div>
    <h2 class="contents-title">Poems</h2>
    <div class="poem-contents">
      <ul class="contents-lists">
        <ng-container *ngFor="let poem of collection.poems">
          <li>{{ poem.title }}</li>
        </ng-container>
      </ul>
    </div>
    <h2 class="contents-title">Miscellanea</h2>
    <div class="miscellanea-contents">
      <ul class="contents-lists">
        <ng-container *ngFor="let miscellanea of collection.miscellaneas">
          <li>{{ miscellanea.title }}</li>
        </ng-container>
      </ul>
    </div>
  </div>
  <div class="image-container">
    <img class="collection-image" *ngIf="collectionImages && collectionImages.length > 0" src="{{ collectionImages[0].imageUrl }}" alt="">
  </div>
</div>
