.main {
  display: flex;
  justify-content: space-evenly;
  /* padding: 75px; */
  padding-top: 30px;
  padding-bottom: 10px;
}

.contents-box {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 500px;
  min-width:200px;
}

.img-wrapper {
  width:fit-content;
  height:fit-content;
  filter: drop-shadow(2px 4px 4px rgba(0, 0, 0, 0.5));
  transition: filter 0.6s, transform 0.3s;
}

.img-wrapper:hover {
  width:fit-content;
  height:fit-content;
  filter: drop-shadow(2px 4px 10px rgba(0, 0, 0, 0.5)) brightness(1.1);
  transform: translateY(-5px);
}

.collection-image {
  width: 250px;
  height:auto;
}

.collection-image:hover {
  cursor: zoom-in;
}

.contents-lists {
  list-style: circle;
  font-size: 14px;
}

.no-contents-lists {
  list-style: none;
}

.contents-title {
  padding-left: 10px;
  font-weight: 700;
  color: var(--red_milk);
  margin:0;
  font-family: var(--headerFontFamily);
  font-size: var(--headerFontSize);
}

.collection-title {
  font-size: 30px;
  font-family: var(--headerFontFamily);
  /* font-size: var(--headerFontSize); */
  font-weight: 700;
  color: #9e0000;

}

.title-container {
  padding: 25px;
  display:flex;
  justify-content: center;
  margin-top: 40px;
  font-family: var(--headerFontFamily);
  font-size: var(--headerFontSize);
}

.description-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: var(--headerFontFamily);
  font-size: var(--headerFontSize);
}

.description-box {
  text-align: justify;
  padding-left: 5%;
  padding-right: 5%;
  line-height: 1.4;
  margin-bottom: 70px;
  word-spacing: 0;
  letter-spacing: 0;
  text-indent: 1rem;
  word-break: break-word;
  hyphens: auto;
}


.description-text {
  font-family: var(--contentFontFamily);
  color: var(--black_white);
}

.collection-details-wrapper {
  display: flex;
  flex-direction: column;
}

.collection-details-box {
  display:flex;
  flex-direction: column;
  justify-content: space-evenly;
  flex:1;
  align-items:center;
  width: 100%;
  max-height: 100px;
  padding-top: 25px;
  color: var(--black_white);
}

.amazon-link-text {
  font-family: var(--contentFontFamily);
  font-weight: var(--superBold);
  color: var(--red_milk);
  text-decoration:none;
}

.amazon-link-text:hover {
  text-decoration: underline;
}

.publication-date {
  font-family: var(--contentFontFamily);
  margin:0;
}

.series-text {
  font-family: var(--contentFontFamily);
  margin:0;
}

/* Styles for the overlay */
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7); /* Semi-transparent gray background */
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 999; /* Ensure the overlay is on top of other content */
  padding-top: 1%;
  padding-bottom: 1%;
}

.overlay.active {
  opacity: 1;
  visibility: visible;
  overflow: hidden;
}

/* Styles for the full-screen image */
.full-screen-image {
  max-width: 100%;
  max-height: 100%;
}

.full-screen-image:hover {
  cursor:zoom-out;
}

/* Styles to disable body scrolling when overlay is active */
body.disable-scrolling {
  overflow: hidden;
}

.contents-items {
  transition:color 0.2s ease;
  color: var(--black_milk);
}

.contents-items:hover {
  cursor: pointer;
  color: var(--red_white);
  list-style:disc;
  transition: list-style 0.2s ease;
  text-decoration:underline;
}

.contents-items:hover .story-text {
  transition: text-decoration 0.2s ease;
}

.story-text {
  flex-grow: 1;
  /* white-space: nowrap; */
  text-overflow: ellipsis;
  font-family: var(--contentFontFamily);
  font-size: var(--contentFontSize);
  white-space: normal;
}

.dots {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

ul li {
  color: var(--black_white);
  font-family: var(--contentFontFamily);
  font-size: var(--body_font) !important;
}

.spinner-wrapper {
  width: 100%;
  height: 88vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.spinner-box {
  width: 50px;
  height: 50px;
}

.mat-mdc-progress-spinner {
  --mdc-circular-progress-active-indicator-color: var(--body_color);
}

.description-title {
  font-family: Libre Baskerville, Helvetica, Arial, sans-serif;
  font-weight: 700;
  color: #9e0000;
  text-align: center;
  /* border: 3px double rgba(184, 174, 154, 0.5); */
  border: 4px double #9e0000;
  width: fit-content;
  padding: 0.3em 0.8em;
  margin:0;
}

.description-title-box {
  display: flex;
  align-items: center;
  /* margin-bottom: 50px; */
}

.b-element {
  background-color: #9e0000;
  display: block;
  flex: 1;
  height: 2px;
  opacity: 0.5;
}

.title-box {
  padding: 15px 0;
}

.flair-img {
  width: 150px;
  height: auto;
  margin-left: -1px;
}

.contents-wrapper {
  display:flex;
  flex-direction: column;
}

.story-title {
  font-family: Libre Baskerville, Helvetica, Arial, sans-serif !important;
  font-weight: 700;
  color: var(--red_milk);
  text-align: center;
  font-size: 16px;
}

.story-header-text {
  font-family: var(--headerFontFamily);
  font-size: 24px;
  font-weight:var(--superBold);
}

.with-drop-shadow {
  filter: drop-shadow(
        1px 2px 4px rgb(0, 0, 0)
  );
}

.box {
  background-color: white;
  /* border-radius: 2px; */
}

.story-contents .contents-lists .contents-items .story-text,
.story-contents .contents-lists .contents-items .dots,
.story-contents .contents-lists .contents-items .page-number {
  font-size: 16px !important;
}

.poem-contents .contents-lists .contents-items .story-text,
.poem-contents .contents-lists .contents-items .dots,
.poem-contents .contents-lists .contents-items .page-number {
  font-size: 16px !important;
}

.miscellanea-contents .contents-lists .contents-items .story-text,
.miscellanea-contents .contents-lists .contents-items .dots,
.miscellanea-contents .contents-lists .contents-items .page-number {
  font-size: 16px !important;
}

.collection-subheader {
  display: flex;
  justify-content: center;
  font-family: var(--contentFontFamily);
  padding-left: 30px;
  padding-right: 30px;
  color: var(--black_white);
}

.tail-image-wrapper {
  display:flex;
  justify-content: center;
  width:100%;
  margin-bottom:30px;
}

.tail-image {
  width:30%;
  height:auto;
}

/* breadcrumb navigation */
.breadcrumbnav {
  list-style: none;
  padding: 0;
}

.breadcrumbnav li {
  display: inline-block;
}

.breadcrumbnav li:last-child {
  color: var(--black_white);
}

.breadcrumbnav li:last-child a {
  color: var(--red_white);
  font-weight: bold;
}

.breadcrumbnav li::after {
  content: "\00a0  > \00a0";
  color: var(--red_white);
}

.breadcrumbnav li:last-child::after {
  content: "";
}

.breadcrumbnav a {
  font-weight: normal;
  text-decoration: none;
  color: var(--red_white);
}

.breadcrumbnav a:hover {
  text-decoration: underline;
}

.illustrator-link {
  color: var(--red_milk);
  font-weight:bold;
}

.illustrator-link:hover {
  text-decoration: underline;
  cursor: pointer;
}

.placeholder {
  width: 300px;
  height: 453px;
  aspect-ratio: 9 / 12;
  background: linear-gradient(90deg, transparent, rgba(255, 255, 255, 0.7), transparent);
  background-size: 200% 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  animation: sheen 1.5s infinite;
}

@keyframes sheen {
  0% {
    background-position: -200% 0;
  }
  100% {
    background-position: 200% 0;
  }
}

/* Add a loading indicator style */
.is-loading {
  opacity: 0.5; /* Dim the card when loading */
  /* You can add more styles or animations for loading here */
}

@media screen and (max-width: 1050px) {
  .contents-box {
    max-width:100%;
    min-width: 200px;
  }
}

@media screen and (max-width: 969px) {

  .main {
    flex-direction: column;
    padding: 25px;
    /* Additional styles for the 'column' direction if needed */
  }

  .collection-details-wrapper {
    order: -1;
    margin-bottom: 20px;
    flex:1;
    align-self: center;
  }

  .collection-details-wrapper {
    display: flex;
    flex-direction: column;
  }

  .collection-details-box {
    display:flex;
    flex-direction: column;
    justify-content: space-evenly;
    flex:1;
    align-items:center;
    width: 100%;
  }

  .placeholder {
    max-width: 200px;
    max-height:302px;
  }

  .amazon-link-text {
    color: var(--red_milk);
    text-decoration:none;
  }

  .amazon-link-text:hover {
    color: var(--black_white);
    text-decoration: underline;
  }

  .publication-date {
    display:none;
  }

  .series-text {
    display:none;
  }

  .collection-image {
    flex:1;
    max-width: 200px;
    /* min-width:200px; */
  }

  .contents-box {
    /* Additional styles for contents-box */
  }

  .contents-wrapper {
    align-items:center;
  }

  .description-title,
  .description-title h2 {
    flex:1;
    max-width:100%;
    min-width:100px;
    font-size: 16px;
    min-height:25px;
  }

  .flair-img {
    flex:1;
    max-width:100%;
    min-width: 50px;
  }

  .contents-box {
    max-width:100%;
    min-width: 200px;
  }

}

@media screen and (max-width: 520px) {

  .main {
    padding: 10px;
    padding-top: 30px;
  }

  .story-text {
    flex-grow: 1;
    padding-right: 10px;
  }

  .dots {
    display: none;
  }

  .description-title,
  .description-title h2 {
    font-size: 12px;
  }

  .page-number {
    /* display: none; */
  }

  .story-text {
    white-space:normal;
  }

  .title-box {
    padding:5px;
    padding-top:5ch;
  }

  .description-box {
    padding:0;
  }

  .flair-img {
    width: 130px;
  }

  .contents-title {
    padding-left: 0;
  }

  .contents-lists {
    padding-left: 0;
  }

  .contents-items {
    list-style:none;
  }

  .story-title h2 {
    font-size: 1.3rem;
    line-height: 1.5;
  }

  .collection-subheader {
    padding-left: 15px;
    padding-right: 15px;
  }

}

@media screen and (max-width: 375px) {

  .story-title h2 {
    font-size: 16px;
    line-height: 1.5;
  }
}



