.main {
  display: flex;
  justify-content: space-evenly;
  padding: 75px;
  padding-top: 0;
}

.contents-box {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 300px;
}

.img-wrapper {
  width:fit-content;
  height:fit-content;
  /* overflow: hidden; */
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.collection-image {
  transition: 0.3s;
  width: 300px;
  height:auto;
}

.collection-image:hover {
  transform: scale(1.02);
  cursor: zoom-in;
}

.contents-lists {
  list-style: decimal-leading-zero;
  font-size: 14px;

}

.no-contents-lists {
  list-style: none;
}


.contents-title {
  padding-left: 10px;
  font-family: Libre Baskerville,Helvetica,Arial,sans-serif;
  font-weight: 700;
  color: #9e0000;
  margin:0;
}

.collection-title {
  font-size: 30px;
  font-family: Libre Baskerville,Helvetica,Arial,sans-serif;
  font-weight: 700;
  color: #9e0000;
}

.title-container {
  padding: 25px;
  display:flex;
  justify-content: center;
  margin-top: 40px;
}

.description-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.description-box {
  text-align: justify;
  padding-left: 10%;
  padding-right: 10%;
  line-height: 2;
  margin-bottom: 70px;
}

.description-text {

}

/* ::ng-deep .first-letter {
  font-size: 50px;
  font-family: Libre Baskerville, Helvetica, Arial, sans-serif;
  font-weight: 700;
  color: #9e0000;
  line-height: 1;
  float: left;
  margin-right: 10px;
} */

::ng-deep .first-letter {
  font-size: 50px; /* Adjust the font size for the initial letter */
  font-family: Libre Baskerville, Helvetica, Arial, sans-serif;
  font-weight: 700;
  color: #9e0000;
  line-height: 1.2; /* Adjust the line height for the initial letter */
  float: left; /* Float the initial letter to the left */
  margin-right: 10px; /* Add spacing between the initial letter and the text */
  font-style: normal;
  border: 3px dotted #9e0000;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 10px;
  padding-right: 10px;
  outline: 3px dashed #9e0000;
}

/* Styles for the overlay */
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7); /* Semi-transparent gray background */
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 999; /* Ensure the overlay is on top of other content */
  padding-top: 1%;
  padding-bottom: 1%;
}

.overlay.active {
  opacity: 1;
  visibility: visible;
}

/* Styles for the full-screen image */
.full-screen-image {
  max-width: 100%;
  max-height: 100%;
}

.full-screen-image:hover {
  cursor:zoom-out;
}

.contents-items:hover {
  cursor: pointer;
  color:#9e0000;
  font-weight:700;
  /* text-decoration:underline; */
}

.spinner-wrapper {
  width: 100%;
  height: 88vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.spinner-box {
  width: 50px;
  height: 50px;
}

.mat-mdc-progress-spinner {
  --mdc-circular-progress-active-indicator-color: #9e0000;
}

.description-title {
  font-family: Libre Baskerville, Helvetica, Arial, sans-serif;
  font-weight: 700;
  color: #9e0000;
  text-align: center;
  /* border: 3px double rgba(184, 174, 154, 0.5); */
  border: 4px double #9e0000;
  width: fit-content;
  padding: 0.3em 0.8em;
  margin:0;
}

.description-title-box {
  display: flex;
  align-items: center;
  /* margin-bottom: 50px; */
}

.b-element {
  background-color: #9e0000;
  display: block;
  flex: 1;
  height: 2px;
  opacity: 0.5;
}

.title-box {
  padding: 50px;
}

.flair-img {
  width: 150px;
  height: auto;
  padding-bottom: 3px;
}

.contents-wrapper {
  display:flex;
  flex-direction: column;
}

.story-title {
  font-family: Libre Baskerville, Helvetica, Arial, sans-serif;
  font-weight: 700;
  color: #9e0000;
  text-align: center;
}

@media screen and (max-width: 815px) {
  .main {
    flex-direction: column;
    /* Additional styles for the 'column' direction if needed */
  }

  .img-wrapper {
    order: -1; /* This places img-wrapper before contents-box in the column layout */
    /* Additional styles for img-wrapper */
    margin-bottom: 20px;
    flex:1;
  }

  .collection-image {
    flex:1;
    max-width: 100%;
    min-width:200px;
  }

  .contents-box {
    /* Additional styles for contents-box */
  }

  .description-title,
  .description-title h2 {
    flex:1;
    max-width:100%;
    min-width:100px;
    font-size: 10px;
    min-height:25px;
  }

  .flair-img {
    flex:1;
    max-width:100%;
    min-width: 50px;
  }

}



