<div class="body-wrapper">
  <div class="header-wrapper">
    <div class="header">
      <h1 class="main-title">Miscellanea</h1>
      <p class="subheader">Tantalizing glimpses into the pioneer's creative process</p>
      <p class="header-description">Robert E. Howard's essays, drafts, and unfinished works offer a tantalizing glimpse into the mind of a prolific and visionary writer. His essays span a wide range of topics, from historical musings to reflections on life in the early 20th century, showcasing his keen intellect and interests beyond fiction. Howard's drafts and unfinished pieces, often preserved in fragments and notes, reveal the evolution of his creative process, from initial concepts to the development of complex characters and worlds. They serve as a treasure trove for scholars and fans alike, shedding light on the construction of iconic figures such as Conan and the rich, imaginative settings in which they thrived. While these fragments may remain incomplete, they are a testament to Howard's boundless imagination and dedication to his craft, leaving us with a legacy that continues to inspire and ignite the imagination of readers and writers alike.</p>
    </div>
    <app-svg-element></app-svg-element>
  </div>

  <div class="story-list-wrapper">
    <div class="story-list">
      <div class="buttons-container">
        <div class="buttons">
          <button mat-button class="checkbox-text" [ngClass]="{'active-button': sortTitleActive}" (click)="sortMiscellaneasByTitle()">Title</button>
          <button mat-button class="checkbox-text" (click)="clearFilters()">Clear</button>
        </div>
        <div class="search-container">
          <input class="search-input-field" [(ngModel)]="searchQuery" (input)="filterMiscellaneas()" (keyup.enter)="performSearch()" placeholder="Search ...">
          <button class="search-button" (click)="performSearch()"><mat-icon class="search-icon">search</mat-icon></button>
        </div>
      </div>
      <div class="list-box">
        <ul class="story-items">
          <ng-container *ngFor="let miscellanea of filteredMiscellaneas" class="cascade-animation" [style.animation-delay.ms]="cascadeDelay">
            <div class="story-box">
              <li class="story-item">
                <div style="display: flex; justify-content: space-between; width: 100%; align-items: center;">
                  <div style="display:flex; gap:15px;">
                    <span class="sword-icon">🗡️</span>
                    <span [routerLink]="['/miscellanea', miscellanea.id]" class="story-title">{{ miscellanea.title }}</span>
                  </div>
                  <div style="display:flex; justify-content:flex-end;" *ngIf="loggedIn()">
                    <span class="add-button">
                      <button mat-button (click)="openUserListDialog(miscellanea)">
                        <mat-icon>more_vert</mat-icon>
                      </button>
                    </span>
                  </div>
                </div>
              </li>
            </div>
          </ng-container>
          <div class="story-box" *ngIf="noMatches && filteredMiscellaneas.length === 0">
            <li class="story-item">
              <div style="display: flex; justify-content: space-between; width: 100%; align-items: center;">
                <div style="display:flex; gap:15px;">
                  <span class="sword-icon">🗡️</span>
                  <span>No matches found.</span>
                </div>
              </div>
            </li>
          </div>
        </ul>
      </div>
    </div>
    <h3 class="list-header" *ngIf="loggedIn()"> Add miscellanea to your<span class="standout-text" [routerLink]="['/profile']"> own collections</span>!</h3>
    <h3 class="list-header" *ngIf="!loggedIn()"> <span class="standout-text" (click)="openLoginDialog()">Log in</span> to add miscellanea to your own collections!</h3>
  </div>

</div>


