<div class="title-box">
  <div class="description-title-box" *ngIf="!loading">
    <div class="description-title-wrapper">
      <h2 class="description-title">Miscellanea</h2>
    </div>
    <b class="b-element"></b>
    <div class="flair-wrapper">
      <img class="flair-img" src="http://www.barbariankeep.com/LSWORD.GIF" alt="">
    </div>
  </div>
</div>

<div class="miscellanea-list">
  <ul class="miscellanea-items">
    <ng-container *ngFor="let miscellanea of miscellaneas">
      <li [routerLink]="['/miscellanea', miscellanea.id]" class="miscellanea-item">
        <span class="sword-icon">🗡️</span>
        <span class="miscellanea-title">{{ miscellanea.title }}</span>
      </li>
    </ng-container>
  </ul>
</div>
