.tail-image-wrapper {
  display:flex;
  justify-content: center;
  width:100%;
  margin-bottom:100px;
  position: relative;
}

.image-box {
  position: relative;
  width: fit-content;
  height: fit-content;
  /* background-color: var(--red_black);
  border: 3px solid var(--black_white);
  padding: 20px; */
}

.image-box::before {
  content: ".";
  top: 32px;
  left: 110px;
  position: absolute;
  color: white;
  font-size: 120px;
  z-index: -1;
}

.tail-image {
  height: 300px;
  /* filter: drop-shadow(1px 1px 1px white); */
  filter: drop-shadow(5px 3px 3px black);
}

@media screen and (max-width: 1087px) {

  .tail-image-wrapper {
    margin-bottom: 20px;
  }
}

