.slider-container {
  position: relative;
  width: 80%;
  aspect-ratio: 16 / 9;
  overflow: hidden;
  margin: auto;
  background-color: #000;
  border: 3px solid transparent;
  border-image: url(https://wa-cdn.nyc3.cdn.digitaloceanspaces.com/assets/themes/steampunk/images/border.png) 30;
  box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.5);
}

.slider {
  position: relative;
  width: 100%;
  height: 100%;
}

/* .slider::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  box-shadow: inset 0 0 100px rgba(0, 0, 0, 1);
  pointer-events: none;
} */

.slide {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  transform: scale(1.05);
  opacity: 0;
  filter: brightness(0.2) grayscale(1) saturate(0.8) contrast(0.8);
  transition: transform 0.5s, opacity 0.3s;
}

.slide.visible {
  opacity: 1;
  transition: filter 1s, transform 0.5s, opacity 0.3s;
  filter: brightness(1.1) grayscale(0) saturate(1.1) contrast(1.1);
}

button {
  position: absolute;
  top: 50%;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
  opacity: 0;
  transition: opacity 0.3s;
}

.next {
  right: 0;
}

.prev {
  left: 0;
}

.horizontal-distort-right {
  transform: scaleX(1);
  transform-origin: left;
}

.horizontal-distort-left {
  transform: scaleX(1);
  transform-origin: right;
}

.reset-scale {
  transform: scaleX(1);
}

.fade-in {
  opacity: 1;
}

.fade-out {
  opacity: 0;
}




.img-wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
}

.img-container {
  position: relative;
  width: 80%;
  aspect-ratio: 16 / 9;
  border: 3px solid transparent;
  border-image: url(https://wa-cdn.nyc3.cdn.digitaloceanspaces.com/assets/themes/steampunk/images/border.png) 30;
}

.img-area {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
}

.single-img {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
}

.single-img img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: 0.5s;
  -webkit-background-size: cover;
  background-size: cover;
}

.single-img:hover .side2 {
  transform: translateX(-40%) scaleX(2);
  opacity:0;
  filter:blur(10px);
}

.single-img .side1 {
  transform: translateX(-40%) scaleX(2);
  opacity:0;
  filter:blur(10px);
}

.single-img:hover .side1 {
  transform: translateX(0) scaleX(1);
  opacity:1;
  filter:blur(0);
}







.comparison-slider {
  position: relative;
  width: 80%;
  max-width: 800px;
  height: 400px;
  margin: auto;
  overflow: hidden;
  background-color: #000;
}

.comparison-image {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  overflow: hidden;
}

.comparison-image-left {
  left: 0;
  z-index: 1; /* Ensure it is above the right image */
  clip-path: inset(0 50% 0 0); /* Initially show only the left half */
}

.comparison-image-right {
  right: 0;
}

.comparison-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.slider-bar {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 50%;
  width: 5px;
  background-color: #fff;
  cursor: ew-resize;
  z-index: 2; /* Ensure it is above the images */
}



