<div class="main">
  <div class="chat-room-title">
    <h1>Welcome to the Public Chat Room</h1>
  </div>

  <div class="chat-display" #chatDisplay>
    <ng-container *ngFor="let group of groupedMessages">
      <div class="date-separator"><span class="date-marker">{{ group.date | date: 'longDate' }}</span></div>
      <div *ngFor="let message of group.messages" class="message">
        <div class="message-header">
          <span class="message-sender">{{ message.user.username === loggedInUser.username ? 'You' : message.user.username }}</span>
          <span class="message-timestamp">{{ message.createdAt | date: 'short' }}</span>
        </div>
        <div class="message-content">{{ message.messageContent }}</div>
      </div>
    </ng-container>
  </div>

  <div class="message-input-area">
    <input type="text" [(ngModel)]="newMessage" placeholder="Type your message here..." class="message-input" (keyup.enter)="sendMessage()">
    <button class="send-button" mat-raised-button (click)="sendMessage()">Send</button>
  </div>
</div>
