.main {
  display: grid;
  place-content: center;
  perspective: 1000px;
}

img {
  max-width: 100%;
}

.conan {
  width: 320px;
  aspect-ratio: 9 / 12;
  position: relative;
  transform-style: preserve-3d;
  transition: rotate var(--timing) ease;
  border: 5px solid var(--red_milk);
}

.conan:hover {
  rotate: x var(--rotation);
}

.conan::before {
  content: "";
  position: absolute;
  inset: 0;
  z-index: 100;
  background-image: radial-gradient(circle, transparent 100px, black);
  opacity: 0;
  transition: opacity var(--timing);
}

.conan:hover::before {
  opacity: 1;
}

.conan::after {
  content: "";
  position: absolute;
  inset: 80% 0.5rem 0.5rem;
  translate: 0;
  transform: translateZ(-100px);
  background:black;
  filter: blur(1rem);
  z-index: 1;
  transition: rotate var(--timing),
  translate var(--timing);
}

.conan:hover::after {
  rotate: x calc(var(--rotation) * -1);
  translate: 0 60px;
}

.bg-image {
  position: absolute;
  z-index: 10;
  height: 100%;
  object-fit: cover;
  /* object-position: -470px center; */
}

.logo,
.front-image {
  position: absolute;
}

.logo {
  z-index: 1000;
  width: 65%;
  margin-inline: auto;
  inset: auto 0 2rem;
  transform: translateY(0rem) translateZ(20px);
  transition: var(--timing);
}

.conan:hover .logo {
  transform: translateY(-2rem) translateZ(40px);
  rotate: x calc(var(--rotation) * -1);
}

.front-image {
  scale: 1.125;
  transform-origin: bottom;
  opacity: 0;
  z-index: 100;
  transition: var(--timing);
}

.conan:hover .front-image {
  opacity: 1;
}

.conan:hover .front-image {
  opacity: 1;
  transform: translateY(-1rem) translateZ(0px);
  rotate: x calc(var(--rotation) * -1);
}

.spinner-wrapper {
  width: 100%;
  height: 88vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.spinner-box {
  width: 50px;
  height: 50px;
}

.mat-mdc-progress-spinner {
  --mdc-circular-progress-active-indicator-color: var(--body_color);
}


.placeholder {
  width: 350px;
  aspect-ratio: 9 / 12;
  background: linear-gradient(90deg, transparent, rgba(255, 255, 255, 0.7), transparent);
  background-size: 200% 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  animation: sheen 1.5s infinite;
}

@keyframes sheen {
  0% {
    background-position: -200% 0;
  }
  100% {
    background-position: 200% 0;
  }
}

/* Add a loading indicator style */
.is-loading {
  opacity: 0.5; /* Dim the card when loading */
  /* You can add more styles or animations for loading here */
}

@media (max-width: 1028px) {
  .bg-image {
    position: absolute;
    z-index: 10;
    height: 100%;
    object-fit: cover;
    /* object-position: -388px center; */
  }

  .front-image {
    scale: 1.05;
    transform-origin: bottom;
    opacity: 0;
    z-index: 100;
    transition: var(--timing);
  }

  .logo {
    z-index: 1000;
    width: 50%;
    margin-inline: auto;
    inset: auto 0 2rem;
    transform: translateY(0rem) translateZ(20px);
    transition: var(--timing);
  }

  .conan {
    width: 290px;
    aspect-ratio: 3 / 4;
    position: relative;
    transform-style: preserve-3d;
    transition: rotate var(--timing) ease;
  }

  .placeholder {
    width: 290px;
    aspect-ratio: 3 / 4;
  }
}

@media (max-width: 441px) {
  .bg-image {
    position: absolute;
    z-index: 10;
    height: 100%;
    object-fit: cover;
    /* object-position: -265px center !important; */
  }

  .front-image {
    scale: 1.05;
    transform-origin: bottom;
    opacity: 0;
    z-index: 100;
    transition: var(--timing);
  }

  .logo {
    z-index: 1000;
    width: 50%;
    margin-inline: auto;
    inset: auto 0 2rem;
    transform: translateY(0rem) translateZ(20px);
    transition: var(--timing);
  }

  .conan {
    width: 200px;
    aspect-ratio: 3 / 4;
    position: relative;
    transform-style: preserve-3d;
    transition: rotate var(--timing) ease;
  }

  .placeholder {
    width: 200px;
    aspect-ratio: 3 / 4;
  }
}
