<div class="wrapper">
  <!-- <h1 class="title">Community Recommended Stories</h1>
  <h3 class="subtitle">What are your favorite pulp adventures?</h3> -->
  <app-header [title]="'Community Recommended Stories'"></app-header>

  <div class="poll-wrapper">
    <h2 class="poll-title">Top 10 Highest Rated Stories</h2>
    <div class="chart-container">
      <ngx-charts-bar-horizontal
      [view]="view"
      [scheme]="colorScheme"
      [results]="chartData"
      [gradient]="gradient"
      [xAxis]="showXAxis"
      [yAxis]="showYAxis"
      [legend]="showLegend"
      [showXAxisLabel]="showXAxisLabel"
      [showYAxisLabel]="showYAxisLabel"
      [xAxisLabel]="xAxisLabel"
      [yAxisLabel]="yAxisLabel"
      [xAxisTicks]="[0, chartMaxVotes / 2, chartMaxVotes / 2, 2 * chartMaxVotes / 2, chartMaxVotes]"
      [barPadding]="20"
      >
    </ngx-charts-bar-horizontal>
    </div>
  </div>
  <!-- [yAxisTicks]="[0, chartMaxVotes / 4, chartMaxVotes / 2, 3 * chartMaxVotes / 4, chartMaxVotes]"> -->

  <div *ngFor="let story of paginatedStories; let i = index; trackBy: trackByStoryId"
       class="story-card"
       #storyCard>
    <div class="story-rank">{{ i + 1 }}</div>
    <div class="story-details">
      <h3 [routerLink]="['/stories', story.id]">{{ story.title }}</h3>
      <div class="story-bar">
        <div class="story-fill" [style.width.%]="getVotePercentage(story)" [style.background-color]="getColor(i)">
          <span class="story-vote-count">{{ getVoteCount(story) }}</span>
        </div>
      </div>
    </div>
    <div class="buttons-wrapper" *ngIf="loggedIn()">
      <button (click)="upvote(story, storyCard)" class="vote-button">
        <span class="material-symbols-outlined" [ngClass]="{'voted': getVoteType(story) === 'upvote'}">shift</span>
      </button>
      <button (click)="downvote(story, storyCard)" class="vote-button">
        <span class="material-symbols-outlined downvoted" [ngClass]="{'voted': getVoteType(story) === 'downvote'}" style="transform: rotate(180deg);">shift</span>
      </button>
    </div>
  </div>

  <div class="pagination-controls">
    <button mat-raised-button class="pagination-btn" mat-button (click)="previousPage()" [disabled]="currentPage === 1">Previous</button>
    <span class="pagination-text">Page {{ currentPage }} of {{ totalPages }}</span>
    <button mat-raised-button class="pagination-btn" mat-button (click)="nextPage()" [disabled]="currentPage === totalPages">Next</button>
  </div>
</div>
