<div class="wrapper">
  <h1 class="title">Community Recommended Stories</h1>
  <h3 class="subtitle">Vote on your favorite stories to help newcomers find their next pulp adventure!</h3>
  <div *ngFor="let story of (sortedStories$ | async); trackBy: trackByStoryId"
       class="story-card"
       [@voteAnimation]="voteState[story.id]"
       (@voteAnimation.done)="resetVoteStateAfterAnimation(story.id)">
    <h3 [routerLink]="['/stories', story.id]">{{ story.title }}</h3>
    <div class="buttons-wrapper">
      <button (click)="upvote(story)" class="vote-button">
        <span class="material-symbols-outlined" [ngClass]="{'voted': getVoteType(story) === 'upvote'}">shift</span>
      </button>
      <span class="vote-count">{{ getVoteCount(story) }}</span>
      <button (click)="downvote(story)" class="vote-button">
        <span class="material-symbols-outlined downvoted" [ngClass]="{'voted': getVoteType(story) === 'downvote'}" style="transform: rotate(180deg);">shift</span>
      </button>
    </div>
  </div>
</div>
