.story-card {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.story-rank {
  font-size: 1.2em;
  font-weight: bold;
  margin-right: 15px;
  min-width: 30px;
  text-align: center;
}

.story-details {
  flex-grow: 1;
}

.story-details h3 {
  color: var(--black_white);
}

.story-bar {
  background-color: #f0f0f0;
  height: 20px;
  border-radius: 10px;
  overflow: hidden;
  margin-top: 5px;
}

.story-fill {
  height: 100%;
  display: flex;
  align-items: center;
  padding-left: 10px;
  color: white;
  font-weight: bold;
}

.buttons-wrapper {
  display: flex;
  /* gap: 10px; */
}

.vote-button {
  background: none;
  border: none;
  cursor: pointer;
  padding: 5px;
}

.vote-button:hover {
  background-color: #f0f0f0;
  border-radius: 50%;
}

.voted {
  color: #4CAF50;
}

.downvoted.voted {
  color: #F44336;
}

.wrapper {
  padding: 2%;
  padding-top: 50px;
}

.poll-wrapper {
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
  padding: 20px;
  box-sizing: border-box;
}

.chart-container {
  width: 100%;
  display: flex;
  justify-content: center;
}

@media (max-width: 768px) {
  .story-card {

  }

  .story-rank {
    margin-bottom: 10px;
  }

  .buttons-wrapper {
    margin-top: 10px;
  }
}


.pagination-controls {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.pagination-controls button {
  padding: 5px 10px;
  margin: 0 10px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.pagination-controls button:disabled {
  background-color: #cccccc;
  cursor: not-allowed;
}

.pagination-controls span {
  font-size: 14px;
}

.title {
  color: var(--red_milk);
  text-align: center;
  font-family: var(--contentFontFamily);
}

.subtitle {
  color: var(--black_white);
  text-align: center;
}

.poll-title {
  color: var(--black_white);
  text-align: center;
}

text {
  color: var(--red_milk);
}
