.login-dialog {
  padding: 20px;
  background-color: var(--black_color);
  border-radius: 10px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  max-width: 400px;
  margin: 0 auto;
  font-family: var(--inter);
  font-size: var(--contentFontSize);
  border-radius: 0 !important;
  border: 3px solid transparent;
  border-image: url(https://wa-cdn.nyc3.cdn.digitaloceanspaces.com/assets/themes/steampunk/images/border.png) 20;
}

.login-dialog p {
  text-decoration: none;
  color: #ccc;
  margin: 0;
  margin-top: 10px;
}

.login-dialog p:hover {
  color: var(--white_color);
  cursor: pointer;
}

::ng-deep .mat-mdc-dialog-container .mdc-dialog__surface {
  border-radius: 0 !important;
}

.title-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  font-family: var(--inter);
  font-size: var(--headerFontSize);
  font-weight: var(--superBold);
  color: #fff;
}

.login-modal-title {
  margin: 0;
  font-family: var(--inter);
  font-size: 24px;
  font-weight: 500;
}

.overlay-titleCloser {
  color: #888;
  text-decoration: none;
  transition: font-size 0.2s;
}

.overlay-titleCloser:hover {
  color: #fff;
  cursor: pointer;
  font-size: larger;
}

.login-form {
  display: flex;
  flex-direction: column;
}

.form-group {
  margin-bottom: 15px;
}

.label-email,
.label-password {
  display: block;
  margin-bottom: 5px;
  /* color: #333; */
  color: #fff;
  font-family: var(--inter);
  font-size: var(--contentFontSize);
}

.text {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  width: 100%;
  font-family: var(--inter);
  font-size: var(--contentFontSize);
  margin-bottom: 15px;
}

button#loginFormBtn {
  width: 100%;
  background-color: var(--red_color);
  color: #fff;
  border: none;
  border-radius: 0;
  padding: 10px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.2s;
  border: 3px solid transparent;
  border-image: url(https://wa-cdn.nyc3.cdn.digitaloceanspaces.com/assets/themes/steampunk/images/border.png) 30;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
}

button#loginFormBtn:hover {
  background-color: var(--red_hover);
}

.forgot-password-text {
  width: 100%;
  text-align: center;
}

@media (max-width: 480px) {
  .login-dialog {
    max-width: 100%;
    padding: 15px;
  }
}


