::ng-deep .first-letter {
  font-size: 50px; /* Adjust the font size for the initial letter */
  font-family: Libre Baskerville, Helvetica, Arial, sans-serif;
  font-weight: 700;
  color: #9e0000;
  line-height: 1.2; /* Adjust the line height for the initial letter */
  float: left; /* Float the initial letter to the left */
  margin-right: 10px; /* Add spacing between the initial letter and the text */
  font-style: normal;
  border: 3px dotted #9e0000;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 10px;
  padding-right: 10px;
  outline: 3px dashed #9e0000;
}

.description-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: var(--headerFontSize);
}

.description-title {
  font-family: Libre Baskerville, Helvetica, Arial, sans-serif;
  font-weight: 700;
  color: #9e0000;
  text-align: center;
  border: 4px double #9e0000;
  width: fit-content;
  padding: 0.3em 0.8em;
  margin:0;
}

.description-title-box {
  display: flex;
  align-items: center;
  margin-bottom: 50px;
}

.b-element {
  background-color: #9e0000;
  display: block;
  flex: 1;
  height: 2px;
  opacity: 0.5;
}

.excerpt-text {
  margin-bottom: 30px;
  color: var(--black_white);
}

.excerpt-text:first-child:first-letter {
  float: left;
  margin-right: 5px;
  font-size: 50px;
  color: var(--red_milk);
  vertical-align: top;
  line-height: 1;
}

.excerpt-box {
  text-align: justify;
  padding-left: 5%;
  padding-right: 5%;
  line-height: 1.4;
  margin-bottom: 20px;
  font-family: var(--contentFontFamily);
  position: relative;
}

.tail-image-wrapper {
  display:flex;
  justify-content: center;
  width:100%;
  margin-bottom:30px;
}

.tail-image {
  width:30%;
  height:auto;
}

.description-box p {
  text-align: justify;
  padding-left: 5%;
  padding-right: 5%;
  line-height: 2;
  margin-bottom: 70px;
}

.story-title {
  position: relative;
  font-size: 30px;
  font-family: var(--headerFontFamily);
  font-weight: var(--superBold);
  color: var(--red_milk);
  margin: 0;
  width: 100%;
  text-align: center;
  padding: 0 5%;
  display: flex;
  justify-content: center;
}

.story-title::before,
.story-title::after {
  content: "";
  position: absolute;
  top: 50%;
  border-top: 1px solid var(--black_white);
  width: 100%;
  z-index: -1;
}

.story-title::before {
  left: 0;
}

.story-title::after {
  right: 0;
}

.story-title-text {
  background-color: var(--bkg_color);
  padding: 0 15px;
  display: flex;
  justify-content: center;
  width: fit-content;
}

@media (max-width: 768px) {
  .story-title::before,
  .story-title::after {
    width: 15%;
  }
}

.title-container {
  padding: 25px 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.description-text {
  font-size: 16px;
  font-family: Libre Baskerville,Helvetica,Arial,sans-serif;
}

.collection-link {
  cursor: pointer;
}

.story-details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.collection-link {
  color: #9e0000;
}

.collection-link:hover {
 text-decoration: underline;
}

.spinner-wrapper {
  width: 100%;
  height: 88vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.spinner-box {
  width: 50px;
  height: 50px;
}

.mat-mdc-progress-spinner {
  --mdc-circular-progress-active-indicator-color: var(--body_color);
}

.read-online-box {
  transition: text-decoration 0.2s ease;
}

.read-online-box:hover {
  cursor:pointer;
}

.story-text-link {
  color: var(--red_milk);
  text-decoration: none;
  transition: color 0.2s ease;
  font-family: var(--contentFontFamily);
  font-weight: var(--superBold);
}

.read-online-box:hover .story-text-link {
  text-decoration: underline;
}

.flair-img {
  width: 150px;
  height: auto;
  margin-left: -1px;
}

.title-box {
  /* padding-left: 50px; */
}

.details-wrapper {
  text-align: start;
}

.story-image-box {
  display:flex;
  justify-content: center;
  padding: 50px;
  padding-top: 0;
  justify-content:flex-start;
  margin:20px;
}

.story-image {
  width: 300px;
  height: auto;
}

.collection-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.collection-title-box {
  display: flex;
  align-items: center;
  margin-bottom: 50px;
}

.collection-title {
  font-family: Libre Baskerville, Helvetica, Arial, sans-serif;
  font-weight: 700;
  color: #9e0000;
  text-align: center;
  border: 4px double #9e0000;
  width: fit-content;
  padding: 0.3em 0.8em;
  margin:0;
}

.collection-box {
  display:flex;
  /* padding-bottom: 50px; */
  gap: 25px;
  flex-wrap: wrap;
  padding-left: 50px;
}

.collection-wrapper {
  display:flex;
  justify-content: space-evenly;
  width:50%;
  gap: 25px;
  align-items: center;
  flex-wrap: wrap;
  margin-right: 20px;
  padding: 30px;

}

.collection-wrapper:hover {
  cursor:pointer;
}

.collection-images {
  width:150px;
  height: auto;
  transition: box-shadow .3s, transform .3s, opacity .3s;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
  opacity: 0.8;
  box-shadow: 0 0 0 2px var(--red_white);
}

.collection-images:hover {
  box-shadow: 0 0 0 5px var(--red_white);
  transform: translateY(-5px);
  cursor:pointer;
  opacity:1;
}

.collection-info-wrapper {
  display: flex;
  justify-content: space-between;
}

.collection-info-wrapper:first-child {
  margin-left:10px;
}

.collection-info-wrapper:last-child {
  margin-right:10px;
}

.collection-info {
  padding: 0;
  padding-left: 30px;
  padding-right: 30px;
  font-size: 16px;
  line-height: 1.5;
  font-family: var(--contentFontFamily);
  width: 50%;
  padding-top: 30px;
  padding-bottom: 30px;
  color:var(--black_white);
}

.collections-list {
  list-style: circle;
}

.collection-list-item {
  width: fit-content;
  transition: color 0.2s ease, text-decoration 0.2s ease, list-style 0.2s ease;
}

.collection-list-items:hover {
  cursor: pointer;
  text-decoration: underline;
  list-style: disc;
  color: var(--red_white);
}

.tail-image-wrapper {
  display:flex;
  justify-content: center;
  width:100%;
  margin-bottom:30px;
}

.tail-image {
  width:30%;
  height:auto;
}

.published-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 15px;
}

.published-header {
  color: var(--red_milk);
  font-family: var(--headerFontFamily);
  font-size: 20px;
  font-weight: var(--superBold);
  margin-right: 10px;
}

/* breadcrumb navigation */
.breadcrumbnav {
  list-style: none;
  padding: 0;
}

.breadcrumbnav li {
  display: inline-block;
}

.breadcrumbnav li:last-child {
  color: var(--black_white);
}

.breadcrumbnav li:last-child a {
  color: var(--red_white);
  font-weight: bold;
}

.breadcrumbnav li::after {
  content: "\00a0  > \00a0";
  color: var(--red_white);
}

.breadcrumbnav li:last-child::after {
  content: "";
}

.breadcrumbnav a {
  font-weight: normal;
  text-decoration: none;
  color: var(--red_white);
}

.breadcrumbnav a:hover {
  text-decoration: underline;
}

@media screen and (max-width: 1073px) {
  .collection-info {
    display:none;
  }
  .collection-wrapper{
    display: flex;
    justify-content: space-evenly;
    width: fit-content;
    gap: 25px;
    flex-wrap:wrap;
  }
  .collection-box {
    justify-content: center;
  }
}

@media screen and (max-width: 400px) {
  .story-image-box {
    padding:0;
  }

  .collection-box {
    padding-left:0;
    justify-content: space-evenly;
  }

  .excerpt-box {
    margin-bottom:20px;
    position: relative;
    padding-left: 0;
    padding-right: 0;
  }

  .excerpt-box .read-online-box {
    display:flex;
    justify-content: center;
    margin-bottom:30px;
    margin-top: 30px;
  }

  .collection-images {
    width:115px;
    height: auto;
    border-radius:0px;
    opacity: 1;
  }

  .collection-images:hover {
    transform: translateY(-5px);
    cursor:pointer;
    border-radius: 0;
    opacity:1;
  }

  .title-container {
    padding:5px;
    /* padding-bottom: 25px; */
  }

  .title-box {
    padding-left: 5px;
  }

  .description-title {
    font-size: 14px;
  }

  .collection-title {
    font-size: 14px;
  }

  .flair-img {
    width: 130px;
  }

  .story-title {
    font-size: 20px;
    text-align: center;
  }

  .collection-wrapper {
    gap:10px;
    flex-wrap:wrap;
    margin-right: 0;
  }

  .description-text {
    padding: 5px;
    margin-left:0;
    margin-right:0;
  }

}

@media screen and (max-width: 380px) {
  .collection-wrapper {
    /* flex-direction: column; */
    justify-content: center;
    align-items: center;
    flex-wrap:wrap;
  }
}
