<div *ngIf="!isLoaded" class="spinner-wrapper">
  <div class="spinner-box">
    <mat-spinner></mat-spinner>
  </div>
</div>
<div *ngIf="isLoaded">
  <ol class="breadcrumbnav">
    <li><a [routerLink]="['/home']">Home</a></li>
    <li><a [routerLink]="['/poems']">Poems</a></li>
  </ol>
  <div class="title-container">
    <h1 class="story-title"><span class="story-title-text">{{ poem.title }}</span></h1>
  </div>

  <div class="description-container">
    <div>
      <div class="excerpt-box" *ngIf="poem.excerpt">
        <p class="excerpt-text" [innerHTML]="poemExcerpt"></p><span class="read-online-box" *ngIf="poem.textUrl"><a class="story-text-link" href="{{ poem.textUrl }}" target="_blank">Continue reading</a></span>
      </div>
      <div style="justify-content:flex-start; margin:20px;" *ngIf="!poem.excerpt">
        <p class="">Excerpt not yet available.</p><span class="read-online-box" *ngIf="poem.textUrl"><a class="story-text-link" href="{{ poem.textUrl }}" target="_blank">Continue reading</a></span>
      </div>
    </div>

  </div>


  <div class="collection-container">
    <div class="collection-box" *ngIf="poemCollections">
      <div class="published-container">
        <h2 class="published-header">Published in</h2>
        <div class="collection-info-wrapper">
          <div class="collection-wrapper">
            <ng-container *ngFor="let collection of poemCollections">
              <div class="collection-images-wrapper">
                <img class="collection-images" src="{{ collection.collectionImages[0].imageUrl }}" alt="" [routerLink]="['/collections', collection.id]">
              </div>
            </ng-container>
          </div>
          <div class="collection-info">
            <p>
              The Del Rey collections use Howard’s original typescripts wherever possible and are usually accompanied by a lively appendix of unfinished drafts, alternate versions, and commentary from noted Howard scholars.
            </p>
            <ul class="collections-list">
              <ng-container *ngFor="let collection of collections">
                <li class="collection-list-items" [routerLink]="['/collections', collection.id]">{{ collection.title }}</li>
              </ng-container>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <app-svg-element></app-svg-element>
  </div>

</div>
