.biography-container {
  background-color: var(--white_black);
  padding: 20px;
  text-align: center;
  display:flex;
  justify-content: space-between;
  gap: 20px;
}

.home-image {
  width: 200px;
  height: auto;
}

.biography {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.biography h1 {
  font-size: 32px;
  margin-bottom: 10px;
  color: var(--red_white);
}

.biography p {
  font-size: 22px;
  line-height: 1.5;
  text-align: justify;
  color: var(--black_white);
}

.timeline-container {
  background-color: var(--bkg_color);
  padding: 20px;
}

.timeline h2 {
  font-size: 24px;
  margin-bottom: 20px;
  font-family: var(--headerFontFamily);
  color: var(--black_white);
}

.timeline ul {
  list-style-type: none;
  padding: 0;
}

.timeline li {
  display: flex;
  margin-bottom: 20px;
  font-family:var(--contentFontFamily);
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
}

.timeline .year {
  flex: 0 0 215px;
  /* background-color: #1e1e1e; */
  background-color: var(--red_black);
  color: #f5f5f5;
  text-align: center;
  padding: 10px;
  font-weight: bold;
  font-family:var(--contentFontFamily);
  font-size:var(--contentFontSize);
}

.timeline .event {
  flex: 1;
  background-color: var(--white_color);
  padding: 10px;
  border-left: 2px solid var(--black_red);
  font-family:var(--contentFontFamily);
  /* font-size:var(--contentFontSize); */
  font-size: 18px;
  color: var(--black_color);
}

.main {
  /* padding:25px;
  padding-top: 50px;
  padding-bottom: 50px; */
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

@media screen and (max-width:693px) {
  .biography-container {
    flex-direction: column;
  }

  .timeline li {
    flex-direction: column;
  }

  .timeline .year {
    flex: 0 0 60px;
  }

  .timeline .event {
    border-left: none;
    border-top: 2px solid var(--black_red);
  }
}

@media screen and (max-width: 394px) {

  .home-image {
    width: 150px;
  }

  .main {
    padding: 0;
    /* padding-top: 25px;
    padding-bottom: 25px; */
  }

  .biography p {
    text-align: justify;
    word-break:break-all;
  }

  .biography h1 {
    font-size: 20px;
    text-align:center;
  }

  .timeline h2 {
    font-size: 20px;
  }
}

.spinner-wrapper {
  width: 100%;
  height: 88vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.spinner-box {
  width: 50px;
  height: 50px;
}

.mat-mdc-progress-spinner {
  --mdc-circular-progress-active-indicator-color: #9e0000;
}

h1 {
  font-family: var(--headerFontFamily);
  font-size:var(--mainHeaderFontSize);
  font-weight:var(--superBold);
}

h2 {

}

p {
  font-family: var(--contentFontFamily);
  font-size:var(--mainHeaderFontSize);
}
