<div class="main">
  <div class="title-wrapper">
    <div class="title-box">
      <h1 class="title-text">About</h1>
    </div>
  </div>
  <div class="about-wrapper">
    <div class="about-box">
      <p class="about-text">
        The Robert E. Howard Treasury is an application designed to allow enthusiasts a means to browse REH's vast catalogue of stories, poetry, characters, and other miscellaneous works.
        The celebrated Del Rey collections are the golden standard when it comes to the publishing of Howard's works in physical collections due to the unaltered texts, hundreds of illustrations,
        and even the inclusion of unfinished stories and fragments.
      </p>
    </div>
  </div>
</div>
