<div class="main-title">
  <div class="title-container">
    <h1 class="title-text">Stories</h1>
  </div>
</div>
<div class="contents-wrapper">
  <ul class="contents-list">
    <button (click)="sortStoriesByTitle()">Story By Title</button>
    <button (click)="sortStoriesByFirstPublished()">Sort Stories By First Published</button>
    <ng-container *ngFor="let story of stories">
      <li [routerLink]="['/stories', story.id]" class="contents-list-items">{{ story.title }}</li>
    </ng-container>
  </ul>
</div>
