.main-title {
  display: flex;
  justify-content: center;
  /* width: 100%; */
  margin: 50px;
}

.title-container {
  display: flex;
  justify-content: center;
}

.title-text {
  font-size: 30px;
  font-family: Libre Baskerville,Helvetica,Arial,sans-serif;
  font-weight: 700;
  color: #9e0000;
}

.contents-wrapper {
  padding: 50px;
  padding-top: 0;
}

.contents-list-items {
  list-style:upper-roman;
}
