.blog-post {
  max-width: 1000px;
  /* max-width: 100%; */
  margin: 0 auto;
  margin-top: 50px;
  padding: 20px;
  border: 1px solid #ccc;
}

.post {
  background-color: #f9f9f9;
  padding: 10px;
  border: 1px solid #ddd;
  margin-bottom: 20px;
}

.comments {
  padding: 10px;
}

.comment {
  border-left: 2px solid #007BFF; /* Vertical line to indicate comments */
  margin: 10px 0;
  padding: 10px;
}

.replies {
  margin-left: 10px; /* Adjust as needed for proper nesting */
}

.post-image {
  width: 100%;
  height: auto;
}

.title-container {
  padding: 25px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.story-title {
  position: relative;
  font-size: 30px;
  font-family: var(--headerFontFamily);
  font-weight: var(--superBold);
  color: var(--red_milk);
  margin: 0;
  width: 100%;
  text-align: center;
  padding: 0 10%;
  display: flex;
  justify-content: center;
}

.story-title::before,
.story-title::after {
  content: "";
  position: absolute;
  top: 50%;
  border-top: 2px solid var(--black_white);
  width: 100%;
  z-index: -1;
}

.story-title::before {
  left: 0;
}

.story-title::after {
  right: 0;
}

.story-title-text {
  background-color: var(--bkg_color);
  padding: 0 15px;
  display: flex;
  justify-content: center;
  width: fit-content;
}
