<div class="blog-post">
  <div class="title-container">
    <h1 class="story-title"><span class="story-title-text">{{ post.title }}</span></h1>
  </div>
  <img class="post-image" src="{{ post.imageUrl }}" alt="">
  <div class="post" [innerHTML]="post.content">

  </div>
</div>
<div class="blog-post">
  <h3>Comments</h3>

  <!-- <div>
    <input [(ngModel)]="newCommentContent" placeholder="Add a new comment...">
    <button (click)="createComment()">Submit</button>
  </div> -->

  <div class="usertext-edit md-container" *ngIf="loggedIn()">
    <div class="md">
      <textarea rows="1" cols="1" name="text" [(ngModel)]="newCommentContent" placeholder="">

      </textarea>
    </div>
    <div class="usertext-buttons">
      <button (click)="createComment()">Save</button>
    </div>
  </div>

  <div class="comments">
    <app-comment *ngFor="let comment of comments" [comment]="comment" [replyDepth]="0" [maxDepth]="maxDepth"></app-comment>
  </div>

</div>

