<div class="blog-post">
  <div class="title-container">
    <h1 class="story-title"><span class="story-title-text">{{ post.title }}</span></h1>
  </div>
  <img class="post-image" src="{{ post.imageUrl }}" alt="">
  <div class="post" [innerHTML]="modifyHTMLContent()">

  </div>
</div>
<div class="blog-post">
  <div style="gap: 10px;">
    <h3 style="color: var(--black_white)">Comments</h3>
  </div>

  <div class="usertext-edit md-container" *ngIf="loggedIn()">
    <div class="md">
      <textarea rows="1" cols="1" name="text" [(ngModel)]="newCommentContent" placeholder="">

      </textarea>
    </div>
    <div class="usertext-buttons">
      <button (click)="createComment()">Save</button>
    </div>
  </div>
  <button style="margin-top: 10px;" (click)="toggleCommentNestVisibility()">{{ showCommentNest ? 'Hide' : 'Show' }} Comments</button>

  <!-- Nested comments -->
  <div *ngIf="showCommentNest" class="comment-nest">
    <app-comment *ngFor="let comment of comments" [comment]="comment" [replyDepth]="0" [maxDepth]="maxDepth"></app-comment>
  </div>
</div>

