<div class="carousel-container">
  <div class="scrolling-image-wrapper">
    <div class="scrolling-image"></div>
  </div>
  <div class="box-shadow">
    <ng-container *ngFor="let image of images; let i = index">
      <div *ngIf="i === currentImageIndex && !loading"
           class="carousel-image"
           [ngStyle]="{'background-image': 'url(' + image + ')'}"
           (click)="openFullScreenImage(image)"
           style="cursor:zoom-in;">
      </div>
    </ng-container>
    <app-fullscreen-image [imageUrl]="currentImageUrl" #fullScreenImage></app-fullscreen-image>
    <div *ngIf="loading" class="loader-container">
      <div class="placeholder">
        <div class="loader"></div>
      </div>
    </div>
  </div>
  <div class="overlay-image"></div>

  <button mat-icon-button (click)="showPreviousImage()" [disabled]="loading">
    <mat-icon>chevron_left</mat-icon>
  </button>

  <button mat-icon-button (click)="showNextImage()" [disabled]="loading">
    <mat-icon>chevron_right</mat-icon>
  </button>
</div>
