/* Styles for the mat-dialog */
.mat-dialog-container {
  max-width: 400px;
}

h2[mat-dialog-title] {
  background-color: var(--red_black);
  color: white;
  padding: 15px;
  font-family: var(--inter);
}

.mat-dialog-content {
  padding: 15px;
}

.mat-dialog-actions {
  justify-content: flex-end;
  padding: 15px;
}

/* Styles for mat-checkbox */
.mat-checkbox {
  margin-bottom: 10px;
}

/* Styles for the buttons */
button[mat-button] {
  margin-left: 10px;
  font-family: var(--inter);
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
  font-size: 16px;
}

/* Primary button style */
button[mat-button] {
  background-color: var(--red_color);
  color: white;
  font-family: var(--inter);
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
  font-size: 16px;
}

button[mat-button]:hover {
  background-color: #a12d32;
  color: var(--white_color);
}

.dialog-wrapper {
  max-height: 300px;
  min-height: 200px;
  overflow-y: scroll;
}

::ng-deep .mat-mdc-dialog-container .mdc-dialog__surface {
  background-color: var(--white_color);
  border-radius: 28px !important;
}

::ng-deep .mat-mdc-checkbox label {
  cursor: pointer;
  font-family: var(--inter);
  font-size: var(--medium);
}

::ng-deep .mdc-dialog__content > div {
  display: flex;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
  padding:5px;
  margin-bottom: 5px;
}
