<h2 mat-dialog-title>Add to User List</h2>

<mat-dialog-content>
  <div *ngFor="let userList of loggedInUser.userLists">
    <mat-checkbox
      [(ngModel)]="userList.selected"
      [disabled]="userListContainsObject(userList, selectedItem, objectType)">
      {{ userList.name }}
    </mat-checkbox>
  </div>
</mat-dialog-content>

<mat-dialog-actions>
  <button mat-button mat-dialog-close>Cancel</button>
  <button mat-button color="primary" (click)="addToSelectedUserLists()">Add</button>
</mat-dialog-actions>

