<div class="outer">
  <h1 class="title">Account Recovery</h1>
  <div class="wrapper" *ngIf="!processing && !countdownStarted">
    <div class="cpadding">
      <div class="new-cool-overlay">
        <h2>Reset Password</h2>
        <form class="login-form" (submit)="onSubmit($event)">
          <label class="label-email" for="password">New Password:</label>
          <input type="password" [(ngModel)]="password" name="password" required />
          <label class="label-email" style="margin-top: 5px;" for="confirmPassword">Confirm Password:</label>
          <input type="password" [(ngModel)]="confirmPassword" name="confirmPassword" required />
          <button mat-raised-button id="loginFormBtn" type="submit">Reset Password</button>
        </form>
      </div>
    </div>
  </div>

  <div class="caption" *ngIf="!processing && !countdownStarted">
    <p>** Enter and confirm you new password to complete account recovery.</p>
  </div>

  <div *ngIf="!processing && !error && countdownStarted" class="alert alert-info">
    {{ statusMessage }}
    <div>
      Redirecting in {{ countdown }} seconds...
    </div>
  </div>
  <div *ngIf="processing" class="alert alert-info">
    Processing request...
  </div>
  <div *ngIf="error" class="alert alert-danger">
    {{ statusMessage }}
  </div>

  <div *ngIf="processing" class="overlay">
    <p id="name">Please wait...</p>
    <div class="centre">
      <div class="loader"></div>
    </div>
  </div>
</div>
