div h2,
div form label {
  color: var(--white_color);
}

.outer {
  height: 50vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--milk_red);
  padding-top: 50px;
  position: relative;
}

.wrapper {
  max-width: 600px;
  width: 600px;
  background-color: #2e2e2e;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  border: 5px solid transparent;
  border-image: url(https://wa-cdn.nyc3.cdn.digitaloceanspaces.com/assets/themes/steampunk/images/border.png) 25;
}

.cpadding {
  padding: 20px;
}

.new-cool-overlay {
  padding: 20px;
  border-radius: 8px;
  background-color: #2e2e2e;
  color: var(--white_color);
}

.login-form {
  display: flex;
  flex-direction: column;
}

.label-email {
  margin-bottom: 8px;
  font-family: var(--inter);
  font-size: var(--contentFontSize);
  color: var(--white_color);
}

input[type="email"] {
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: var(--contentFontSize);
  width: 100%;
}

button#loginFormBtn {
  background-color: var(--red_color);
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.2s;
  border: 3px solid transparent;
  border-image: url(https://wa-cdn.nyc3.cdn.digitaloceanspaces.com/assets/themes/steampunk/images/border.png) 30;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
  width: fit-content;
  margin-top: 10px;
  align-self: center;
}

button#loginFormBtn:hover {
  background-color: var(--red_hover);
}

.alert {
  text-align: center;
  padding: 15px;
  border-radius: 5px;
  max-width: 600px;
  margin: 20px auto;
}

.alert-info {
  background-color: #d9edf7;
  color: #31708f;
}

.alert-danger {
  background-color: #f2dede;
  color: #a94442;
  position: absolute;
  bottom: -125px;
  left: 0;
  right: 0;
}

.title {
  color: var(--black_white);
}

.caption {
  margin-top: 25px;
  color: var(--black_white);
  font-size: 1rem;
}

.overlay {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 0;
  left: 0;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.8);
  overflow: hidden;
  z-index: 100000;
}

.overlay.loaded {
  height: 0;
}

.overlay p {
  padding-bottom: 20px;
  color: #ffffff;
  font-weight: 600;
  letter-spacing: 3px;
}

.loader {
  background: transparent;
  width: 84px;
  height: 84px;
  border-top: 4px solid rgba(255, 255, 255, 0.3);
  border-right: 4px solid rgba(255, 255, 255, 0.3);
  border-bottom: 4px solid rgba(255, 255, 255, 0.3);
  border-left: 4px solid #ffffff;
  border-radius: 50%;
  -webkit-animation: spin 1s ease infinite;
  animation: spin 1s ease infinite;
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
