<div *ngIf="!processing && !error && !countdownStarted">
  <h2>Reset Password</h2>
  <form (submit)="onSubmit($event)">
    <label for="password">New Password:</label>
    <input type="password" [(ngModel)]="password" name="password" required />
    <label for="confirmPassword">Confirm Password:</label>
    <input type="password" [(ngModel)]="confirmPassword" name="confirmPassword" required />
    <button type="submit">Reset Password</button>
  </form>
</div>

<div *ngIf="!processing && !error && countdownStarted" class="alert alert-info">
  {{ statusMessage }}
  <div>
    Redirecting in {{ countdown }} seconds...
  </div>
</div>
<div *ngIf="processing" class="alert alert-info">
  Processing request...
</div>
<div *ngIf="error" class="alert alert-danger">
  {{ statusMessage }}
</div>

<div *ngIf="processing" class="overlay">
  <p id="name">Please wait...</p>
  <div class="centre">
    <div class="loader"></div>
  </div>
</div>
