<ol class="breadcrumbnav">
  <li><a [routerLink]="['/home']">Home</a></li>
</ol>

<div class="main">
  <div class="profile-image">
    <div class="profile-body">
      <div class="title-wrapper">
        <p class="title-text">ABOUT ME</p>
      </div>
      <div class="description-wrapper">
        <div class="image-wrapper">
          <div *ngIf="loggedInUser.imageUrl" style="display:none;">
            <img
              [src]="loggedInUser.imageUrl"
              (load)="setImageUrl($event)"
              style="display: none;"
            >
          </div>
          <ng-container *ngIf="isLoaded">
            <div class="image-element" [style.backgroundImage]="'url(' + loggedInUserImageUrl + ')'"></div>
          </ng-container>
          <div class="placeholder" *ngIf="!isLoaded"></div>
        </div>
        <div class="intro-wrapper">
          <p>{{ loggedInUser.profileDescription ? loggedInUser.profileDescription : 'Introduce yourself.' }}</p>
        </div>
      </div>
    </div>
  </div>
  <div class="account-userlists">
    <div class="account-info-wrapper">
      <div class="title-wrapper">
        <p class="title-text">ACCOUNT DETAILS</p>
      </div>
      <div class="details-wrapper">
        <div class="details-text">
          <p><strong>Username:</strong> {{ loggedInUser.username }}</p>
          <p><strong>Email:</strong> {{ loggedInUser.email }}</p>
          <p><strong>Role:</strong> {{ loggedInUser.role }}</p>
        </div>
      </div>
      <div class="edit-account-wrapper">
        <p class="title-text">UPDATE ACCOUNT</p>
      </div>
      <div class="edit-wrapper">
        <button mat-raised-button mat-button class="edit-button" (click)="openUpdateUserDialog(loggedInUser)">Edit</button>
      </div>
      <div class="delete-account-wrapper">
        <p class="title-text">TERMINATE ACCOUNT</p>
      </div>
      <div class="delete-wrapper">
        <button mat-raised-button mat-button class="delete-button">Delete</button>
      </div>
    </div>
    <div class="userlists-wrapper">
      <app-user-lists></app-user-lists>
    </div>
  </div>
</div>
