.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 50px;
}

.profile-image {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /* background-color: var(--milk_white); */
  /* box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  border-radius: 6px; */
}

.profile-body {
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  border-radius: 6px;
  background-color: var(--milk_white);
}

.description-wrapper {
  display: flex;
  justify-content: space-between;
  padding: 20px;
}

.image-wrapper {
  flex:1;
  display: flex;
  justify-content: center;
}

.image-element {
  min-width: 125px;
  min-height: 125px;
  background-color: #fff;
  max-width: 150px;
  max-height: 150px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  border: 3px solid var(--red_color);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.intro-wrapper {
  flex: 5;
}

.intro-wrapper p {
  color: var(--black_color);
  margin: 0;
  padding: 15px;
  font-family: var(--contentFontFamily);
  font-size: 1.1rem;
  line-height: 1.2;
}

.account-userlists {
  display: flex;
  justify-content: space-between;
  margin-top: 25px;
  gap: 20px;
}

.account-info-wrapper {
  background-color: var(--milk_white);
  /* border: 1px solid var(--white_black); */
  border-radius:6px;
  flex:1;
  height:fit-content;
  font-family: var(--contentFontFamily);
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

.userlists-wrapper {
  background-color: var(--milk_white);
  border-radius:6px;
  flex:2;
  font-family: var(--contentFontFamily);
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

.title-wrapper {
  background-color:var(--white_black);
  /* border: 1px solid #f1f0f4; */
  display:flex;
  justify-content: center;
  padding:10px;
  border-radius: 6px 6px 0 0;
}
.edit-account-wrapper {
  background-color:var(--white_black);
  /* border: 1px solid #f1f0f4; */
  display:flex;
  justify-content: center;
  padding:10px;
}
.delete-account-wrapper {
  background-color:var(--white_black);
  /* border: 1px solid #f1f0f4; */
  display:flex;
  justify-content: center;
  padding:10px;
}

.title-text {
  margin: 0;
  font-weight:bold;
  font-family:var(--contentFontFamily);
  font-size:var(--headerFontSize);
  color: var(--red_white);
  margin:0;
}

.details-wrapper {
  margin: 0;
  display: flex;
  justify-content: flex-start;
  padding: 5px;
  padding-left: 20px;
  color: var(--black_color);
}

.edit-wrapper {
  margin:0;
  display:flex;
  justify-content: center;
  padding: 20px 0;
}

.delete-wrapper {
  margin:0;
  display:flex;
  justify-content: center;
  padding: 20px 0;
}

.details-text {
  display:flex;
  flex-direction: column;
}

::ng-deep mat-content {
  font-family: var(--contentFontFamily);
}

@media screen and (max-width:832px) {
  .main {
    flex-direction:column;
    margin-top: 35px;
  }
  .description-wrapper {
    flex-direction:column;
  }
  .account-userlists {
    flex-direction:column;
  }
  .image-wrapper {
    flex-direction: column;
  }
  .image-element {
    display:flex;
    justify-content: center;
  }
}

.delete-button {
  background-color: var(--red_color); /* Choose your desired color */
  color: #fff;
  border: none;
  padding: 8px 16px;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
  font-family: var(--contentFontFamily);
  /* font-size: var(--headerFontSize); */
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
}

.delete-button:hover {
  background-color: var(--red_color); /* Hover color */
}

.edit-button {
  background-color: var(--red_color); /* Choose your desired color */
  color: #fff;
  border: none;
  padding: 8px 16px;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
  font-family: var(--contentFontFamily);
  /* font-size: var(--headerFontSize); */
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
}

.edit-button:hover {
  background-color: var(--red_color); /* Hover color */
}

/* breadcrumb navigation */
.breadcrumbnav {
  list-style: none;
  padding: 0;
}

.breadcrumbnav li {
  display: inline-block;
}

.breadcrumbnav li:last-child {
  color: var(--black_white);
}

.breadcrumbnav li:last-child a {
  color: var(--red_white);
  font-weight: bold;
}

.breadcrumbnav li::after {
  content: "\00a0  > \00a0";
  color: var(--red_white);
}

.breadcrumbnav li:last-child::after {
  content: "";
}

.breadcrumbnav a {
  font-weight: normal;
  text-decoration: none;
  color: var(--red_white);
}

.breadcrumbnav a:hover {
  text-decoration: underline;
}
