.main {
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
  gap: 20px;
}

.account-info-wrapper {
  background-color: #fdfdff;
  border: 1px solid #f1f0f4;
  border-radius:6px;
  flex:1;
  height:fit-content;
  font-family: var(--contentFontFamily);
}

.userlists-wrapper {
  background-color: #fdfdff;
  border: 1px solid #f1f0f4;
  border-radius:6px;
  flex:2;
  font-family: var(--contentFontFamily);
}

.title-wrapper {
  background-color:#f7f7f8;
  border: 1px solid #f1f0f4;
  display:flex;
  justify-content: center;
  padding:10px;
}

.title-text {
  margin: 0;
  font-weight:bold;
  font-family:var(--contentFontFamily);
  font-size:var(--headerFontSize);
  color:#9d0101;
  margin:0;
}

.details-wrapper {
  margin: 0;
  display: flex;
  justify-content: flex-start;
  padding: 5px;
  padding-left: 20px;
}

.edit-wrapper {
  margin:0;
  display:flex;
  justify-content: center;
  padding: 5px;
}

.delete-wrapper {
  margin:0;
  display:flex;
  justify-content: center;
  padding: 5px;
}

.details-text {
  display:flex;
  flex-direction: column;
}

::ng-deep mat-content {
  font-family: var(--contentFontFamily);
}

@media screen and (max-width:832px) {
  .main {
    flex-direction:column;
  }
}
