.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 50px;
}

.profile-image {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.profile-body {
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  /* border-radius: 28px 28px; */
  background-color: var(--milk_white);
  border: 5px solid transparent;
  border-image: url(https://wa-cdn.nyc3.cdn.digitaloceanspaces.com/assets/themes/steampunk/images/border.png) 20;
  animation: 0.3s slideUp forwards ease-out;
}

.description-wrapper {
  display: flex;
  justify-content: space-between;
  padding: 20px;
}

.image-wrapper {
  /* flex:1; */
  display: flex;
  justify-content: center;
  overflow:hidden;
  width: 125px;
  height: 125px;
  border-radius: 4px 4px 4px 28px;
  /* border: 5px solid var(--red_color); */
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

/* .image-element {
  min-width: 125px;
  min-height: 125px;
  background-color: #fff;
  max-width: 150px;
  max-height: 150px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  border: 3px solid var(--red_color);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
} */

.image-element {
  min-width: 125px;
  min-height: 125px;
  max-width: 150px;
  max-height: 150px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  animation: zoom 20s infinite alternate;
}

@keyframes zoom {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.2);
  }
}


.intro-wrapper {
  flex: 5;
}

.intro-wrapper p {
  color: var(--black_color);
  margin: 0;
  padding: 15px;
  font-family: var(--inter);
  font-size: 1.4rem;
  line-height: 1.2;
  padding-left: 30px;
  text-align: left;
  hyphens: auto;
}

.account-userlists {
  display: flex;
  justify-content: space-between;
  margin-top: 25px;
  gap: 20px;
}

.account-info-wrapper {
  background-color: var(--milk_white);
  /* border: 1px solid var(--white_black); */
  /* border-radius: 28px 28px; */
  border: 5px solid transparent;
  border-image: url(https://wa-cdn.nyc3.cdn.digitaloceanspaces.com/assets/themes/steampunk/images/border.png) 20;
  flex:1;
  height:fit-content;
  font-family: var(--contentFontFamily);
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  animation: 0.3s slideRight forwards ease-out;
}

.userlists-wrapper {
  background-color: var(--milk_white);
  /* border-radius: 28px; */
  flex:2;
  font-family: var(--contentFontFamily);
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  border: 5px solid transparent;
  border-image: url(https://wa-cdn.nyc3.cdn.digitaloceanspaces.com/assets/themes/steampunk/images/border.png) 20;
  animation: 0.3s slideLeft forwards ease-out;
}

.title-wrapper {
  background-color:var(--white_black);
  display:flex;
  justify-content: center;
  padding:10px;
  /* border-radius: 28px 28px 0 0; */
}
.edit-account-wrapper {
  background-color:var(--white_black);
  /* border: 1px solid #f1f0f4; */
  display:flex;
  justify-content: center;
  padding:10px;
}
.delete-account-wrapper {
  background-color:var(--white_black);
  /* border: 1px solid #f1f0f4; */
  display:flex;
  justify-content: center;
  padding:10px;
}

.title-text {
  margin: 0;
  font-weight:bold;
  font-family:var(--inter);
  font-size:var(--headerFontSize);
  color: var(--red_white);
  margin:0;
}

.details-wrapper {
  margin: 0;
  display: flex;
  justify-content: flex-start;
  padding: 5px;
  padding-left: 20px;
  color: var(--black_color);
}

.edit-wrapper {
  margin:0;
  display:flex;
  justify-content: center;
  padding: 20px 0;
}

.delete-wrapper {
  margin:0;
  display:flex;
  justify-content: center;
  padding: 20px 0;
}

.details-text {
  display:flex;
  flex-direction: column;
  font-family: var(--inter);
}

::ng-deep mat-content {
  font-family: var(--contentFontFamily);
}

@media screen and (max-width:832px) {
  .main {
    flex-direction:column;
    margin-top: 35px;
  }
  .description-wrapper {
    flex-direction:column;
    padding: 20px 0;
    justify-content: center;
    align-items: center;
  }
  .account-userlists {
    flex-direction:column;
  }
  .image-wrapper {
    flex-direction: column;
    align-items: center;
    text-align: justify;
    border-radius: 4px 4px 4px 4px;
  }
  .image-element {
    display:flex;
    justify-content: center;
  }
  .intro-wrapper p {
    padding-left: 15px;
    text-align: center;
  }
}

.delete-button {
  background-color: var(--red_color); /* Choose your desired color */
  color: #fff;
  border: none;
  padding: 8px 16px;
  cursor: pointer;
  transition: background-color 0.3s;
  font-family: var(--inter);
  font-size: 1rem;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
  /* border-radius: 28px; */
  border-radius: 0;
  border: 3px solid transparent;
  border-image: url(https://wa-cdn.nyc3.cdn.digitaloceanspaces.com/assets/themes/steampunk/images/border.png) 30;
}

.delete-button:hover {
  background-color: #a12d32;
}

.edit-button {
  background-color: var(--red_color); /* Choose your desired color */
  color: #fff;
  border: none;
  padding: 8px 16px;
  cursor: pointer;
  transition: background-color 0.3s;
  font-family: var(--inter);
  font-size: 1rem;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
  /* border-radius: 28px; */
  border-radius: 0;
  border: 3px solid transparent;
  border-image: url(https://wa-cdn.nyc3.cdn.digitaloceanspaces.com/assets/themes/steampunk/images/border.png) 30;
}

.edit-button:hover {
  background-color: #a12d32;
}

/* breadcrumb navigation */
.breadcrumbnav {
  list-style: none;
  padding: 0;
}

.breadcrumbnav li {
  display: inline-block;
}

.breadcrumbnav li:last-child {
  color: var(--black_white);
}

.breadcrumbnav li:last-child a {
  color: var(--red_white);
  font-weight: bold;
}

.breadcrumbnav li::after {
  content: "\00a0  > \00a0";
  color: var(--red_white);
}

.breadcrumbnav li:last-child::after {
  content: "";
}

.breadcrumbnav a {
  font-weight: normal;
  text-decoration: none;
  color: var(--red_white);
}

.breadcrumbnav a:hover {
  text-decoration: underline;
}

.placeholder {
  min-width: 125px;
  min-height: 125px;
  height: 125px;
  max-width: 150px;
  max-height: 150px;
  aspect-ratio: 9 / 12;
  background: linear-gradient(90deg, transparent, rgba(255, 255, 255, 0.7), transparent);
  background-size: 200% 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  animation: sheen 1.5s infinite;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

@keyframes sheen {
  0% {
    background-position: -200% 0;
  }
  100% {
    background-position: 200% 0;
  }
}

/* Add a loading indicator style */
.is-loading {
  opacity: 0.5; /* Dim the card when loading */
  /* You can add more styles or animations for loading here */
}

.is-holographic {
  opacity: 0.2; /* Dim the card when loading */
  /* You can add more styles or animations for loading here */
}

@keyframes slideLeft {
  0% {
    transform: translateX(200px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slideRight {
  0% {
    transform: translateX(-200px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slideUp {
  0% {
    transform: translateY(200px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slideUp {
  0% {
    transform: translateY(-200px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
