<ol class="breadcrumbnav">
  <li><a [routerLink]="['/home']">Home</a></li>
</ol>

<div class="header-wrapper">
  <div class="header">
    <app-header [title]="'Sword and Sorcery Blog'"></app-header>
    <app-subheader [text]="'Where steel meets sorcery and adventure knows no bounds'"></app-subheader>
  </div>
  <div class="buttons-wrapper">
    <div class="toggle-container">
      <span class="toggle-label" [matMenuTriggerFor]="menu">Options</span>
    </div>
    <mat-menu #menu="matMenu">
      <button class="custom-button" [ngClass]="{'with-icon': showAll}" mat-menu-item (click)="toggleDisplayOption('all')">Show All <mat-icon class="checkmark-icon" *ngIf="showAll">check</mat-icon></button>
      <button class="custom-button" [ngClass]="{'with-icon': showByYear}" mat-menu-item (click)="toggleDisplayOption('year')">Show By Year <mat-icon class="checkmark-icon" *ngIf="showByYear">check</mat-icon></button>
      <button class="custom-button" [ngClass]="{'with-icon': showByCreatedAsc}" mat-menu-item (click)="toggleDisplayOption('created_asc')">Show By Date Asc <mat-icon class="checkmark-icon" *ngIf="showByCreatedAsc">check</mat-icon></button>
      <button class="custom-button" [ngClass]="{'with-icon': showByCreatedDesc}" mat-menu-item (click)="toggleDisplayOption('created_desc')">Show By Date Desc <mat-icon class="checkmark-icon" *ngIf="showByCreatedDesc">check</mat-icon></button>
      <button class="custom-button" [ngClass]="{'with-icon': showByTitleAsc}" mat-menu-item (click)="toggleDisplayOption('title_asc')">Show By Title Asc <mat-icon class="checkmark-icon" *ngIf="showByTitleAsc">check</mat-icon></button>
      <button class="custom-button" [ngClass]="{'with-icon': showByTitleDesc}" mat-menu-item (click)="toggleDisplayOption('title_desc')">Show By Title Desc <mat-icon class="checkmark-icon" *ngIf="showByTitleDesc">check</mat-icon></button>
    </mat-menu>
    <div class="new-post" *ngIf="loggedIn()">
      <span class="toggle-label" [routerLink]="['/posts/create']">Create New Post</span>
    </div>
  </div>
</div>

<div class="main" *ngIf="showAll" @customEasingAnimation>
  <div class="posts-header">
    <h2>Explore Our Posts</h2>
  </div>
  <div class="body">
    <ng-container *ngFor="let post of posts">
      <div [routerLink]="['/posts', post.id, 'comments']" class="post-wrapper">
        <div class="card">
          <div class="date-box"><span class="month-text">{{ post.createdAt | date:'MMM' }}</span><br><span class="day-text">{{ post.createdAt | date:'dd' }}</span></div>
          <img class="post-image" src="{{ post.imageUrl }}" alt="">
          <div class="title-text">{{ post.title }}</div>
        </div>
      </div>
    </ng-container>
  </div>
</div>


<!-- <div class="main" *ngIf="showByYear" @customEasingAnimation>
  <div class="body-wrapper">
    <ng-container *ngFor="let year of getSortedYears(); let first = first">
      <details class="year-details" [open]="showByYear && first" @panelAnimation>
        <summary class="year-summary">
          <h2>{{ year }}</h2>
        </summary>
        <div class="body">
          <ng-container *ngFor="let post of groupedPosts[year]">
            <div [routerLink]="['/posts', post.id, 'comments']" class="post-wrapper">
              <div class="card">
                <div class="date-box"><span class="month-text">{{ post.createdAt | date:'MMM' }}</span><br><span class="day-text">{{ post.createdAt | date:'dd' }}</span></div>
                <img class="post-image" src="{{ post.imageUrl }}" alt="">
                <div class="title-text">{{ post.title }}</div>
              </div>
            </div>
          </ng-container>
        </div>
      </details>
    </ng-container>
  </div>
</div> -->
<div class="main" *ngIf="showByYear" @customEasingAnimation>
  <div class="body-wrapper">
    <mat-accordion>
      <ng-container *ngFor="let year of getSortedYears(); let first = first">
        <mat-expansion-panel [expanded]="first">
          <mat-expansion-panel-header class="custom-expansion-header">
            <mat-panel-title>
              {{ year }}
            </mat-panel-title>
          </mat-expansion-panel-header>
          <div class="body">
            <ng-container *ngFor="let post of groupedPosts[year]">
              <div [routerLink]="['/posts', post.id, 'comments']" class="post-wrapper">
                <div class="card">
                  <div class="date-box"><span class="month-text">{{ post.createdAt | date:'MMM' }}</span><br><span class="day-text">{{ post.createdAt | date:'dd' }}</span></div>
                  <img class="post-image" src="{{ post.imageUrl }}" alt="">
                  <div class="title-text">{{ post.title }}</div>
                </div>
              </div>
            </ng-container>
          </div>
        </mat-expansion-panel>
      </ng-container>
    </mat-accordion>
  </div>
</div>


<div class="main" *ngIf="showByCreatedAsc" @customEasingAnimation>
  <div class="posts-header">
    <h2>Explore Our Posts</h2>
  </div>
  <div class="body">
    <ng-container *ngFor="let post of postsCreatedAsc">
      <div [routerLink]="['/posts', post.id, 'comments']" class="post-wrapper">
        <div class="card">
          <div class="date-box"><span class="month-text">{{ post.createdAt | date:'MMM' }}</span><br><span class="day-text">{{ post.createdAt | date:'dd' }}</span></div>
          <img class="post-image" src="{{ post.imageUrl }}" alt="">
          <div class="title-text">{{ post.title }}</div>
        </div>
      </div>
    </ng-container>
  </div>
</div>

<div class="main" *ngIf="showByCreatedDesc" @customEasingAnimation>
  <div class="posts-header">
    <h2>Explore Our Posts</h2>
  </div>
  <div class="body">
    <ng-container *ngFor="let post of postsCreatedDesc">
      <div [routerLink]="['/posts', post.id, 'comments']" class="post-wrapper">
        <div class="card">
          <div class="date-box"><span class="month-text">{{ post.createdAt | date:'MMM' }}</span><br><span class="day-text">{{ post.createdAt | date:'dd' }}</span></div>
          <img class="post-image" src="{{ post.imageUrl }}" alt="">
          <div class="title-text">{{ post.title }}</div>
        </div>
      </div>
    </ng-container>
  </div>
</div>

<div class="main" *ngIf="showByTitleAsc" @customEasingAnimation>
  <div class="posts-header">
    <h2>Explore Our Posts</h2>
  </div>
  <div class="body">
    <ng-container *ngFor="let post of postsTitleAsc">
      <div [routerLink]="['/posts', post.id, 'comments']" class="post-wrapper">
        <div class="card">
          <div class="date-box"><span class="month-text">{{ post.createdAt | date:'MMM' }}</span><br><span class="day-text">{{ post.createdAt | date:'dd' }}</span></div>
          <img class="post-image" src="{{ post.imageUrl }}" alt="">
          <div class="title-text">{{ post.title }}</div>
        </div>
      </div>
    </ng-container>
  </div>
</div>

<div class="main" *ngIf="showByTitleDesc" @customEasingAnimation>
  <div class="posts-header">
    <h2>Explore Our Posts</h2>
  </div>
  <div class="body">
    <ng-container *ngFor="let post of postsTitleDesc">
      <div [routerLink]="['/posts', post.id, 'comments']" class="post-wrapper">
        <div class="card">
          <div class="date-box"><span class="month-text">{{ post.createdAt | date:'MMM' }}</span><br><span class="day-text">{{ post.createdAt | date:'dd' }}</span></div>
          <img class="post-image" src="{{ post.imageUrl }}" alt="">
          <div class="title-text">{{ post.title }}</div>
        </div>
      </div>
    </ng-container>
  </div>
</div>
