.main {
  display: flex;
  justify-content: center;
}

.body {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  max-width: 1200px; /* Adjust as needed */
  width: 100%;
}

.post-wrapper {
  margin: 10px;
  /* width: 45%; */
}

.card {
  border: 1px solid #ccc;
  padding: 10px;
  text-align: center;
}

.post-image {
  max-width: 100%;
  height: auto;
}

.title-text {
  margin-top: 10px;
  font-weight: bold;
}

.header-wrapper {
  width: 100%;
  padding:0;
}

.header {
  text-align: center;
  padding: 30px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 30px 0;
}

.main-title {
  font-size: 36px;
  font-family: var(--headerFontFamily);
  color: var(--red_milk);
  margin: 0;
  font-weight: bold;
}

.subheader {
  font-size: 20px;
  font-family: var(--contentFontFamily);
  color: var(--black_white);
  margin: 0;
  line-height: 1.2;
}

img {
  width: 100%;
  height: auto;
}
