<div class="header-wrapper">
  <div class="header">
    <h1 class="main-title">Sword and Sorcery Blog</h1>
    <p class="subheader">
      Where steel meets sorcery and adventure knows no bounds
    </p>
  </div>
</div>

<div class="main">
  <div class="body">
    <ng-container *ngFor="let post of posts">
      <div [routerLink]="['/posts', post.id, 'comments']" class="post-wrapper">
        <div class="card">
          <div class="date-box">{{ post.createdAt | date:'MMM' }}<br>{{ post.createdAt | date:'dd' }}</div>
          <img class="post-image" src="{{ post.imageUrl }}" alt="">
          <div class="title-text">{{ post.title }}</div>
        </div>
      </div>
    </ng-container>
  </div>
</div>

<div class="button-container">
  <button mat-button [routerLink]="['/posts/create']">Create New Post</button>
</div>
