.expansion-panels {
  margin-bottom: 10px;
}

.title-wrapper {
  background-color: var(--white_black);
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  padding: 10px;
  padding-left: 25px;
  padding-right: 25px;
  font-family: var(--inter);
  /* border-radius: 28px 28px 0 0; */
}

.title-text {
  margin: 0;
  font-weight:bold;
  font-family:var(--inter);
  font-size:var(--headerFontSize);
  color:var(--red_white);
  margin:0;
}

.main {
  padding:0;
}

.lists-wrapper {
  padding: 25px;
  background-color: var(--milk_white);
  border-radius: 28px;
  font-family: var(--inter);
}

.category-wrapper {
  padding: 25px 0;
  font-family: var(--inter);
}

::ng-deep .mat-mdc-list-option.mat-accent .mdc-list-item__end {
  --mdc-checkbox-selected-icon-color: #9d0101 !important;
}

mat-expansion-panel-header {
  font-family: var(--contentFontFamily);
}

::ng-deep .mdc-list-item.mdc-list-item--with-one-line .mdc-list-item__end {
  align-self: center;
  margin-top: 0;
  display: none;
}

::ng-deep .mdc-list-item__primary-text {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

::ng-deep .mat-content {
  font-family: var(--inter);
  font-size: 1.1rem;
}

::ng-deep .mat-mdc-checkbox {
  padding-right: 16px;
}

h3 {
  font-family:var(--inter);
  font-size:var(--headerFontSize);
  color:#9d0101;
  margin:0;
}

p {
  padding-left:16px;
}

.remove-button {
  background-color: var(--red_color); /* Choose your desired color */
  color: #fff;
  border: none;
  padding: 8px 16px;
  border-radius: 28px;
  cursor: pointer;
  transition: background-color 0.3s;
  font-family: var(--inter);
  font-size: 1rem;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
}

.remove-button:hover {
  background-color: #a12d32;
}

.buttons-container {
  display:flex;
  justify-content: space-between;
  padding-top: 15px;
}

.create-button {
  background-color: var(--red_color);
  color: #fff;
  padding: 10px 20px;
  border: none;
  /* border-radius: 28px; */
  cursor: pointer;
  transition: background-color 0.3s;
  font-family: var(--inter);
  font-size: 1rem;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
  border-radius: 0;
  border: 3px solid transparent;
  border-image: url(https://wa-cdn.nyc3.cdn.digitaloceanspaces.com/assets/themes/steampunk/images/border.png) 30;
}

.create-button:hover {
  background-color: #a12d32;
}

.create-icon {
  /* font-size: 24px;
  margin-right: 8px; */
}

.mdc-list-item.mdc-list-item--with-one-line {
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
  margin-bottom:5px;
  font-family: var(--inter);
  border-radius: 28px;
  font-size: 1.1rem;
}

.content-titles {
  font-family: var(--inter);
  font-size: 1.1rem;
}

.no-items-wrapper {
  display:flex;
  justify-content: space-between;
  height:48px;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
  align-items: center;
  /* border-radius: 28px; */
}

.no-items-text {
  margin:0;
  font-family: var(--inter);
  font-size: 1.1rem;
}

.content-titles {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

@media screen and (max-width: 768px) {
  .content-titles {
    white-space: normal;
    overflow: visible;
    text-overflow: clip;
  }
}

@media screen and (max-width: 600px) {
  .remove-button {
    padding: 8px;
  }
  .content-titles {
    font-size: .75rem;
  }
  .no-items-text {
    font-size: .75rem;
  }
  .lists-wrapper {
    padding: 25px 15px;
  }
  ::ng-deep .mat-expansion-panel-body {
    padding: 0 15px 16px !important;
  }
}


.mat-expansion-panel {
  /* border-radius: 28px; */
}

::ng-deep .add-buttons:hover {
  background: none !important;
}

::ng-deep .add-buttons:hover {
  background: none !important;
}

.spinner-wrapper {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.spinner-box {
  width: 25px;
  height: 25px;
}

.mat-mdc-progress-spinner {
  --mdc-circular-progress-active-indicator-color: var(--body_color);
}
