<div class="main">
  <div class="title-wrapper">
    <h3 class="title-text">MY LISTS</h3>
    <span class="add-button">
      <button mat-button (click)="openCreateUserListDialog(newUserList)">
        <mat-icon>more_vert</mat-icon>
      </button>
    </span>
  </div>
  <div class="lists-wrapper">
    <ng-container *ngFor="let userList of userLists$ | async">
      <mat-expansion-panel class="expansion-panels">
        <mat-expansion-panel-header>
          {{ userList.name }}
        </mat-expansion-panel-header>
        <div>
          <h3>Stories</h3>
          <mat-selection-list *ngIf="userList.stories.length">
            <mat-list-option [disableRipple]="true"
              *ngFor="let story of userList.stories"
              [value]="story"
            >
              <span [routerLink]="['/stories', story.id]">{{ story.title }}</span>
              <mat-checkbox [(ngModel)]="story.selected"></mat-checkbox>
            </mat-list-option>
          </mat-selection-list>
          <p *ngIf="!userList.stories.length" class="no-items-text" [routerLink]="['/stories']">No stories on list</p>
        </div>
        <div>
          <h3>Poems</h3>
          <mat-selection-list *ngIf="userList.poems.length">
            <mat-list-option [disableRipple]="true"
              *ngFor="let poem of userList.poems"
              [value]="poem"
            >
              <span [routerLink]="['/poems', poem.id]">{{ poem.title }}</span>
              <mat-checkbox [(ngModel)]="poem.selected"></mat-checkbox>
            </mat-list-option>
          </mat-selection-list>
          <p *ngIf="!userList.poems.length" class="no-items-text" [routerLink]="['/poems']">No poems on list</p>
        </div>
        <div>
          <h3>Miscellanea</h3>
          <mat-selection-list *ngIf="userList.miscellaneas.length">
            <mat-list-option [disableRipple]="true"
              *ngFor="let miscellanea of userList.miscellaneas"
              [value]="miscellanea"
            >
              <span [routerLink]="['/miscellanea', miscellanea.id]">{{ miscellanea.title }}</span>
              <mat-checkbox [(ngModel)]="miscellanea.selected"></mat-checkbox>
            </mat-list-option>
          </mat-selection-list>
          <p *ngIf="!userList.miscellaneas.length" class="no-items-text" [routerLink]="['/miscellanea']">No miscellanea on list</p>
        </div>
        <div class="buttons-container">
          <div>
            <button mat-button (click)="removeSelectedItems(userList)" class="remove-button">Remove Selected</button>
          </div>
          <div>
            <button mat-button (click)="deleteUserList(userList)" class="remove-button">Delete List</button>
          </div>
        </div>
      </mat-expansion-panel>
    </ng-container>
  </div>
</div>




