.expansion-panels {
  margin-bottom: 10px;
}

.title-wrapper {
  background-color: var(--white_black);
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  padding: 10px;
  padding-left: 25px;
  padding-right: 25px;
  font-family: var(--contentFontFamily);
  border-radius: 3px 3px 0 0;
}

.title-text {
  margin: 0;
  font-weight:bold;
  font-family:var(--contentFontFamily);
  font-size:var(--headerFontSize);
  color:var(--red_white);
  margin:0;
}

.main {
  padding:0;
}

.lists-wrapper {
  padding: 25px;
  background-color: var(--milk_white);
}

.category-wrapper {
  padding: 25px 0;
}

::ng-deep .mat-mdc-list-option.mat-accent .mdc-list-item__end {
  --mdc-checkbox-selected-icon-color: #9d0101 !important;
}

mat-expansion-panel-header {
  font-family: var(--contentFontFamily);
}

::ng-deep .mdc-list-item.mdc-list-item--with-one-line .mdc-list-item__end {
  align-self: center;
  margin-top: 0;
  display: none;
}

::ng-deep .mdc-list-item__primary-text {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

::ng-deep .mat-content {
  font-family: var(--headerFontFamily);
  font-size: var(--contentFontSize);
}

::ng-deep .mat-mdc-checkbox {
  padding-right: 16px;
}

h3 {
  font-family:var(--headerFontFamily);
  font-size:var(--headerFontSize);
  color:#9d0101;
  margin:0;
}

p {
  padding-left:16px;
}

.remove-button {
  background-color: var(--red_color); /* Choose your desired color */
  color: #fff;
  border: none;
  padding: 8px 16px;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
  font-family: var(--contentFontFamily);
  /* font-size: var(--headerFontSize); */
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
}

.remove-button:hover {
  background-color: var(--red_color); /* Hover color */
}

.buttons-container {
  display:flex;
  justify-content: space-between;
  padding-top: 15px;
}

.create-button {
  background-color: var(--red_color);
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
  transition: background-color 0.3s;
  font-family: var(--contentFontFamily);
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
}

.create-button:hover {
  background-color: var(--red_color);
}

.create-icon {
  /* font-size: 24px;
  margin-right: 8px; */
}

.mdc-list-item.mdc-list-item--with-one-line {
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
  margin-bottom:5px;
  font-family: var(--contentFontFamily);
}

.content-titles {
  font-family: var(--contentFontFamily);
  font-size: 1.1rem;
}

.no-items-wrapper {
  display:flex;
  justify-content: space-between;
  height:48px;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
  align-items: center;
}

.no-items-text {
  margin:0;
  font-family: var(--contentFontFamily);
  font-size: 1.1rem;
}

@media screen and (max-width: 600px) {
  .remove-button {
    padding: 8px;
  }
}

