<!-- <div class="main">
  <div class="title-wrapper">
    <h3 class="title-text">MY LISTS</h3>
  </div>
  <div class="lists-wrapper">
    <ng-container *ngFor="let userList of loggedInUser.userLists">
      <mat-expansion-panel class="expansion-panels">
        <mat-expansion-panel-header>
          {{ userList.name }}
        </mat-expansion-panel-header>
        <div>

          <ng-container *ngIf=" userList.stories != null && userList.stories.length > 0">
            <h4>Stories</h4>
            <mat-selection-list [multiple]="true">
              <mat-list-option
                *ngFor="let story of userList.stories"
                [value]="story"
              >

                <span [routerLink]="['/stories', story.id]">{{ story.title }}</span>

              </mat-list-option>
            </mat-selection-list>
            <button (click)="removeSelectedStories(userList)">Remove</button>
          </ng-container>
        </div>
        <div>

          <ng-container *ngIf="userList.poems != null && userList.poems.length > 0">
            <h4>Poems</h4>
            <mat-selection-list [multiple]="true">
              <mat-list-option
                *ngFor="let poem of userList.poems"
                [value]="poem"
              >

                <span [routerLink]="['/poems', poem.id]">{{ poem.title }}</span>


              </mat-list-option>
            </mat-selection-list>
            <button (click)="removeSelectedPoems(userList)">Remove</button>
          </ng-container>
        </div>
        <div>

          <ng-container *ngIf="userList.miscellaneas != null && userList.miscellaneas.length > 0">
            <h4>Miscellaneas</h4>
            <mat-selection-list [multiple]="true">
              <mat-list-option
                *ngFor="let miscellanea of userList.miscellaneas"
                [value]="miscellanea"
              >

                <span [routerLink]="['/miscellanea', miscellanea.id]">{{ miscellanea.title }}</span>

              </mat-list-option>
            </mat-selection-list>
            <button (click)="removeSelectedMiscellaneas(userList)">
              Remove
            </button>
          </ng-container>
        </div>
      </mat-expansion-panel>
    </ng-container>
  </div>
</div> -->

<div class="main">
  <div class="title-wrapper">
    <h3 class="title-text">MY LISTS</h3>
  </div>
  <div class="lists-wrapper">
    <ng-container *ngFor="let userList of loggedInUser.userLists">
      <mat-expansion-panel class="expansion-panels">
        <mat-expansion-panel-header>
          {{ userList.name }}
        </mat-expansion-panel-header>
        <div>
          <h3>Stories</h3>
          <mat-selection-list *ngIf="userList.stories.length">
            <mat-list-option [disableRipple]="true"
              *ngFor="let story of userList.stories"
              [value]="story"
            >
              <span [routerLink]="['/stories', story.id]">{{ story.title }}</span>
              <mat-checkbox [(ngModel)]="story.selected"></mat-checkbox>
            </mat-list-option>
          </mat-selection-list>
          <p *ngIf="!userList.stories.length" class="no-items-text" [routerLink]="['/stories']">No stories on list</p>
        </div>
        <div>
          <h3>Poems</h3>
          <mat-selection-list *ngIf="userList.poems.length">
            <mat-list-option [disableRipple]="true"
              *ngFor="let poem of userList.poems"
              [value]="poem"
            >
              <span [routerLink]="['/poems', poem.id]">{{ poem.title }}</span>
              <mat-checkbox [(ngModel)]="poem.selected"></mat-checkbox>
            </mat-list-option>
          </mat-selection-list>
          <p *ngIf="!userList.poems.length" class="no-items-text" [routerLink]="['/poems']">No poems on list</p>
        </div>
        <div>
          <h3>Miscellanea</h3>
          <mat-selection-list *ngIf="userList.miscellaneas.length">
            <mat-list-option [disableRipple]="true"
              *ngFor="let miscellanea of userList.miscellaneas"
              [value]="miscellanea"
            >
              <span [routerLink]="['/miscellanea', miscellanea.id]">{{ miscellanea.title }}</span>
              <mat-checkbox [(ngModel)]="miscellanea.selected"></mat-checkbox>
            </mat-list-option>
          </mat-selection-list>
          <p *ngIf="!userList.miscellaneas.length" class="no-items-text" [routerLink]="['/miscellanea']">No miscellanea on list</p>
        </div>
        <div>
          <button (click)="removeSelectedItems(userList)">Remove Selected</button>
        </div>
      </mat-expansion-panel>
    </ng-container>
  </div>
</div>




