.illustrator-details {
  margin: 0 auto;
  text-align: center;
}

.details-wrapper {
  display: flex;
  align-items: center;
  margin-bottom: 50px;
  padding: 20px;
  border: 3px solid transparent;
  border-image: url(https://wa-cdn.nyc3.cdn.digitaloceanspaces.com/assets/themes/steampunk/images/border.png) 30;
  background-color: var(--white_black);
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
}

.profile-image-wrapper {
  min-width: 200px;
  height: 200px;
  overflow: hidden;
  /* box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px; */
  border: 5px solid var(--white_color);
}

.profile-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.illustrator-meta {

}

.name {
  font-size: 24px;
  margin: 0;
  color: var(--red_milk);
  font-family: var(--headerFontFamily);
}

.description {
  font-size: 20px;
  color: var(--black_white);
  font-family: var(--contentFontFamily);
  padding: 10px 5%;
  text-align: justify;
  line-height: 1.5;
}

.label-wrapper {
  width: 100%;
  display: flex;
}

.label-wrapper h1 {
  font-family: var(--contentFontFamily);
  color: var(--red_white);
}

.image-grid-container {
  position: relative;
  margin-bottom: 100px;
  /* box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px; */
  background-color: black;
  border-radius: 10px;
}

.image-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  justify-content: center;
  width: 100%;
  z-index: 5;
  /* box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
  background-color: var(--white_black); */
}

.show-more-btn-wrapper {
  display: flex;
  justify-content: center;
  width: 100%;
  position: absolute;
  bottom: -80px;
}

.show-more-btn {
  background-color: var(--red_white);
  color: var(--white_black);
}

/* .image-item {
  height: 200px;
  cursor: pointer;
  overflow: hidden;
  transition: filter 0.3s ease;
  position: relative;
}

.image-zoom {
  height: 100%;
  background-size: cover;
  background-position: center;
  transition: transform 0.3s, filter 0.3s ease;
  filter: grayscale(50%);
}

.image-item:hover .image-zoom {
  filter: grayscale(0%);
} */

/* .image-caption {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background: rgba(0, 0, 0, 0.5);
  text-align: center;
  padding: 5px;
  color: white;
  font-size: 14px;
  display: none;
  height:50px;
}

.image-item:hover .image-caption {
  display: block;
} */

/* Add CSS for lightbox and thumbnails */
.lightbox {
  /* Style for the darkened background */
  /* background: rgba(0, 0, 0, 0.8); */
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  overflow: hidden;
}

.lightbox-content {
  /* Style for the container holding the main image and controls */
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  border: 3px solid transparent;
  border-image: url(https://wa-cdn.nyc3.cdn.digitaloceanspaces.com/assets/themes/steampunk/images/border.png) 30;
}

.lightbox-content,
.lightbox-content ~ * {
  z-index: 2;
}

.lightbox-image-container {
  display: flex;
  justify-content:center;
  background-color: #fff;
  transition: all 0.5s ease; /* Add transition for resizing the container */
}

.lightbox-image {
  opacity: 0;
  transition: opacity 0.5s ease;
  max-width: 100%;
  max-height: 80vh;
}

.lightbox-controls {
  /* Style for the control buttons (close icon and download icon) */
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  height:50px;
  padding: 10px;
  position: fixed;
  top: 0;
  background: rgba(0, 0, 0, 0.5);
}

.control {
  /* Style for the control buttons (close icon and download icon) */
  color: white;
  font-size: 24px;
  cursor: pointer;
  margin-right: 10px;
}

.lightbox-image-count {
  /* Style for the image count text */
  color: white;
  font-size: 16px;
  position: absolute;
  bottom: -35px;
  background: rgba(0, 0, 0, 0.5);
  padding: 5px;
  border-radius: 5px;
}

.lightbox-thumbnails {
  /* Style for the thumbnail strip */
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.5);
  padding: 10px;
  overflow: hidden;
}

.thumbnails-container {
  display: flex;
  justify-content: center;
  transform: translateX(calc(-50% + var(--centerOffset)px));
  transition: transform 0.3s ease;
}

.thumbnail {
  margin: 0 5px;
  cursor: pointer;
  width: 50px;
  height: 50px;
  /* border: 1px solid white; */
  transition: transform 0.3s ease;
  border: 2.5px solid transparent;
  border-image: url(https://wa-cdn.nyc3.cdn.digitaloceanspaces.com/assets/themes/steampunk/images/border.png) 30;
}

.thumbnail[selected] {
  transform: scale(1.5);
}

.thumbnail-image {
  /* Style for the thumbnail images */
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.thumbnail-text {
  /* Style for the thumbnail text (image count) */
  position: absolute;
  bottom: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  color: white;
  font-size: 12px;
  padding: 2px 5px;
  border-top-left-radius: 5px;
}

/* breadcrumb navigation */
.breadcrumbnav {
  list-style: none;
  padding: 0;
}

.breadcrumbnav li {
  display: inline-block;
}

.breadcrumbnav li:last-child {
  color: var(--black_white);
}

.breadcrumbnav li:last-child a {
  color: var(--red_white);
  font-weight: bold;
}

.breadcrumbnav li::after {
  content: "\00a0  > \00a0";
  color: var(--red_white);
}

.breadcrumbnav li:last-child::after {
  content: "";
}

.breadcrumbnav a {
  font-weight: normal;
  text-decoration: none;
  color: var(--red_white);
}

.breadcrumbnav a:hover {
  text-decoration: underline;
}

.animated {
  /* This class is used to mark elements that have been animated */
}

@media screen and (max-width: 1028px) {
  .details-wrapper {
    flex-direction: column;
    padding: 10px;
  }
  .illustrator-meta {
    margin:0;
  }
  .profile-image-wrapper {
    margin-bottom: 20px;
  }
  .description {
    padding: 10px 0;
    word-break: break-word;
    hyphens: auto;
    word-spacing: 0;
    letter-spacing: 0;
    text-indent: 1rem;
  }
}

.image-item {
  height: 200px;
  cursor: pointer;
  overflow: hidden;
  position: relative;
}

.image-zoom {
  height: 100%;
  background-size: cover;
  background-position: center;
  transition: transform 0.3s ease, filter 0.3s ease, border 0.3s ease, border-radius 0.3s ease;
  filter: grayscale(50%) brightness(100%);
  border: 0 solid transparent;
  box-sizing: border-box;
}

/* Hover effect for the current item */
.image-item:hover .image-zoom {
  filter: grayscale(0%) brightness(100%);
  border-radius: 10px;
  border: 4px solid var(--red_milk);
}

/* Apply brightness filter and border to all image-zoom elements except the hovered one */
.image-item:hover ~ .image-item .image-zoom,
.image-item:has(~ .image-item:hover) .image-zoom {
  filter: grayscale(50%) brightness(50%);
  border: 5px solid black;
  border-radius: 10px;
}

/* General hover state for the container */
.image-container:hover .image-zoom {
  filter: grayscale(50%) brightness(50%);
  border: 5px solid black;
  border-radius: 10px;
}

/* Override brightness and border for the hovered item */
.image-container:hover .image-item:hover .image-zoom {
  filter: grayscale(0%) brightness(100%);
  border-color: transparent;
}
