<div *ngIf="!isLoaded" class="spinner-wrapper">
  <div class="spinner-box">
    <mat-spinner></mat-spinner>
  </div>
</div>
<div *ngIf="isLoaded">
  <div class="title-container">
    <h1 class="story-title">{{ story.title }}</h1>
  </div>

  <div class="description-container">
    <div  *ngIf="story.excerpt">
      <div class="description-title-box">
        <div class="title-box">
          <h2 class="description-title">Excerpt</h2>
        </div>
        <b class="b-element"></b>
        <div class="flair-wrapper">
          <img class="flair-img" src="https://howardtreasury.s3.amazonaws.com/assets/siteassets/solomon-kane-flair-removebg-preview.png" alt="">
        </div>
      </div>
      <div class="excerpt-box">
        <p class="excerpt-text" [innerHTML]="storyExcerpt"></p><span class="read-online-box" *ngIf="story.textUrl"><a class="story-text-link" href="{{ story.textUrl }}">Continue reading</a></span>
        <!-- <hr> -->
      </div>
    </div>

    <div class="description-container" *ngIf="story.description">
      <div class="description-title-box">
        <div class="title-box">
          <h2 class="description-title">Description</h2>
        </div>
        <b class="b-element"></b>
        <div class="flair-wrapper">
          <img class="flair-img" src="https://howardtreasury.s3.amazonaws.com/assets/siteassets/solomon-kane-flair-removebg-preview.png" alt="">
        </div>
      </div>
      <div class="description-box">
        <p class="description-text">{{ story.description }}</p>
        <!-- <hr> -->
      </div>

    </div>

    <div class="description-container">
      <div class="description-title-box">
        <div class="title-box">
          <h2 class="description-title">Artwork</h2>
        </div>
        <b class="b-element"></b>
        <div class="flair-wrapper">
          <img class="flair-img" src="https://howardtreasury.s3.amazonaws.com/assets/siteassets/solomon-kane-flair-removebg-preview.png" alt="">
        </div>
      </div>
      <div class="story-image-box" *ngIf="story.storyImages.length">
        <img class="story-image" src="{{ story.storyImages[0].imageUrl }}">
        <!-- <hr> -->
      </div>

    </div>

    <hr>

    <div class="story-details">
      <div class="details-wrapper">
        <div>
          <p>First published in {{ story.firstPublished | date:'yyyy' }}</p>
        </div>
        <div>
          <p>Copyright status: {{ story.isCopyrighted === true ? 'Under copyright until ' + (story.copyrightExpiresAt | date:'mediumDate') + '.' : 'No longer under copyright.' }}</p>
        </div>
        <div>
          <p>Appears in the following collection(s):
            <ng-container *ngFor="let collection of storyCollections; let lastIndex = last; let firstIndex = first">
              <span class="collection-link" [routerLink]="['/collections', collection.id]">
                {{ firstIndex && !lastIndex ? (collection.title + ', ') : firstIndex && lastIndex ? (collection.title) : !firstIndex && !lastIndex ? (collection.title + ', ') : (collection.title) }}
              </span>
            </ng-container>
          </p>
        </div>
        <div>
          <p>Recurring characters:
            <ng-container *ngFor="let person of story.persons; let lastIndex = last; let firstIndex = first">
              <span class="collection-link" [routerLink]="['/characters', person.id]">
                {{ firstIndex && !lastIndex ? (person.name + ', ') : firstIndex && lastIndex ? (person.name) : !firstIndex && !lastIndex ? (person.name + ', ') : (person.name) }}
              </span>
            </ng-container>
          </p>
        </div>
      </div>
    </div>
  </div>

</div>
