<ol class="breadcrumbnav">
  <li><a [routerLink]="['/home']">Home</a></li>
  <li><a [routerLink]="['/stories']">Stories</a></li>
</ol>

<div *ngIf="!isLoaded" class="spinner-wrapper">
  <div class="spinner-box">
    <mat-spinner></mat-spinner>
  </div>
</div>
<div *ngIf="isLoaded">
  <div class="title-container">
    <h1 class="story-title"><span class="story-title-text">{{ story.title }}</span></h1>
    <p *ngIf="story.description" class="description-text">{{ story.description }}</p>
  </div>

  <div class="description-container">
    <div>
      <div class="excerpt-box" *ngIf="story.excerpt">
        <p class="excerpt-text" [innerHTML]="storyExcerpt"></p><span class="read-online-box" *ngIf="story.textUrl"><a class="story-text-link" href="{{ story.textUrl }}" target="_blank">Continue reading</a></span>
      </div>
      <div style="justify-content:flex-start; margin:20px;" *ngIf="!story.excerpt">
        <p class="">Excerpt not yet available.</p><span class="read-online-box" *ngIf="story.textUrl"><a class="story-text-link" href="{{ story.textUrl }}" target="_blank">Continue reading</a></span>
      </div>
    </div>

    <div class="description-container" *ngIf="story.storyImages.length">
      <div class="illustrator-wrapper">
        <p class="illustrator-reference">Artwork by <span class="illustrator-name" [routerLink]="['/illustrators', story.storyImages.at(0)?.illustrators?.at(0)?.id]">{{ story.storyImages.at(0)?.illustrators?.at(0)?.name }}</span></p>
      </div>
      <div class="story-image-box" *ngIf="storyImages && imagesLoaded" @customEasingAnimation>
        <ng-container *ngFor="let storyImage of storyImages; let i = index">
          <div class="lazy-loaded-image">
            <img class="story-image" src="{{ storyImage.imageUrl }}" (click)="openLightbox(i, $event)">
          </div>
        </ng-container>
      </div>
      <div *ngIf="!imagesLoaded" class="image-spinner-wrapper">
        <div class="image-spinner-box">
          <mat-spinner></mat-spinner>
        </div>
      </div>

      <div class="story-image-box" *ngIf="!storyImages">
        <p class="description-text">Artwork not yet available.</p>
      </div>

    </div>

    <div class="collection-container">
      <div class="collection-box" *ngIf="story.collections.length">
        <div class="published-container">
          <h2 class="published-header">Published in</h2>
          <div class="collection-info-wrapper">
            <div class="collection-wrapper">
              <ng-container *ngFor="let collection of story.collections">
                <div class="collection-images-wrapper">
                  <img class="collection-images" src="{{ collection.collectionImages[0].thumbnailUrl }}" alt="" [routerLink]="['/collections', collection.id]">
                </div>
              </ng-container>
            </div>
            <div class="collection-info">
              <p>
                The Del Rey collections use Howard’s original typescripts wherever possible and are usually accompanied by a lively appendix of unfinished drafts, alternate versions, and commentary from noted Howard scholars.
              </p>
              <ul class="collections-list">
                <ng-container *ngFor="let collection of collections; let i = index;">
                  <li *ngIf="i <= 10" class="collection-list-items" [routerLink]="['/collections', collection.id]">{{ collection.title }}</li>
                </ng-container>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <app-svg-element></app-svg-element>
    </div>


    <div class="story-details">
      <div class="details-wrapper">
        <div>
          <p>First published in {{ story.firstPublished | date:'yyyy' }}</p>
        </div>
        <div>
          <p>Copyright status: {{ story.isCopyrighted === true ? 'Under copyright until ' + (story.copyrightExpiresAt | date:'mediumDate') + '.' : 'No longer under copyright.' }}</p>
        </div>
        <div>
          <p>Appears in the following collection(s):</p>
          <ul>
            <ng-container *ngFor="let collection of storyCollections; let lastIndex = last; let firstIndex = first">
                <li>
                  <span class="collection-link" [routerLink]="['/collections', collection.id]">
                    {{ firstIndex && !lastIndex ? (collection.title + ', ') : firstIndex && lastIndex ? (collection.title) : !firstIndex && !lastIndex ? (collection.title + ', ') : (collection.title) }}
                  </span>
                </li>
              </ng-container>
          </ul>
        </div>
        <div>
          <p>Recurring characters:</p>
          <ul>
            <ng-container *ngFor="let person of story.persons; let lastIndex = last; let firstIndex = first">
              <li>
                <span class="collection-link" [routerLink]="['/characters', person.id]">
                  {{ firstIndex && !lastIndex ? (person.name + ', ') : firstIndex && lastIndex ? (person.name) : !firstIndex && !lastIndex ? (person.name + ', ') : (person.name) }}
                </span>
              </li>
            </ng-container>
          </ul>
        </div>
      </div>
    </div>
  </div>

</div>

<div class="lightbox" *ngIf="showLightbox">
  <div class="lightbox-background" [ngStyle]="getLightboxBackgroundStyle()"></div>
  <div class="lightbox-content">
    <div class="lightbox-image-container">
      <img src="{{ selectedImage.imageUrl }}" class="lightbox-image" (click)="onLightboxImageClick($event)">
    </div>
    <div class="lightbox-controls" (click)="$event.stopPropagation()">
      <div class="control close-icon" (click)="closeLightbox()"><mat-icon>close</mat-icon></div>
    </div>
    <div class="lightbox-image-count">{{ currentIndex + 1 }} of {{ storyImages.length }}</div>
  </div>
  <div class="lightbox-thumbnails" (click)="$event.stopPropagation()">
    <div class="thumbnails-container" [style.transform]="'translateX(' + getThumbnailTransform() + 'px)'">
      <ng-container *ngFor="let storyImage of storyImages; let i = index">
        <div class="thumbnail-text">{{ i + 1 }}</div>
        <div
          class="thumbnail"
          [class.selected]="i === selectedThumbnailIndex"
          (click)="selectImage(i)"
          [ngStyle]="getLightboxThumbnailStyle(i)"
        >
          <img src="{{ storyImage.imageUrl }}" class="thumbnail-image">
        </div>
      </ng-container>
    </div>
  </div>
</div>

