/* ::ng-deep .first-letter {
  font-size: 50px;
  font-family: Libre Baskerville, Helvetica, Arial, sans-serif;
  font-weight: 700;
  color: #9e0000;
  line-height: 1.2;
  float: left;
  margin-right: 10px;
  font-style: normal;
  border: 3px dotted #9e0000;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 10px;
  padding-right: 10px;
  outline: 3px dashed #9e0000;
} */

.description-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: var(--headerFontFamily);
  font-size: var(--headerFontSize);
}

.description-title {
  font-family: var(--headerFontFamily);
  font-weight: var(--superBold);
  color: #9e0000;
  text-align: center;
  border: 4px double #9e0000;
  width: fit-content;
  padding: 0.3em 0.8em;
  margin:0;
}

.description-title-box {
  display: flex;
  align-items: center;
  margin-bottom: 50px;
}

.b-element {
  background-color: #9e0000;
  display: block;
  flex: 1;
  height: 2px;
  opacity: 0.5;
}

.excerpt-text {
  margin-bottom: 30px;
  padding-top: 30px;
}

/* .excerpt-text:first-child:first-letter {
  float: left;
  margin-right: 5px;
  font-size: 50px;
  color: var(--red_milk);
  vertical-align: top;
  line-height: 1;
} */

.excerpt-text:first-child::first-letter {
  margin-right: 5px;
  color: var(--red_milk);
  initial-letter: 2;
}

.excerpt-box {
  text-align: justify;
  padding-left: 5%;
  padding-right: 5%;
  line-height: 1.4;
  margin-bottom: 20px;
  font-family: var(--contentFontFamily);
  position: relative;
  color: var(--black_white);
}

.description-box p {
  text-align: justify;
  padding-left: 5%;
  padding-right: 5%;
  line-height: 1;
  margin-bottom: 70px;
}

.story-title {
  position: relative;
  font-size: 30px;
  font-family: var(--headerFontFamily);
  font-weight: var(--superBold);
  color: var(--red_milk);
  margin: 0;
  width: 100%;
  text-align: center;
  padding: 0 5%;
  display: flex;
  justify-content: center;
}

.story-title::before,
.story-title::after {
  content: "";
  position: absolute;
  top: 50%;
  border-top: 1px solid var(--black_white);
  width: 100%;
  z-index: -1;
}

.story-title::before {
  left: 0;
}

.story-title::after {
  right: 0;
}

.story-title-text {
  background-color: var(--bkg_color);
  padding: 0 15px;
  display: flex;
  justify-content: center;
  width: fit-content;
}

@media (max-width: 768px) {
  .story-title::before,
  .story-title::after {
    width: 15%;
  }
}

.title-container {
  padding: 25px 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 0;
}

.description-text {
  font-size: 16px;
  font-family: var(--contentFontFamily);
  font-style: italic;
  color: var(--black_white);
  padding: 15px;
  margin-left:30px;
  margin-right:30px;
  text-align:justify;
}

.collection-link {
  cursor: pointer;
}

.story-details {
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.collection-link {
  color: var(--red_color);
}

.collection-link:hover {
cursor: pointer;
 text-decoration: underline;
}

.spinner-wrapper {
  width: 100%;
  height: 88vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.spinner-box {
  width: 50px;
  height: 50px;
}

.image-spinner-wrapper {
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 100px;
}

.image-spinner-box {
  width: 50px;
  height: 50px;
}

.mat-mdc-progress-spinner {
  --mdc-circular-progress-active-indicator-color: var(--body_color);
}

.read-online-box {
  transition: text-decoration 0.2s ease;
}

.read-online-box:hover {
  cursor:pointer;
}

.story-text-link {
  color: var(--red_milk);
  text-decoration: none;
  font-family: var(--contentFontFamily);
  font-weight: var(--superBold);
}

.read-online-box:hover .story-text-link {
  text-decoration:underline;
}

.flair-img {
  width: 150px;
  height: auto;
  margin-left: -1px;
}

.title-box {

}

.details-wrapper {
  text-align: start;
}

.story-image-box {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  grid-auto-rows: minmax(100px, auto);
  gap: 15px;
  align-content: start;
  margin-bottom: 50px;
  padding:2%;


  overflow: hidden;
  overflow-y: scroll;
  height: 350px;
  background: url(https://s0.wp.com/wp-content/themes/pub/connections/img/content_bg.gif) repeat;
  border-top: 3px solid var(--red_black);
  border-bottom: 3px solid var(--red_black);
}

.story-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: box-shadow .3s, transform .3s, border .1s, border-radius .3s, filter .3s, border 0.3s, border-image 0.3s;
  border-radius:10px;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
  filter: grayscale(50%);

  border: 6px solid transparent;
}

.story-image:hover {
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
  transform: translateY(-5px);
  cursor:pointer;
  border-radius: 0;
  filter: grayscale(0%);
  /* border: 6px solid transparent; */
  /* border-image: url(https://wa-cdn.nyc3.cdn.digitaloceanspaces.com/assets/themes/steampunk/images/border.png) 20; */
  border: 6px solid var(--red_black);

  display: inline-block;
  -webkit-animation: bounce 3.5s ease-in-out infinite;
  animation: bounce 3.5s ease-in-out infinite;
  animation-timing-function: ease-in-out;
  -webkit-animation-timing-function: cubic-bezier(.4,.245,.58,1.42);
  animation-timing-function: cubic-bezier(.4,.245,.58,1.42);
}

/* Add CSS for lightbox and thumbnails */
.lightbox {
  /* Style for the darkened background */
  /* background: rgba(0, 0, 0, 0.8); */
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  overflow: hidden;
}

.lightbox-content {
  /* Style for the container holding the main image and controls */
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  border: 3px solid transparent;
  border-image: url(https://wa-cdn.nyc3.cdn.digitaloceanspaces.com/assets/themes/steampunk/images/border.png) 30;
}

.lightbox-content,
.lightbox-content ~ * {
  z-index: 2;
}

.lightbox-image-container {
  display: flex;
  justify-content:center;
  background-color: #fff;
  transition: all 0.5s ease; /* Add transition for resizing the container */
}

.lightbox-image {
  opacity: 0;
  transition: opacity 0.5s ease;
  max-width: 100%;
  max-height: 80vh;
}

.lightbox-controls {
  /* Style for the control buttons (close icon and download icon) */
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  height:50px;
  padding: 10px;
  position: fixed;
  top: 0;
  background: rgba(0, 0, 0, 0.5);
}

.control {
  /* Style for the control buttons (close icon and download icon) */
  color: white;
  font-size: 24px;
  cursor: pointer;
  margin-right: 10px;
}

.lightbox-image-count {
  /* Style for the image count text */
  color: white;
  font-size: 16px;
  position: absolute;
  bottom: -35px;
  background: rgba(0, 0, 0, 0.5);
  padding: 5px;
  border-radius: 5px;
}

.lightbox-thumbnails {
  /* Style for the thumbnail strip */
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.5);
  padding: 10px;
  overflow: hidden;

}

.thumbnails-container {
  display: flex;
  justify-content: center;
  transform: translateX(calc(-50% + var(--centerOffset)px));
  transition: transform 0.3s ease;
}

.thumbnail {
  margin: 0 5px;
  cursor: pointer;
  width: 50px;
  height: 50px;
  border: 1px solid white;
  transition: transform 0.3s ease;
}

.thumbnail[selected] {
  transform: scale(1.5);
}

.thumbnail-image {
  /* Style for the thumbnail images */
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.thumbnail-text {
  /* Style for the thumbnail text (image count) */
  position: absolute;
  bottom: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  color: white;
  font-size: 12px;
  padding: 2px 5px;
  border-top-left-radius: 5px;
}

/* lightbox end */

.collection-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* border-bottom: 1px solid var(--black_white); */
}

.collection-title-box {
  display: flex;
  align-items: center;
  margin-bottom: 50px;
}

.collection-title {
  font-family: var(--headerFontFamily);
  font-weight: var(--superBold);
  color: #9e0000;
  text-align: center;
  border: 4px double #9e0000;
  width: fit-content;
  padding: 0.3em 0.8em;
  margin:0;
}

.collection-title:hover {
  cursor:pointer;
  color:#fff;
  background-color:#9e0000;
  border:4px double #fff;
}

.collection-box {
  display:flex;
  /* padding-bottom: 50px; */
  gap: 25px;
  flex-wrap: wrap;
  /* padding-left: 50px; */
}

.collection-wrapper {
  display:flex;
  justify-content: space-evenly;
  width:50%;
  gap: 25px;
  align-items: center;
  flex-wrap: wrap;
  margin-right: 20px;
  padding: 30px;

}

.collection-wrapper:hover {
  cursor:pointer;
}

.collection-images {
  width:150px;
  height: 223.8px;
  transition: box-shadow .3s, transform .3s, opacity .3s, border 0.3s, border-radius .3s;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  opacity: 0.8;
  border: 6px solid transparent;
  border-radius:10px;
}

.collection-images:hover {
  transform: translateY(-5px);
  cursor:pointer;
  opacity:1;
  border: 6px solid transparent;
  border-image: url(https://wa-cdn.nyc3.cdn.digitaloceanspaces.com/assets/themes/steampunk/images/border.png) 20;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
  border-radius: 0;



  display: inline-block;
  -webkit-animation: bounce 3.5s ease-in-out infinite;
  animation: bounce 3.5s ease-in-out infinite;
  animation-timing-function: ease-in-out;
  -webkit-animation-timing-function: cubic-bezier(.4,.245,.58,1.42);
  animation-timing-function: cubic-bezier(.4,.245,.58,1.42);
}

.illustrator-wrapper {
  display:flex;
  justify-content: center;
}

.illustrator-reference {
  font-family: var(--contentFontFamily);
  font-weight: 500;
  color: var(--black_white);
}

.illustrator-name {
  color: var(--red_milk);
}

.illustrator-name:hover {
  text-decoration: underline;
  cursor: pointer;
}

.collection-info-wrapper {
  display: flex;
  justify-content: space-between;
}

.collection-info-wrapper:first-child {
  margin-left:10px;
}

.collection-info-wrapper:last-child {
  margin-right:10px;
}

.collection-info {
  padding: 0;
  padding-left: 30px;
  padding-right: 30px;
  font-size: 16px;
  line-height: 1.5;
  font-family: var(--contentFontFamily);
  width: 50%;
  padding-top: 30px;
  padding-bottom: 30px;
  color: var(--black_white);
}

.collections-list {
  list-style: circle;
}

.collection-list-items {
  width: fit-content;
  /* transition: color 0.2s ease, text-decoration 0.2s ease, list-style 0.2s ease; */
}

.collection-list-items:hover {
  cursor: pointer;
  color: var(--red_white);
  text-decoration: underline;
  list-style: disc;
}

.tail-image-wrapper {
  display:flex;
  justify-content: center;
  width:100%;
  margin-bottom:30px;
}

.tail-image {
  width:30%;
  height:auto;
}

.published-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 15px;
}

.published-header {
  color: var(--red_milk);
  font-family: var(--headerFontFamily);
  font-size: 20px;
  font-weight: var(--superBold);
  margin-right: 10px;
}

/* breadcrumb navigation */
.breadcrumbnav {
  list-style: none;
  padding: 0;
}

.breadcrumbnav li {
  display: inline-block;
}

.breadcrumbnav li:last-child {
  color: var(--black_white);
}

.breadcrumbnav li:last-child a {
  color: var(--red_white);
  font-weight: bold;
}

.breadcrumbnav li::after {
  content: "\00a0  > \00a0";
  color: var(--red_white);
}

.breadcrumbnav li:last-child::after {
  content: "";
}

.breadcrumbnav a {
  font-weight: normal;
  text-decoration: none;
  color: var(--red_white);
}

.breadcrumbnav a:hover {
  text-decoration: underline;
  cursor: pointer;
}

@media screen and (max-width: 1073px) {
  .collection-info {
    display:none;
  }
  .collection-wrapper {
    display: flex;
    justify-content: space-evenly;
    width: fit-content;
    gap: 25px;
    flex-wrap:wrap;
  }
  .collection-box {
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }
  .description-text {
    padding: 5px;
    margin-left:0;
    margin-right:0;
  }
  .title-container {
    padding:0;
    padding-top: 25px;
  }
  .excerpt-box {
    padding-left: 3%;
    padding-right: 3%;
  }
}

@media screen and (max-width: 780px) {
  .excerpt-box {
    padding-left: 0;
    padding-right: 0;
  }
}

@media screen and (max-width: 400px) {
  .story-image-box {
    padding:0;
  }

  .collection-box {
    padding-left:0;
    justify-content: space-evenly;
  }

  .excerpt-box {
    margin-bottom:20px;
    position: relative;
    padding-left: 0;
    padding-right: 0;
  }

  .excerpt-box .read-online-box {
    display:flex;
    justify-content: center;
    margin-bottom:30px;
    margin-top: 30px;
  }

  .collection-images {
    width:115px;
    height: 171px;
    border-radius:0px;
    opacity: 1;
  }

  .collection-images:hover {
    transform: translateY(-5px);
    cursor:pointer;
    border-radius: 0;
    opacity:1;
  }

  .title-container {
    padding:0;
    /* padding-bottom: 25px; */
  }

  .title-box {
    padding-left: 5px;
  }

  .description-title {
    font-size: 14px;
  }

  .collection-title {
    font-size: 14px;
  }

  .flair-img {
    width: 130px;
  }

  .story-title {
    font-size: 20px;
    text-align: center;
  }

  .published-header {
    font-size: 20px;
  }

  .collection-wrapper {
    gap:10px;
    flex-wrap:wrap;
    margin-right: 0;
  }

  .description-text {
    padding: 5px;
    margin-left:0;
    margin-right:0;
  }

}

@media screen and (max-width: 380px) {
  .collection-wrapper {
    /* flex-direction: column; */
    justify-content: center;
    align-items: center;
    flex-wrap:wrap;
  }
}

@keyframes bounce {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  5% {
    -webkit-transform: scale(1.05, 1);
    transform: scale(1.05, 1);
  }
  100%, 15% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

/* .wrap {
  display: inline-block;
  -webkit-animation: bounce 3.5s ease-in-out infinite;
  animation: bounce 3.5s ease-in-out infinite;
  animation-timing-function: ease-in-out;
  -webkit-animation-timing-function: cubic-bezier(.4,.245,.58,1.42);
  animation-timing-function: cubic-bezier(.4,.245,.58,1.42);
} */

/* Add this CSS to your stylesheet */
/* .shine {
  mask:
    linear-gradient(135deg, rgba(0, 0, 0, 1) 40%, transparent, rgba(0, 0, 0, 1) 60%)
    100% 100%/250% 250%;
  cursor: pointer;
}

.shine:hover {
  transition: mask-position 1.5s ease;
  mask-position: 0 0;
} */
