::ng-deep .first-letter {
  font-size: 50px; /* Adjust the font size for the initial letter */
  font-family: Libre Baskerville, Helvetica, Arial, sans-serif;
  font-weight: 700;
  color: #9e0000;
  line-height: 1.2; /* Adjust the line height for the initial letter */
  float: left; /* Float the initial letter to the left */
  margin-right: 10px; /* Add spacing between the initial letter and the text */
  font-style: normal;
  border: 3px dotted #9e0000;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 10px;
  padding-right: 10px;
  outline: 3px dashed #9e0000;
}

.description-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.description-title {
  font-family: Libre Baskerville, Helvetica, Arial, sans-serif;
  font-weight: 700;
  color: #9e0000;
  text-align: center;

}

.description-box {
  text-align: justify;
  padding-left: 10%;
  padding-right: 10%;
  line-height: 2;
  margin-bottom: 70px;
}

.story-title {
  font-size: 30px;
  font-family: Libre Baskerville,Helvetica,Arial,sans-serif;
  font-weight: 700;
  color: #9e0000;
}

.title-container {
  padding: 25px;
  display:flex;
  justify-content: center;
  margin-top: 40px;
}

.description-text {
  font-style:italic;
  font-size: 14px;
  font-family: fantasy;
}

.collection-link {
  cursor: pointer;
}

.story-details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.story-text-link {
  text-decoration: none;
}

.story-text-link:hover {
  text-decoration: underline;
}

.collection-link {
  color: #9e0000;
}

.collection-link:hover {
 text-decoration: underline;
}

.spinner-wrapper {
  width: 100%;
  height: 88vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.spinner-box {
  width: 50px;
  height: 50px;
}

.mat-mdc-progress-spinner {
  --mdc-circular-progress-active-indicator-color: #9e0000;
}
