/* Styles for the main container */
.main {
  display: flex;
  flex-direction: column;
  padding: 30px;
  margin: 0 auto;
}

/* Profile image styles */
.profile-image {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.person-image {
  position: relative;
  width: 200px;
  height: 200px;
  object-fit: cover;
  border-radius: 50%;
  filter: grayscale(50%);
  transition: transform 0.2s ease-in-out, filter 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
  padding: 10px;
  background: url('https://img.freepik.com/free-photo/wooden-floor-background_53876-88628.jpg'); /* Replace 'parchment-texture.jpg' with your desired parchment background image */
  background-size: cover;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

.person-image:hover {
  transform: scale(1.1);
  filter: grayscale(0%);
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

.person-image::before {
  content: attr(alt); /* Use alt text as the overlay text */
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
  color: #fff; /* Text color */
  font-size: 1.2rem; /* Text size */
  opacity: 0; /* Hidden by default */
  transition: opacity 0.2s ease-in-out;
}

.person-image:hover::before {
  opacity: 1; /* Show overlay on hover */
}

/* Profile details styles */
.profile-details {
  text-align: center;
  margin-top: 20px;
}

.name-text {
  font-family: 'Libre Baskerville', Helvetica, Arial, sans-serif;
  font-weight: 700;
  font-size: 24px;
  color: var(--red_milk);
}

.details-text {
  font-size: 18px;
  line-height: 1.4;
  font-family: 'Arial', sans-serif;
  color: var(--black_white);
  text-align: justify;
}

div .no-appearance-text {
  color: var(--black_white);
}

/* List styles */
h3 {
  font-size: 20px;
  margin-top: 20px;
  color: var(--red_milk);
}

ul {
  margin-left: 20px;
}

li {
  font-size: 14px;
  color: var(--black_white);
  margin-top: 5px;
  list-style:circle;
}

li:hover {
  list-style:disc;
  cursor: pointer;
  text-decoration: underline;
}

/* Spinner styles */
.spinner-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
}

.spinner-box {
  width: 50px;
  height: 50px;
  color: #9e0000;
}

.mat-mdc-progress-spinner {
  --mdc-circular-progress-active-indicator-color: var(--body_color);
}

.appearances-wrapper {
  display:flex;
  justify-content: space-evenly;
}

/* Responsive styles */
@media screen and (max-width: 768px) {
  .main {
    padding: 20px 0;
  }

  .person-image {
    width: 150px;
    height: 150px;
  }

  .appearances-wrapper {
    flex-direction:column;
  }
}
