<div class="main" *ngIf="isLoaded">
  <div class="character-profile">
    <div class="profile-image">
      <img
        class="person-image"
        src="{{ person.imageUrl }}"
        alt="Profile Image"
        (load)="onImageLoad()"
      />
    </div>
    <div class="profile-details">
      <h1 class="name-text">{{ person.name }}</h1>
      <p class="details-text">{{ person.description }}</p>
      <p *ngIf="!person.description">This character doesn't seem to have a description yet. Hold tight!</p>
    </div>
  </div>
  <div>
    <h3>Appears in the following works:</h3>
    <ul>
      <ng-container *ngIf="person.stories && person.stories.length">
        <li *ngFor="let story of person.stories" [routerLink]="['/stories', story.id]">{{ story.title }}</li>
      </ng-container>
      <ng-container *ngIf="person.poems && person.poems.length">
        <li *ngFor="let poem of person.poems" [routerLink]="['/poems', poem.id]">{{ poem.title }}</li>
      </ng-container>
      <ng-container *ngIf="person.miscellaneas && person.miscellaneas.length">
        <li *ngFor="let miscellanea of person.miscellaneas" [routerLink]="['/miscellanea', miscellanea.id]">{{ miscellanea.title }}</li>
      </ng-container>
    </ul>
    <ng-container *ngIf="!person.stories.length && !person.poems.length && !person.miscellaneas.length">
      <p>{{ person.name }} likely appears in works not currently in our database. Please check back at a later date.</p>
    </ng-container>
  </div>
</div>
<div class="spinner-wrapper" *ngIf="!isLoaded">
  <div class="spinner-box">
    <mat-spinner></mat-spinner>
  </div>
</div>
