/* Styles for the main container */
.main {
  display: flex;
  flex-direction: column;
  padding: 30px;
  margin: 0 auto;
}

.character-profile {
  display: flex;
  justify-content: space-between;
  gap: 30px;
  align-items: center;
}

/* Profile image styles */
.profile-image {
  display: flex;
  justify-content: center;
  padding-top: 30px;
}

.person-image {
  position: relative;
  width: 240px;
  height: 240px;
  object-fit: cover;
  border-radius: 3px;
  padding: 5px;
  /* background: url(https://img.freepik.com/free-photo/wooden-floor-background_53876-88628.jpg);
  background-size: cover; */
  background-color: var(--red_milk);
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

.characters-img {
  position: relative;
  width: 240px;
  height: 240px;
  object-fit: cover;
  border-radius: 3px;
  padding: 5px;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
  /* border:5px solid var(--red_milk); */
  border: 5px solid transparent;
  border-image: url(https://wa-cdn.nyc3.cdn.digitaloceanspaces.com/assets/themes/steampunk/images/border.png) 20;
}

.profile-details {
  text-align: center;
  margin-top: 20px;
}

.name-text {
  font-family: 'Libre Baskerville', Helvetica, Arial, sans-serif;
  font-weight: 700;
  font-size: 24px;
  color: var(--red_milk);
}

.details-text {
  font-size: 18px;
  line-height: 1.4;
  font-family: 'Arial', sans-serif;
  color: var(--black_white);
  text-align: justify;
}

div .no-appearance-text {
  color: var(--black_white);
}

/* List styles */
h3 {
  font-size: 20px;
  margin-top: 20px;
  color: var(--red_milk);
}

ul {
  margin-left: 20px;
}

li {
  font-size: 14px;
  color: var(--black_white);
  margin-top: 5px;
  list-style:circle;
}

li:hover {
  list-style:disc;
  cursor: pointer;
  text-decoration: underline;
}

/* Spinner styles */
.spinner-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
}

.spinner-box {
  width: 50px;
  height: 50px;
  color: #9e0000;
}

.mat-mdc-progress-spinner {
  --mdc-circular-progress-active-indicator-color: var(--body_color);
}

.appearances-wrapper {
  display:flex;
  justify-content: space-evenly;
  padding-top: 50px;
}

/* breadcrumb navigation */
.breadcrumbnav {
  list-style: none;
  padding: 0;
}

.breadcrumbnav li {
  display: inline-block;
}

.breadcrumbnav li:last-child {
  color: var(--black_white);
}

.breadcrumbnav li:last-child a {
  color: var(--red_white);
  font-weight: bold;
}

.breadcrumbnav li::after {
  content: "\00a0  > \00a0";
  color: var(--red_white);
}

.breadcrumbnav li:last-child::after {
  content: "";
}

.breadcrumbnav a {
  font-weight: normal;
  text-decoration: none;
  color: var(--red_white);
}

.breadcrumbnav a:hover {
  text-decoration: underline;
}

/* Responsive styles */
@media screen and (max-width: 768px) {
  .main {
    padding: 20px 0;
  }

  .character-profile {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    align-items: center;
  }

  .person-image {
    width: 150px;
    height: 150px;
  }

  .characters-img {
    width: 150px;
    height: 150px;
  }

  .appearances-wrapper {
    flex-direction:column;
    padding-top: 25px;
  }

  .name-text {
    font-size: 1.1rem;
  }

  .details-text {
    font-size: 1rem;
  }

  ul {
    margin-left: 0;
    padding-left: 0;
  }

  li {
    list-style:none;
  }
}
