<!-- This is the chat display area where messages will be shown -->
<div class="chat-display">
  <div *ngFor="let message of messages" class="message">
    <div class="message-header">
      <span class="message-sender">{{ message.user || 'Anonymous' }}</span>
      <span class="message-timestamp">{{ message.createdAt | date: 'short' }}</span>
    </div>
    <div class="message-content">{{ message.messageContent }}</div>
  </div>
</div>

<!-- This is the message input area -->
<div class="message-input-area">
  <input type="text" [(ngModel)]="newMessage" placeholder="Type your message here..." class="message-input" (keyup.enter)="sendMessage()">
  <button (click)="sendMessage()">Send</button>
</div>

