.Marquee__Link {
  display: flex;
  overflow:hidden;
  user-select: none;
  gap: var(--marquee-gap);
  height: 40px;
  align-items: center;
}

.Marquee__List {
  color: var(--red_white);
  flex-shrink: 0;
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: var(--marquee-gap);
  list-style-type: none;
  padding: 0;
  margin: 0;
  font-family: "metamorphous";
  font-size: 21px;
  display: block;
  animation: scroll-x var(--marquee-duration) linear infinite;
}

@media (prefers-reduced-motion: reduce) {
  .Marquee__List {
    animation-play-state: paused;
  }
}

@keyframes scroll-x {
  from {
    transform: translateX(var(--marquee-scroll-start));
  }
  to {
    transform: translateX(var(--marquee-scroll-end));
  }
}
