<div class="register-dialog">
  <div class="title-box">
    <h1 class="register-dialog-title">Register</h1>
    <div class="cancel-box">
      <button mat-icon-button (click)="dismissDialog()">
        <mat-icon>close</mat-icon>
      </button>
    </div>
  </div>
  <form class="register-form">
    <div class="form-group">
      <label class="label-email" for="email">
        <span class="required">Email</span>
        <input type="email" class="text" name="email" [(ngModel)]="newUser.email" placeholder="Email" tabindex="1" required />
      </label>
    </div>
    <div class="form-group">
      <label class="label-email">
        <span class="required">Username</span>
        <input type="text" class="text" name="username" [(ngModel)]="newUser.username" placeholder="Username" tabindex="1" required />
      </label>
    </div>
    <div class="form-group">
      <label class="label-password">
        <span class="required">Password</span>
        <input type="password" id="password" class="text" name="password" [(ngModel)]="newUser.password" placeholder="Password" tabindex="2" required />
      </label>
    </div>
    <div class="form-group">
      <label class="label-password">
        <span class="required">Confirm Password</span>
        <input type="password" id="confirmPassword" class="text" name="confirmPassword" [(ngModel)]="newUser.confirmPassword" placeholder="Confirm Password" tabindex="3" required />
      </label>
    </div>
    <!-- <div class="form-group">
      <label class="label-image">
        <span class="required">Profile Image</span>
        <input type="text" class="text" name="imageUrl" [(ngModel)]="newUser.imageUrl" placeholder="Image URL" tabindex="1" required />
      </label>
    </div> -->
    <button mat-button-raised id="registerFormBtn" type="button" (click)="register(newUser)" [disabled]="isProcessing">
      Submit
    </button>
  </form>
  <p class="login-prompt" (click)="switchToLoginDialog()">Already have an account?</p>
</div>
<div *ngIf="isProcessing" class="spinner-overlay">
  <mat-spinner class="spinner"></mat-spinner>
</div>


