.register-dialog {
  padding: 20px;
  border-radius: 0;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  max-width: 400px;
  margin: 0 auto;
  font-family: var(--inter);
  font-size: var(--contentFontSize);
  background-color: var(--black_color);
  border: 3px solid transparent;
  border-image: url(https://wa-cdn.nyc3.cdn.digitaloceanspaces.com/assets/themes/steampunk/images/border.png) 20;
}

::ng-deep .mat-mdc-dialog-container .mdc-dialog__surface {
  /* border-radius: 28px !important; */
  border-radius: 0 !important;
}

.title-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  font-family: var(--inter);
  font-size: var(--contentFontSize);
  color: #fff;
}

.register-dialog-title {
  margin: 0;
  font-family: var(--inter);
  font-size: 24px;
  font-weight: 500;
}

.overlay-titleCloser {
  color: #888;
  text-decoration: none;
  transition: font-size 0.2s;
}

.overlay-titleCloser:hover {
  color: #fff;
  cursor: pointer;
  font-size: larger;
}

.register-form {
  display: flex;
  flex-direction: column;
}

.form-group {
  margin-bottom: 15px;
}

.label-email,
.label-password,
.label-image {
  display: block;
  margin-bottom: 5px;
  color: #fff;
  font-family: var(--inter);
  font-size: var(--contentFontSize);
}

.text {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  width: 100%;
  font-family: var(--inter);
  font-size: var(--contentFontSize);
}

button#registerFormBtn {
  background-color: var(--red_color);
  color: #fff;
  border: none;
  border-radius: 0;
  padding: 10px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.2s;
  border: 3px solid transparent;
  border-image: url(https://wa-cdn.nyc3.cdn.digitaloceanspaces.com/assets/themes/steampunk/images/border.png) 30;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
}

button#registerFormBtn:hover {
  background-color: #a12d32;
}

#registerFormBtn:hover {
  -webkit-animation: bounce 3.5s ease-in-out infinite;
  animation: bounce 3.5s ease-in-out infinite;
  animation-timing-function: ease-in-out;
  -webkit-animation-timing-function: cubic-bezier(.4,.245,.58,1.42);
  animation-timing-function: cubic-bezier(.4,.245,.58,1.42);
  cursor: pointer;
}

@keyframes bounce {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  5% {
    -webkit-transform: scale(1.05, 1);
    transform: scale(1.05, 1);
  }
  100%, 15% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

@media (max-width: 480px) {
  .register-dialog {
    max-width: 100%;
    padding: 15px;
  }
}

.show-password-label {
  display: flex;
  align-items: center;
  font-size: 14px;
  color: #333;
  margin-top: 5px;
}

.show-password-checkbox {
  margin-right: 5px;
}

.spinner-overlay {
  position: fixed; /* or absolute */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0,0,0,0.3);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.spinner {
  width: 100px;
  height: 100px;
}

.login-prompt {
  width: 100%;
  text-align: center;
  cursor: pointer;
  color: #ccc;
  margin: 0;
  margin-top: 10px;
}

.login-prompt:hover {
  color: var(--white_color);
}
