.alignleft {
  float: left;
}

img.alignleft, .wp-caption.alignleft {
  margin: 12px 24px 12px 0;
  margin: 0.857142857rem 1.714285714rem 0.857142857rem 0;
}

.entry-content img, .comment-content img, .widget img, img.header-image, .author-avatar img, img.wp-post-image {
  border-radius: 3px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
}

.wrapper {
  padding: 50px;
  padding-bottom:0;
}

.header {
  text-align: center;
  padding: 30px;
  background-color: #9e0101;
  display: flex;
  flex-direction: column;
  gap: 20px;

}

.main-title {
  font-size: 36px;
  font-weight: bold;
  font-family: var(--headerFontFamily);
  color: #fff;
  margin: 0;
}

.subheader {
  font-size: 24px;
  font-family: var(--contentFontFamily);
  color: #efe9c5;
  margin: 0;
}

.content {
  margin: 20px auto;
  padding: 20px;
  border-radius: 10px;
}

.content p {
  font-size: 20px;
  line-height: 1.5;
  text-align: justify;
}

.content .quote {
  font-size: 24px;
  font-family: var(--contentFontFamily);
  font-style: italic;
  margin: 20px 0;
}

.content .highlight {
  color: #c00;
  font-weight: bold;
}

.quote-content {
  padding: 20px;
  background-color:#9e010145;
}

.quote-content p {
  font-size: 20px;
  line-height: 1.5;
  text-align: justify;
}

.quote-content .quote {
  font-size: 24px;
  font-family: var(--contentFontFamily);
  font-style: italic;
  margin: 0;
  line-height: 1.2;
}

.quote-content .highlight {
  color: #c00;
  font-weight: bold;
}

.cta-button {
  display: inline-block;
  padding: 10px 20px;
  background-color: #c00;
  color: #fff;
  text-decoration: none;
  font-weight: bold;
  font-size: 18px;
  border-radius: 5px;
  margin-top: 20px;
}

.cta-button:hover {
  background-color: #9c0000;
}

.title-container {
  display: flex;
  justify-content: center;
}

.title-text {
  font-size: 20px;
  font-family: Libre Baskerville,Helvetica,Arial,sans-serif;
  font-weight: 700;
  color: #9e0000;
}

.welcome-text {
  color: #9e0101;
}

.tail-image-wrapper {
display:flex;
justify-content: center;
width:100%;
margin-bottom:30px;
}

.tail-image {
width:30%;
height:auto;
}

.excerpt-text:first-child:first-letter {
  float: left;
  margin-right: 5px;
  font-size: 50px;
  color: #3D3529;
  vertical-align: top;
  line-height: 1;
}

.excerpt-box {
  text-align: justify;
  line-height: 1.4;
  font-family: var(--contentFontFamily);
  position: relative;
}

.spinner-wrapper {
  width: 100%;
  height: 88vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.spinner-box {
  width: 50px;
  height: 50px;
}

.mat-mdc-progress-spinner {
  --mdc-circular-progress-active-indicator-color: #9e0000;
}

.description-title {
  font-family: Libre Baskerville, Helvetica, Arial, sans-serif;
  font-weight: 700;
  color: #9e0000;
  text-align: center;
  border: 4px double #9e0000;
  width: fit-content;
  padding: 0.3em 0.8em;
  margin:0;
}

.description-title-box {
  display: flex;
  align-items: center;
  margin-bottom: 50px;
}

.b-element {
  background-color: #9e0000;
  display: block;
  flex: 1;
  height: 2px;
  opacity: 0.5;
}

.flair-wrapper {

}

.flair-img {
  width: 150px;
  height: auto;
  box-shadow: none !important;
  margin-left: -1px;
}

@media screen and (max-width: 600px) {
  .wrapper {
    padding-left: 0;
    padding-right: 0;
    padding-top: 30px;
  }

  .content {
    padding:0;
    border-radius:0;
  }

  .description-title {
    font-size: inherit;
  }

  .description-title-box {
    margin-bottom: 30px;
  }

  .description-title {
    font-size: 14px;
  }

  .flair-img {
    width: 130px;
  }

  .title-box {
    padding-left: 5px;
    padding-right: 5px;
  }
}

h2 {
  font-family: var(--headerFontFamily);
  font-size: var(--mainHeaderFontSize);
  font-weight: var(--superBold);
}

p {
  font-family: var(--contentFontFamily);
  font-size: var(--contentFontSize);
}

span {
  font-family: var(--contentFontFamily);
  font-size: var(--contentFontSize);
}

