<!-- comment.component.html -->
<div class="comment" [ngClass]="{'parent-comment': replyDepth === 0}">
  <p>{{ comment.user.username }}</p>
  <p>{{ comment.hidden ? 'Comment deleted by user.' : comment.content }}</p>

  <button *ngIf="comment.user.id == loggedInUser.id" (click)="toggleEditInput()">Edit</button>

  <div *ngIf="showEditInput">
    <input [(ngModel)]="newUpdateContent" placeholder="Edit your comment...">
    <button (click)="submitEdit()">Submit</button>
  </div>

  <button (click)="deleteComment()">Delete</button>

  <!-- Reply button for the comment -->
  <button (click)="toggleReplyInput()">Reply</button>

  <!-- Input field for entering reply content (initially hidden) -->
  <div *ngIf="showReplyInput">
    <input [(ngModel)]="newReplyContent" placeholder="Enter your reply...">
    <button (click)="replyToComment(comment)">Submit</button>
  </div>

  <!-- Recursively render nested replies up to a maximum depth -->
  <div *ngFor="let reply of comment.replies" class="reply">
    <app-comment [comment]="reply" [replyDepth]="replyDepth + 1"></app-comment>
  </div>
</div>

