<div class="comment-section">
  <div class="comment" [ngClass]="{'parent-comment': replyDepth === 0}">
    <div class="user-meta">
      <img class="user-image" src="{{ comment.user.imageUrl }}" alt="">
      <p><ng-container *ngIf="!comment.user.enabled"><span style="text-decoration:line-through;">deleted</span></ng-container>
        <ng-container *ngIf="comment.user.enabled">{{ comment.user.username }}</ng-container><span> &#183; </span>{{ comment.createdAt | timeAgo }}
        <!-- add edit ago logic here using ng-container -->
      </p>
    </div>
    <div style="border-left: 2px solid var(--red_color);
    padding-left: 20px;">
      <p>{{ comment.hidden ? 'Comment deleted by user.' : comment.content }}</p>
      <div class="body">
        <div class="buttons-container">
          <p *ngIf="comment.user.id == loggedInUser.id && loggedIn() && !comment.hidden && !showDeleteConfirmation" (click)="toggleEditInput()">Edit</p>
          <p *ngIf="comment.user.id == loggedInUser.id && loggedIn() && !comment.hidden && !showDeleteConfirmation" (click)="toggleDeleteConfirmation()">Delete</p>
          <p *ngIf="loggedIn() && !comment.hidden && !showDeleteConfirmation" (click)="toggleReplyInput()">Reply</p>
        </div>

        <!-- Add a delete confirmation dialog -->
        <div class="delete-confirmation" *ngIf="showDeleteConfirmation">
          <p>Are you sure? <span class="confirmation-text" (click)="confirmDelete()">Yes</span> / <span class="confirmation-text" (click)="cancelDelete()">No</span></p>
        </div>
      </div>

      <div class="usertext-edit md-container" *ngIf="showEditInput">
        <div class="md">
          <textarea rows="1" cols="1" name="text" [(ngModel)]="newUpdateContent"></textarea>
        </div>
        <div class="buttons-wrapper">
          <div class="usertext-buttons">
            <button mat-button (click)="submitEdit()">Save</button>
          </div>
          <div class="usertext-buttons">
            <button mat-button (click)="cancelEdit()">Cancel</button>
          </div>
        </div>
      </div>

      <div class="usertext-edit md-container" *ngIf="showReplyInput">
        <div class="md">
          <textarea rows="1" cols="1" name="text" [(ngModel)]="newReplyContent" placeholder="Enter your reply...">

          </textarea>
        </div>
        <div class="buttons-wrapper">
          <div class="usertext-buttons">
            <button mat-button (click)="replyToComment(comment)">Submit</button>
          </div>
          <div class="usertext-buttons">
            <button mat-button (click)="cancelReply()">Cancel</button>
          </div>
        </div>
      </div>

      <!-- Recursively render nested replies up to a maximum depth -->
      <div *ngFor="let reply of comment.replies" class="reply">
        <app-comment [comment]="reply" [replyDepth]="replyDepth + 1"></app-comment>

      </div>
    </div>
  </div>
</div>

