.comment {
  /* border-left: 2px solid var(--red_black); */
  margin:0;
  margin-bottom: 20px;
  /* padding: 20px; */
  padding-bottom: 0;
}

.parent-comment {
  background-color: #f0f0f0; /* Example background color */
  border: 1px solid #ccc;
  padding: 20px;
}

.replies {
  margin-left: 20px; /* Adjust as needed for proper nesting */
}

.buttons-wrapper {
  display: flex;
  gap: 5px;
  margin-top: 15px;
  margin-bottom: 20px;
}

.buttons-container {
  display: flex;
  gap: 10px;
}

.buttons-container p {
  color: var(--red_color);
}

.buttons-container p:hover {
  cursor: pointer;
  color: #922427;
}

.usertext-buttons button {
  background-color: var(--red_color);
  color: var(--white_color);
}

.form-wrapper {
  display: flex;
  flex-direction: column;
}

.form-wrapper p {
  color: var(--red_color);
}

.form-wrapper p:hover {
  cursor: pointer;
  color: #922427;
}

.body {
  display: flex;
  flex-direction: column;
}

.usertext-edit {
  margin-top: 5px;
  padding: 0 1px;
  width: 100%;
}

.md {
  margin-top: 5px;
  margin-bottom: 5px;
  width: 100%;
}

.md {
  color: #222222;
  max-width: 60em;
  overflow-wrap: break-word;
  word-wrap: break-word;
}

.md {
  font-weight: 400;
}

.md {
  font-size: 1.0769230769230769em;
}

.usertext-edit textarea {
  height: 100px;
  width: 100%;
}

.md textarea {
  font-size: 1em;
  line-height: 1.4285714285714286em;
}

button {
  cursor: pointer;
  padding: 2px 6px 3px;
  background: #CA0A10;
  color: white;
  border: 0px;
  transition: 200ms;
}

.usertext button {
  margin: 5px 5px 10px 0;
}

textarea {
  background-color: white;
  color: black;
}
