.toggle-red-mode-button {
  display: flex;
  position: fixed;
  bottom: 20px;
  left: 30px;
  z-index: 99;
  border-radius: 50%;
  text-align: center;
  line-height: 40px;
  cursor: pointer;
  transition: border 0.2s ease-out, color 0.2s ease-out, background-color 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
  color: var(--red_white);
  background-color: var(--white_red);
  border: 2px solid var(--red_white);
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
}

.toggle-red-mode-button:hover {
  color: var(--white_red);
  background-color: var(--red_white);
  border: 2px solid var(--white_red);
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
}
