<button (click)="toggleRedTheme()" class="toggle-red-mode-button">
  <!-- Light Mode (Light Bulb) Icon with Thicker Stroke -->
  <svg
    xmlns="http://www.w3.org/2000/svg"
    fill="none"
    viewBox="0 0 24 24"
    stroke="currentColor"
    class="icon-lg m-1"
    style="height: 1.7em; width: 1.1em;"
  >
    <path
      d="M12 2c-5.523 0-10 4.477-10 10s4.477 10 10 10 10-4.477 10-10-4.477-10-10-10z"
      stroke-width="4"
    />
    <path
      d="M17.788 11.121a1 1 0 0 1 0 1.414l-4 4a1 1 0 0 1-1.414 0 1 1 0 0 1 0-1.414l4-4a1 1 0 0 1 1.414 0z"
      stroke-width="4"
    />
    <path
      d="M16.374 9.292a1 1 0 0 1 1.415 0 1 1 0 0 1 0 1.415l-4 4a1 1 0 0 1-1.415 0 1 1 0 0 1 0-1.414l4-4a1 1 0 0 1 0-1.415z"
      stroke-width="4"
    />
  </svg>
</button>
