.logout-text {
  font-family: var(--contentFontFamily);
  font-size: var(--contentFontSize);
  font-weight: var(--superBold);
  width:auto;
}

.logout-text:hover {

}

/* .navbar-btn-group {
  margin-left: 10px;
  padding: 0;
  padding-right: 8px;
  padding-left: 8px;
  height: 40px;
  line-height: 28px;
  border: 1px solid #e0e0e0;
  flex:1;
  background-color: #9e0101;
  color: #fff;
} */

.logout-button {
  margin-left: 10px;
  padding: 0;
  padding-right: 8px;
  padding-left: 8px;
  height: 40px;
  line-height: 28px;
  border: 2px solid #e0e0e0;
  flex:1;
  background-color: #740101;
  color: #fff;
  width:100%;
  font-family: var(--contentFontFamily);
  font-size: var(--contentFontSize);
  font-weight: var(--superBold);
}



