.logout-button {
  padding: 0;
  padding-right: 8px;
  padding-left: 8px;
  height: 40px;
  line-height: 28px;
  border: 1px solid var(--white_color);
  background-color: var(--red_black);
  color: var(--title_color);
  width:100%;
  font-family: var(--inter);
  font-size: var(--body_font);
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
  min-width: 107px;
  border-radius: 0;
  font-size: 1rem;
  border: 2px solid transparent;
  border-image: url(https://wa-cdn.nyc3.cdn.digitaloceanspaces.com/assets/themes/steampunk/images/border.png) 30;
}

#logoutBtn:hover {
  -webkit-animation: bounce 3.5s ease-in-out infinite;
  animation: bounce 3.5s ease-in-out infinite;
  animation-timing-function: ease-in-out;
  -webkit-animation-timing-function: cubic-bezier(.4,.245,.58,1.42);
  animation-timing-function: cubic-bezier(.4,.245,.58,1.42);
  cursor: pointer;
}

@keyframes bounce {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  5% {
    -webkit-transform: scale(1.05, 1);
    transform: scale(1.05, 1);
  }
  100%, 15% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
