.modal-wrapper {
  background-color: var(--black_color);
}

.dialog-title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
}

h2[mat-dialog-title] {
  color: white;
  padding: 15px;
  font-family: var(--inter);
}

button[mat-button] {
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 5px;
  font-family: var(--inter);
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
  border-radius: 0;
  border: 3px solid transparent;
  border-image: url(https://wa-cdn.nyc3.cdn.digitaloceanspaces.com/assets/themes/steampunk/images/border.png) 30;
}

.dialog-content {
  padding: 20px;
}

.dialog-input {
  width: 100%;
}

.dialog-actions {
  display: flex;
  justify-content: space-between;
}

.cancel-button {
  background-color: var(--white_color);
  color: #333;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
}

.create-button {
  background-color: var(--red_color);
  color: white;
  font-family: var(--inter);
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
}

.create-button:hover {
  background-color: var(--red_hover);
}

::ng-deep .mat-mdc-dialog-container .mdc-dialog__surface {
  background-color: var(--white_color);
}

::ng-deep .mat-mdc-checkbox label {
  cursor: pointer;
  font-family: var(--inter);
  font-size: var(--medium);
}

::ng-deep .mdc-dialog__content > div {
  display: flex;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
  padding:5px;
  margin-bottom: 5px;
}
::ng-deep .mat-mdc-dialog-container .mdc-dialog__surface {
  border-radius: 0 !important;
}

.label-name {
  color: #fff;
}

::ng-deep .mat-mdc-dialog-container .mdc-dialog__surface {
  border: 3px solid transparent;
  border-image: url(https://wa-cdn.nyc3.cdn.digitaloceanspaces.com/assets/themes/steampunk/images/border.png) 20;
  border-radius: 0 !important;
}
